Repository bcgov/jag-file-submission, pull requests merged in 2020-11, with the labels that each got.

#1022 Fix workflow failures
  .gitignore
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImpl.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
Labels: QA, READY FOR REVIEW, testing

#1035 🤖 Transformers, frontend dependabots in disguise
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, MORE THAN MEETS THE EYE 🤖, READY FOR REVIEW, dependencies, frontend

#1037 Adding court validation
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/CourtConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/models/GetCourtDetailsRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/models/IsValidCourtRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/services/CourtService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/services/CourtServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/GetValidPartyRoleRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidator.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/Notification.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/court/CourtConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/court/services/CourtServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fakes/CourtServiceFake.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fakes/EfilingCourtServiceFake.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/GetValidPartyRoleRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GetValidPartyRolesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingCourtService.java
Labels: efiling-api, java

#1038 Adding fileNumber validation
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/models/IsValidCourtFileNumberRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/services/CourtService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/services/CourtServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/court/services/CourtServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fakes/CourtServiceFake.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
Labels: efiling-api, java

#1039 Adding document validation to the api
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/models/GetValidDocumentTypesRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fakes/DocumentServiceFake.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fakes/EfilingDocumentServiceFake.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GetValidPartyRolesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/createSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
Labels: efiling-api, java

#1040 Setting v0.4.2
  src/backend/efiling-api/pom.xml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/pom.xml
Labels: deploy, version

#1042 Court Lookup OpenApi
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/lookup/LookupApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/lookup/lookupApiDelegateImpl/GetCourtInformationTest.java
Labels: (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, OpenApi Change, READY FOR REVIEW, efiling-api, over1000

#1045 Update version to snapshot
  src/backend/efiling-api/pom.xml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/pom.xml
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-frontend/package.json
Labels: GOTTA GO FAST

#1043 adding ceis api project
  src/backend/libs/efiling-ceis-api-client/ceis-ords-swagger.yaml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-ceis-api-client/src/main/resources/META-INF/spring.factories
  src/backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ )

#1044 Update to list
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CourtsApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/lookup/LookupApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/courts/GetCourtLocationsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/lookup/lookupApiDelegateImpl/GetCourtInformationTest.java
  src/backend/libs/efiling-ceis-api-client/pom.xml
Labels: (⌐■_■)ノ＼(■_■ )

#1046 Adding mock data
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CourtsApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/courts/GetCourtLocationsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, java, lookup service

#1048 Update spec make address 2 and 3 not required
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CourtsApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/courts/GetCourtLocationsTest.java
Labels: OpenApi Change, efiling-api, handle it

#1047 Add missing annotation
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CourtsApiDelegateImpl.java
Labels: HUGE

#1050 adding home to package.json
  src/frontend/efiling-frontend/package.json
Labels: bug, porkchop sandwiches

#1064 🎸 🎸 🎩 adding slashhhhh 🎩 🎸 🎸
  src/frontend/efiling-frontend/package.json
Labels: 1 LOVE, GOTTA GO FAST, HUGE, dumb dumb, frontend

#1049 ceis lookup implementation
  .env.template
  README.md
  docker-compose.yml
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CeisLookupAdapterImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CourtsApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CourtsConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/mappers/CourtLocationMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/courts/GetCourtLocationsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/courts/adapter/CeisLookupAdapterImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/courts/config/CourtsConfigurationTest.java
  src/backend/libs/efiling-ceis-api-client/ceis-ords-swagger.yaml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-ceis-api-client/src/main/java/ca/bc/gov/open/jag/ceis/AutoConfiguration.java
  src/backend/libs/efiling-ceis-api-client/src/main/java/ca/bc/gov/open/jag/ceis/CeisProperties.java
  src/backend/libs/efiling-ceis-api-client/src/main/resources/META-INF/spring.factories
  src/backend/libs/efiling-ceis-api-client/src/test/java/ca/bc/gov/ca/open/jag/ceis/AutoConfigurationTest.java
  src/backend/libs/efiling-ceis-api-client/src/test/java/ca/bc/gov/ca/open/jag/ceis/CeisPropertiesTest.java
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/adapter/CeisLookupAdapter.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Address.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/InternalCourtLocation.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/utils/BooleanUtils.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingCeisLookupAdapterDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/AutoConfigurationTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingCeisLookupAdapterDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), DO NOT MERGE, GOTTA GO FAST, HUGE, Humongous big, It's Working!, LARGE, MONOLITHIC, MORE THAN MEETS THE EYE 🤖, OpenApi Change, READY FOR REVIEW, demo, docker, documentation, efiling-api, enhancement, handle it, help given, java, lookup service, over1000, porkchop sandwiches, requires openshift changes, stellar, yuge

#1066 Redirect change from efiling to efilinghub
  src/frontend/efiling-frontend/src/App.js
Labels: bug, frontend

#1069 Adding basic auth to ords endpoint
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CeisLookupAdapterImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-ceis-api-client/src/main/java/ca/bc/gov/open/jag/ceis/AutoConfiguration.java
  src/backend/libs/efiling-ceis-api-client/src/main/java/ca/bc/gov/open/jag/ceis/CeisProperties.java
  src/backend/libs/efiling-ceis-api-client/src/test/java/ca/bc/gov/ca/open/jag/ceis/CeisPropertiesTest.java
Labels: (⌐■_■)ノ＼(■_■ )

#1071 Remove set-env deprecated code
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: ci/cd

#1081 Updated docker compose to address test failures
  docker-compose.yml
Labels: QA, docker, tiny small

#1093 Adding court identifier code
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/mappers/CourtLocationMapper.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/InternalCourtLocation.java
Labels: OpenApi Change, java, porkchop sandwiches

#1094 add new field and update failing test
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingCeisLookupAdapterDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImplTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingCeisLookupAdapterDemoImplTest.java
Labels: GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, backend-demo, tiny small
