Repository bcgov/jag-file-submission, pull requests merged in 2020-08, with the labels that each got.

#501 Adding ssl configuration to backend
  src/backend/efiling-api/src/main/resources/application.yml
Labels: efiling-api, java

#503 Fix createcso account call payload
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
Labels: 1 LOVE, READY FOR REVIEW, bug, frontend

#502 Re-naming fla-springboot to efiling-api
  openshift/applications/builds/efiling-api-bc.yaml
  openshift/applications/routes/efiling-api-route.yaml
  openshift/applications/services/efiling-api-service.yaml
Labels: ci/cd, openshift

#505 fix refresh issue with keycloak js
  src/frontend/efiling-demo/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/src/components/hoc/AuthenticationGuard.js
Labels: 1 LOVE, READY FOR REVIEW, bug, frontend, javascript

#504 Adding account and client ids to submission
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
Labels: efiling-api, porkchop sandwiches

#510 Add async storyshot support, fix tests and console warnings
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/cancel/__snapshots__/Cancel.stories.storyshot
  src/frontend/efiling-demo/src/components/page/error/__snapshots__/Error.stories.storyshot
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.stories.js
  src/frontend/efiling-demo/src/components/page/home/Home.test.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.stories.storyshot
  src/frontend/efiling-demo/src/storyshots.test.js
  src/frontend/efiling-demo/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, bug, enhancement, frontend, javascript

#509 Keycloak IDP defaulting
  src/frontend/efiling-demo/.env.example
  src/frontend/efiling-demo/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/.env.example
  src/frontend/efiling-frontend/src/components/hoc/AuthenticationGuard.js
Labels: Humongous big, It's Working!, READY FOR REVIEW, Stressful, frontend, javascript, keycloak, many tries, up for discussion

#500 Starting to implement full submission process
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/createSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/CreateServiceTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/utils/DateUtils.java
Labels: OpenApi Change, READY FOR REVIEW, efiling-api, java, porkchop sandwiches, stellar, up for discussion

#511 Remove 🐰 🐇 and Worker
  README.md
  docker-compose.yml
  src/backend/efiling-worker/README.md
  src/backend/efiling-worker/pom.xml
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/EfilingMessageConsumer.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/EfilingWorkerApplication.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/Keys.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/config/EfilingWorkerConfig.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/service/DocumentStoreService.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/service/MockDocumentStoreServiceImpl.java
  src/backend/efiling-worker/src/main/resources/application-splunk.yml
  src/backend/efiling-worker/src/main/resources/application.yml
  src/backend/efiling-worker/src/main/resources/logback-access.xml
  src/backend/efiling-worker/src/main/resources/logback-splunk.xml
  src/backend/efiling-worker/src/main/resources/logback.xml
  src/backend/efiling-worker/src/test/java/ca/bc/gov/open/jag/efilingworker/EfilingMessageConsumerTest.java
  src/backend/efiling-worker/src/test/java/ca/bc/gov/open/jag/efilingworker/config/EfilingWorkerConfigTest.java
  src/backend/efiling-worker/src/test/java/ca/bc/gov/open/jag/efilingworker/service/MockDocumentStoreServiceImplTest.java
  src/backend/pom.xml
Labels: 1 LOVE, It's Working!, READY FOR REVIEW, collab, efiling-api, enhancement

#512 convert to template
  openshift/applications/builds/react-web-app-builder-bc.yaml
Labels: ci/cd, openshift

#513 Add additional file upload
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/uploadAdditionalSubmissionDocumentsTest.java
Labels: OpenApi Change, READY FOR REVIEW, efiling-api, java, tiny small

#514 React Web App Builder Template Update
  openshift/applications/builds/react-web-app-builder-bc.yaml
Labels: ci/cd, dumb dumb, openshift

#515 Update react-web-app-builder-bc.yaml
  openshift/applications/builds/react-web-app-builder-bc.yaml
Labels: ci/cd

#521 Adding update documents endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
Labels: OpenApi Change, efiling-api, java

#522 adding steps for the nginx template
  openshift/applications/builds/react-web-app-builder-bc.yaml
  openshift/applications/builds/static-web-app-running-on-nginx-bc.yaml
  openshift/jenkins/efiling-frontend-jenkins.yaml
  openshift/jenkins/jenkinsfile
Labels: ci/cd, openshift

#524 Missing Ident -
  openshift/applications/builds/static-web-app-running-on-nginx-bc.yaml
Labels: ci/cd, openshift

#525 adding path back
  openshift/applications/builds/static-web-app-running-on-nginx-bc.yaml
Labels: ci/cd, openshift

#526 fix paths?
  openshift/applications/builds/static-web-app-running-on-nginx-bc.yaml
Labels: ci/cd, openshift

#527 re-commenting out paths, plus more
  openshift/applications/builds/static-web-app-running-on-nginx-bc.yaml
Labels: ci/cd, openshift

#529 FLA-362 Implement isAmendment and isSupremeCourtScheduling on document model
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/cache/CacheConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/lookup/LookupApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
Labels: OpenApi Change, efiling-api, java

#531 Adding bambora client generation
  src/backend/libs/efiling-bambora-api-client/payments-swagger.yaml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/pom.xml
Labels: HUGE, java

#532 Adding Static App on NGINX build config to tools
  openshift/applications/builds/static-web-app-running-on-nginx-bc.yaml
  openshift/jenkins/efiling-frontend-jenkins.yaml
Labels: ci/cd, openshift

#534 Submission process implementation part 1
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingDocument.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingFilingPackage.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingPackageAuthority.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingSubmissionService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/FilingPackageMapper.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/TestHelpers.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/AddServiceTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/UpdateServiceTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/filingSubmissionServiceDemoImplTest.java
Labels: READY FOR REVIEW, efiling-cso-starter, java

#541 Submission Creation
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/createSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
Labels: OpenApi Change, efiling-api, java

#544 Update postman collection
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
Labels: porkchop sandwiches

#545 Openshift Templates
  openshift/applications/templates/efiling-api-jenkins.yaml
  openshift/applications/templates/efiling-frontend-jenkins.yaml
  openshift/jenkins/efiling-api-pipeline.yaml
  openshift/jenkins/jag-file-submission-libs.yaml
  openshift/jenkins/react-web-app-demo.yaml
  openshift/jenkins/react-web-app.yaml
Labels: ci/cd, handle it, many tries, openshift

#552 Formatting/Code Clean-up Nexus Pipeline
  openshift/jenkins/efiling-api-pipeline.yaml
  openshift/jenkins/jag-file-submission-libs.yaml
  openshift/jenkins/react-web-app.yaml
Labels: ci/cd, openshift

#528 Ability to upload additional documents! 📖
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/components/page/cancel/__snapshots__/Cancel.stories.storyshot
  src/frontend/efiling-demo/src/components/page/cancel/__snapshots__/Cancel.test.js.snap
  src/frontend/efiling-demo/src/components/page/error/__snapshots__/Error.stories.storyshot
  src/frontend/efiling-demo/src/components/page/error/__snapshots__/Error.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.stories.storyshot
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.css
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/page.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/Upload.css
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.stories.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/modules/courtTestData.js
  src/frontend/efiling-frontend/src/modules/documentTestData.js
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, HUGE, Humongous big, It's Working!, READY FOR REVIEW, enhancement, frontend, javascript, tiny small

#562 Create service on submission
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingSubmissionService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/ServiceMapper.java
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/ServiceFacade.wsdl
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/AddServiceTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/filingSubmissionServiceDemoImplTest.java
Labels: 1 LOVE, efiling-api, java

#564 Create zap-scan.conf
  openshift/zap/zap-scan.conf
Labels: ci/cd, openshift

#563 Prevent duplicate file upload and also add fix for continue button enabled state
  src/frontend/efiling-frontend/src/components/page/upload/Upload.css
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
Labels: 1 LOVE, READY FOR REVIEW, bug, enhancement, frontend, javascript

#566 Make submit call and fix error redirects and some mobile button styles
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#555 Bambora Payment Implementation
  src/backend/efiling-api/README.md
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/BamboraPaymentAdapter.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/payment/BamboraPaymentAdapterTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/createSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/AutoConfiguration.java
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/BamboraProperties.java
  src/backend/libs/efiling-bambora-api-client/src/main/resources/META-INF/spring.factories
  src/backend/libs/efiling-bambora-api-client/src/test/java/ca/bc/gov/ca/open/jag/bambora/AutoConfigurationTest.java
  src/backend/libs/efiling-bambora-api-client/src/test/java/ca/bc/gov/ca/open/jag/bambora/BamboraPropertiesTest.java
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingDocument.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingPayment.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingPaymentService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingSubmissionService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/filingSubmissionServiceDemoImplTest.java
Labels: efiling-api, efiling-cso-starter, java

#580 Get browser back button working as expected
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/src/modules/handleBackEvent.js
Labels: 1 LOVE, READY FOR REVIEW, bug, enhancement, frontend, javascript

#581 Creating baseline zap file
  .github/workflows/zap-baseline.yaml
Labels: ci/cd, openshift

#579 Implement payment in submission
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/BamboraPaymentAdapter.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/payment/BamboraPaymentAdapterTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/FinancialTransactionMapper.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/TestHelpers.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
Labels: efiling-api, efiling-cso-starter, java, porkchop sandwiches

#583 FLA-383 modify api to display card on file
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/efilling-api.postman_environment.json
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/AccountDetails.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/AccountDetailsMapper.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/GetAccountDetailsTest.java
Labels: OpenApi Change, READY FOR REVIEW, efiling-api, java

#585 FLA-387 fix registered card
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/AccountDetailsMapper.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
Labels: READY FOR REVIEW, efiling-api, java, porkchop sandwiches

#584 Fix valid exit cases when using beforeunload listener
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/src/modules/errorRedirect.js
Labels: 1 LOVE, READY FOR REVIEW, bug, frontend, javascript

#587 💳 isCardRegistered - Show proper credit card alert for payment
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/modules/creditCardAlerts.js
  src/frontend/efiling-frontend/src/modules/userDetails.js
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#588 Styling change for credit card alert
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/modules/creditCardAlerts.js
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript, tiny small

#590 🗑️ Move modules into helpers and test-data folders
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.stories.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.stories.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.stories.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.stories.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
  src/frontend/efiling-frontend/src/modules/helpers/authenticationHelper.js
  src/frontend/efiling-frontend/src/modules/helpers/creditCardAlerts.js
  src/frontend/efiling-frontend/src/modules/helpers/csoAccountAgreementContent.js
  src/frontend/efiling-frontend/src/modules/helpers/errorRedirect.js
  src/frontend/efiling-frontend/src/modules/helpers/generateFileSummaryData.js
  src/frontend/efiling-frontend/src/modules/helpers/handleBackEvent.js
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
  src/frontend/efiling-frontend/src/modules/helpers/translateApplicantInfo.js
  src/frontend/efiling-frontend/src/modules/test-data/applicantInfoTestData.js
  src/frontend/efiling-frontend/src/modules/test-data/confirmationPopupTestData.js
  src/frontend/efiling-frontend/src/modules/test-data/courtTestData.js
  src/frontend/efiling-frontend/src/modules/test-data/documentTestData.js
  src/frontend/efiling-frontend/src/modules/test-data/navigationTestData.js
  src/frontend/efiling-frontend/src/modules/test-data/userDetailsTestData.js
Labels: 1 LOVE, LARGE, READY FOR REVIEW, enhancement, frontend, good first issue, javascript

#591 Update Bambora Properties
  src/backend/efiling-api/README.md
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/AutoConfiguration.java
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/BamboraProperties.java
  src/backend/libs/efiling-bambora-api-client/src/test/java/ca/bc/gov/ca/open/jag/bambora/BamboraPropertiesTest.java
Labels: java

#592 Update react-web-app.yaml
  openshift/jenkins/react-web-app.yaml
Labels: ci/cd, openshift

#604 FE Test coverage is 💯 % 💚
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.stories.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
  src/frontend/efiling-frontend/src/modules/helpers/authentication-helper/authenticationHelper.js
  src/frontend/efiling-frontend/src/modules/helpers/authentication-helper/authenticationHelper.test.js
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
Labels: 1 LOVE, It's Working!, READY FOR REVIEW, enhancement, frontend, frontend-tests, javascript, porkchop sandwiches, stellar

#605 FLA-389: Prevent submit if no credit card registered with CSO
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#606 readme updates
  src/frontend/efiling-demo/README.md
  src/frontend/efiling-frontend/README.md
Labels: 1 LOVE, documentation, enhancement, frontend

#607 Updating Diagram
  docs/integration.md
Labels: ci/cd, documentation

#608 #rushisthenewshare 😆
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/rush/Rush.css
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.stories.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.test.js
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#609 FLA-382 process payment
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/BamboraPaymentAdapter.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/PaymentConstants.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/payment/BamboraPaymentAdapterTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/libs/efiling-bambora-api-client/payments-swagger.yaml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/PaymentProfileResponseCodes.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/AccountDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingPayment.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingTransaction.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/utils/DateUtils.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/Keys.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/AccountDetailsMapper.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/FinancialTransactionMapper.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/TestHelpers.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/GetAccountDetailsTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
Labels: HUGE, It's Working!, OpenApi Change, READY FOR REVIEW, TEAMWORK! (⌐■_■), collab, documentation, efiling-api, efiling-cso-starter, enhancement, good first issue, handle it, java, porkchop sandwiches, requires openshift changes, stellar

#622 Shared Libs to Nexus Template
  openshift/jenkins/shared-lib-starter-pipeline.yaml
Labels: ci/cd, openshift

#623 Add datepicker to rush submission page and make textarea label required
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#626 Remove duplicate ignores
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-frontend/package.json
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#625 Link the rush submission page to payment page
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.stories.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.stories.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.stories.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.test.js
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/Upload.stories.js
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
Labels: 1 LOVE, It's Working!, READY FOR REVIEW, TEAMWORK! (⌐■_■), enhancement, frontend, javascript

#628 Rush submission feature configs
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.test.js
Labels: 1 LOVE, It's Working!, READY FOR REVIEW, enhancement, frontend, javascript

#629 fix issue with storybook story not rendering properly
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.stories.js
Labels: 1 LOVE, READY FOR REVIEW, bug, enhancement, frontend

#630 Add temp sidecards to rush submission page
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#631 📆 Mock date in tests to ensure tests dont keep failing
  src/frontend/efiling-frontend/src/components/page/rush/Rush.stories.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.test.js
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, bug, enhancement, frontend

#624 Implement SFTP
  .github/workflows/code-climate-coverage-aggregation.yml
  README.md
  docker-compose.yml
  src/backend/efiling-api/README.md
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/createSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
Labels: TEAMWORK! (⌐■_■), efiling-api, java, porkchop sandwiches

#642 Add loader to buttons for longer backend onclick actions
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#643 Adding BCeID lookup endpoint, get name data from BCeID
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/BceidAccountApiDelagateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/BceidAccountApiDelegateImplTest.java
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/modules/helpers/translateApplicantInfo.js
  src/frontend/efiling-frontend/src/modules/test-data/applicantInfoTestData.js
  src/frontend/efiling-frontend/src/types/propTypes.js
Labels: 1 LOVE, READY FOR REVIEW, TEAMWORK! (⌐■_■), efiling-api, enhancement, frontend, java, javascript

#645 Wording change
  docs/integration.md
Labels: TEAMWORK! (⌐■_■), ci/cd, documentation

#658 Updated wsdl files
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/FilingFacade.wsdl
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/FilingStatusFacade.wsdl
Labels: wsdl

#657 Adding Onboarding Template for issues
  .github/ISSUE_TEMPLATE/onboarding-request.md
Labels: documentation

#646 Keycloak Onboarding Documentation
  docs/_sidebar.md
  docs/onboarding.md
Labels: documentation, keycloak

#659 Adding Bug Report Template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

#661 Add link to actual issue
  docs/onboarding.md
Labels: documentation

#663 Filling package population
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoCourtServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/FilingPackageMapper.java
Labels: OpenApi Change, READY FOR REVIEW, efiling-api, efiling-cso-starter, java, porkchop sandwiches

#668 Adding application configuration bceid
  src/backend/efiling-api/src/main/resources/application.yml
Labels: java

#669 Adding get level and description
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingCourtService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoCourtServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoCourtService/GetCourtDescriptionTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtServiceDemoImplTest.java
Labels: READY FOR REVIEW, efiling-cso-starter, java

#677 FLA 308: 💰 0 text 💵
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.stories.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/modules/helpers/generateFileSummaryData.js
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#678 Versioning js file to refresh cache
  src/frontend/efiling-frontend/public/index.html
Labels: 1 LOVE, bug, frontend

#675 Submit filing package
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionConstants.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/DocumentDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingDocument.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingDocumentMilestone.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingDocumentPayment.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingDocumentStatus.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingIdentificationDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingParties.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoDocumentServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/CsoProperties.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/FilingPackageMapper.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoStatusServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImplTest.java
Labels: HUGE, Humongous big, LARGE, MONOLITHIC, OpenApi Change, READY FOR REVIEW, TEAMWORK! (⌐■_■), efiling-api, efiling-cso-starter, java, porkchop sandwiches, stellar, that's a lot of code

#684 🚢 fix docker compose
  .github/workflows/code-climate-coverage-aggregation.yml
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/libs/efiling-bom/pom.xml
Labels: 1 LOVE, bug, docker, efiling-api

#691 Dependonme
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, frontend

#692 Update index.html to test if approach for invalidating cache is working
  src/frontend/efiling-frontend/public/index.html
Labels: 1 LOVE, frontend

#693 Adding parties to filing package
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionConstants.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/createSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingFilingPackage.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingIdentificationDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingParties.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/FilingPackageMapper.java
Labels: efiling-api, efiling-cso-starter, java

#685 🗑️ Delete submission endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStore.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStore.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStoreImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/DeleteByKeyTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/DeleteSubmissionTest.java
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/components/page/cancel/Cancel.stories.js
  src/frontend/efiling-demo/src/components/page/error/Error.stories.js
  src/frontend/efiling-demo/src/components/page/home/Home.css
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.stories.js
  src/frontend/efiling-demo/src/components/page/home/Home.test.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/src/components/page/success/Success.stories.js
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
Labels: 1 LOVE, HUGE, LARGE, TEAMWORK! (⌐■_■), efiling-api, enhancement, frontend, java, javascript

#701 adding get the cso-application-code from token
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/Keys.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/SecurityUtils.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
Labels: TEAMWORK! (⌐■_■), efiling-api, java

#702 Re-add update
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
Labels: efiling-cso-starter, java

#744 Fix button styling payment page
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/page.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, TEAMWORK! (⌐■_■), bug, enhancement, frontend, javascript, tiny small

#737 Pull client app display name from backend and display in modal
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
Labels: 1 LOVE, OpenApi Change, READY FOR REVIEW, TEAMWORK! (⌐■_■), efiling-api, enhancement, frontend, help wanted, java, javascript

#745 Add Endpoint to Update Credit Card
  .github/workflows/code-climate-coverage-aggregation.yml
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/PaymentApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/payment/PaymentApiDelegateImplTest.java
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/BamboraProperties.java
  src/backend/libs/efiling-bom/pom.xml
Labels: OpenApi Change, dependencies

#758 Dependable
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, dependencies, frontend

#761 Update Dockerfile
  src/backend/Dockerfile
Labels: DO NOT MERGE, docker

#763 Implement update and getNextOrder
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/PaymentApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/AccountConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/payment/PaymentApiDelegateImplTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingAccountService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoAccountServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/GetAccountDetailsTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/GetOrderNumberTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/UpdateClientTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImplTest.java
Labels: efiling-api, efiling-cso-starter, java

#759 Register card - backend changes for endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/PaymentApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/AccountConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/payment/PaymentApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateClientDetailsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/AccountDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingAccountService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoAccountServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/GetOrderNumberTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/UpdateClientTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/frontend/efiling-frontend/src/types/propTypes.js
Labels: 1 LOVE, HUGE, It's Working!, OpenApi Change, READY FOR REVIEW, efiling-api, enhancement, java

#764 Add data to object
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingDocument.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
Labels: OpenApi Change, efiling-api, efiling-cso-starter, java

#776 Register a credit card Bambora (part 1)
  src/frontend/efiling-frontend/.env.example
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/src/modules/helpers/creditCardAlerts.js
  src/frontend/efiling-frontend/src/modules/test-data/userDetailsTestData.js
Labels: 1 LOVE, HUGE, READY FOR REVIEW, enhancement, frontend, javascript

#775 Dependafather 👨🗡️
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: dependencies, frontend

#777 version number update
  src/frontend/efiling-frontend/public/index.html
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#778 Adding parties to generate URL
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/createSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/DeleteSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
Labels: OpenApi Change, efiling-api, java, porkchop sandwiches

#760 Fix Docker Build
  .env.template
  docker-compose.yml
  src/backend/Dockerfile
Labels: docker

#780 update the env vars and fix spelling error
  README.md
Labels: 1 LOVE, bug, documentation

#783 Retrieve client to update
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoAccountServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/UpdateClientTest.java
Labels: efiling-cso-starter, java

#784 Depend on me father 👨
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, dependencies, enhancement, frontend, javascript

#785 Handle success case for credit card registering
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
Labels: 1 LOVE, It's Working!, READY FOR REVIEW, enhancement, frontend, javascript

#676 Adding ClamAv scanner for scanning files for virus
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/TikaAnalysis.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/DeleteSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateClientDetailsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UploadSubmissionDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/uploadAdditionalSubmissionDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/utils/TikaAnalysisTest.java
  src/backend/efiling-api/src/test/resources/test.pdf
  src/backend/efiling-api/src/test/resources/test.txt
  src/backend/libs/efiling-bom/pom.xml
Labels: Humongous big, It's Working!, LARGE, MONOLITHIC, Stressful, TEAMWORK! (⌐■_■), efiling-api, java, many tries, porkchop sandwiches, stellar

#786 Fix null pointer
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/frontend/efiling-demo/src/components/page/home/Home.js
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, READY FOR REVIEW, bug, efiling-api, enhancement, java

#788 Update the csows soap service
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/Csows.wsdl
Labels: wsdl

#789 Adding clamav to docker
  docker-compose.yml
Labels: docker

#790 Adding rush
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/lookup/lookupApiDelegateImpl/GetDocumentTypesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/DocumentDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/DocumentType.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoDocumentServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoStatusServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImpl.java
Labels: DO NOT MERGE, DRAFT, GOTTA GO FAST

#808 Refactoring API round 1
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/AccountConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/BceidAccountApiDelagateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/mappers/BceidAccountMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/mappers/CreateAccountRequestMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/mappers/CsoAccountMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/cache/CacheConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Court.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Document.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/FilingPackage.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Party.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/AccountConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/BceidAccountApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/cache/CacheConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/FilingPakageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/DeleteSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateClientDetailsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UploadSubmissionDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/uploadAdditionalSubmissionDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/utils/SecurityUtilsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/AccountDetails.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/AccountDetailsMapper.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/CreateAccountTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/GetAccountDetailsTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), HUGE, Humongous big, LARGE, MONOLITHIC, OpenApi Change, efiling-api, java, porkchop sandwiches, that's a lot of code, yuge

#810 🔑 🔑 SubmissionKey is the key 🔑 🔑
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionKey.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStore.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStoreImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/DeleteByKeyTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/GetByKeyTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/DeleteSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateClientDetailsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/uploadAdditionalSubmissionDocumentsTest.java
Labels: DO NOT MERGE, DRAFT

#809 Use GET /csoAccount endpoint to determine if csoaccount exists
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/modules/test-data/userDetailsTestData.js
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript, tiny small

#811 submission/submissionId/config endpoint renaming
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
Labels: 1 LOVE, READY FOR REVIEW, TEAMWORK! (⌐■_■), collab, efiling-api, enhancement, frontend, java, javascript

#812 POST set-cso-bambora-relation -> PUT csoAccount
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateClientDetailsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/AccountDetails.java
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
Labels: 1 LOVE, READY FOR REVIEW, TEAMWORK! (⌐■_■), collab, efiling-api, enhancement, frontend, java, javascript

#815 Fix undefined submissionId
  src/frontend/efiling-frontend/src/App.js
Labels: 1 LOVE, READY FOR REVIEW, bug, frontend, javascript

#817 Fix CSO base url and make environment based
  src/frontend/efiling-frontend/.env.example
  src/frontend/efiling-frontend/public/index.html
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/Rush.test.js
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
  src/frontend/efiling-frontend/src/storyshots.test.js
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, enhancement, frontend, javascript, tiny small
