Repository bcgov/jag-file-submission, pull requests merged in 2020-12, with the labels that each got.

#1121 Adding log for failed payment
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/BamboraPaymentAdapter.java
Labels: MORE THAN MEETS THE EYE 🤖

#1122 Fix court number bug
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/FilingPackageMapper.java
Labels: (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, efiling-cso-starter, java, porkchop sandwiches, stellar, tiny small

#1125 Bug Fix/Refactoring
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/CreateSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GenerateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/UpdateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, bug, efiling-api, java, porkchop sandwiches

#1126 Adding caching docker
  .github/workflows/cucumber-tests.yml
Labels: 1 LOVE, GOTTA GO FAST, ci/cd, docker, dumb dumb

#1142 Adding missing documentation
  src/backend/efiling-api/README.md
Labels: :pizza: :label:, documentation

#1147 Adding initial graphql quarkus app
  src/backend/efiling-graphql/.dockerignore
  src/backend/efiling-graphql/.gitignore
  src/backend/efiling-graphql/README.md
  src/backend/efiling-graphql/pom.xml
  src/backend/efiling-graphql/src/main/docker/Dockerfile.fast-jar
  src/backend/efiling-graphql/src/main/docker/Dockerfile.jvm
  src/backend/efiling-graphql/src/main/docker/Dockerfile.native
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/submission/ReviewResource.java
  src/backend/efiling-graphql/src/main/resources/application.properties
  src/backend/efiling-graphql/src/test/java/ca/bc/gov/open/jag/submission/ReviewResourceTest.java
  src/backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :pizza: :label:, :vulcan_salute: QUARK, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, java, porkchop sandwiches

#1165 Dockerizing graphql api
  README.md
  docker-compose.yml
  src/backend/Dockerfile.graphQlApi
  src/backend/efiling-graphql/.dockerignore
  src/backend/efiling-graphql/src/main/resources/application.properties
  src/backend/pom.xml
Labels: :vulcan_salute: QUARK, docker, porkchop sandwiches

#1163 Refactor common Setting up graphql
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/submission/ReviewResource.java
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoDocumentServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/SoapUtils.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/SoapUtilsTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/SoapProperties.java
Labels: :pizza: :label:, :vulcan_salute: QUARK, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖

#1143 Enabling demo mode
  .github/workflows/docker-buid.yaml
  docker-compose.yml
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/Keys.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CeisLookupAdapterImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CourtsApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/CourtsConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/courts/mappers/CourtLocationMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/courts/GetCourtLocationsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/courts/config/CourtsConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/CreateSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GetValidPartyRolesTest.java
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/AutoConfiguration.java
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/BamboraPaymentAdapter.java
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/PaymentConstants.java
  src/backend/libs/efiling-bambora-api-client/src/test/java/ca/bc/gov/ca/open/jag/bambora/BamboraPaymentAdapterTest.java
  src/backend/libs/efiling-bambora-api-client/src/test/java/ca/bc/gov/ca/open/jag/bambora/PaymentConstantsTest.java
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-ceis-api-client/src/main/java/ca/bc/gov/open/jag/ceis/AutoConfiguration.java
  src/backend/libs/efiling-ceis-api-client/src/main/java/ca/bc/gov/open/jag/ceis/CeisCourtLocationMapper.java
  src/backend/libs/efiling-ceis-api-client/src/main/java/ca/bc/gov/open/jag/ceis/CeisCourtLocationServiceImpl.java
  src/backend/libs/efiling-ceis-api-client/src/test/java/ca/bc/gov/ca/open/jag/ceis/AutoConfigurationTest.java
  src/backend/libs/efiling-ceis-api-client/src/test/java/ca/bc/gov/ca/open/jag/ceis/EfilingCeisCourtLocationServiceImplTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/adapter/CeisLookupAdapter.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/court/EfilingCourtLocationService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingCourtLocationServiceException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/payment/PaymentAdapter.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtLocationServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/AutoConfigurationTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingEfilingCourtLocationServiceDemoImplTest.java
Labels: demo

#1167 Simple Status Implementation
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingStatusServiceException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/FilePackage.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingStatusService.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoStatusServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentTypesTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoStatusServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, :pizza: :label:, :vulcan_salute: QUARK, DO NOT MERGE, DRAFT, Git Action, HUGE, Humongous big, It's Working!, LARGE, MONOLITHIC, MORE THAN MEETS THE EYE 🤖, Onboarding, OpenApi Change, QA, READY FOR REVIEW, Stressful, TEAMWORK! (⌐■_■), backend-demo, backend-tests, breaking change, bug, ci/cd, collab, demo, dependencies, deploy, docker, documentation, dumb dumb, duplicate, efiling-account-client, efiling-api, efiling-cso-starter, efiling-facade, efiling-worker, enhancement, file-submission-worker, frontend, frontend-tests, good first issue, handle it, help given, help wanted, invalid, java, javascript, keycloak, logging, lookup service, many tries, openshift, over1000, porkchop sandwiches, question, refresh :arrows_counterclockwise:, release, requires openshift changes, splunk, status service, stellar, testing, that's a lot of code, tiny small, up for discussion, version, wontfix, wsdl, yuge

#1168 Adding soap service to quarkus
  src/backend/efiling-graphql/pom.xml
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/submission/ReviewResource.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/submission/config/StatusConfig.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/submission/config/StatusProperties.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/submission/model/FilePackageOutput.java
  src/backend/efiling-graphql/src/main/resources/application.properties
  src/backend/efiling-graphql/src/test/java/ca/bc/gov/open/jag/submission/ReviewResourceTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/FilePackage.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/EfilingSubmissionTestService.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoEfilingSubmittionTestServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoStatusServiceImpl.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoStatusServiceImpl/FindPackageByIdTest.java
Labels: DO NOT MERGE, DRAFT

#1003 Package Review Base Page and Route
  src/backend/efiling-api/README.md
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.stories.js
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.test.js
  src/frontend/efiling-frontend/src/components/page/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-review/__snapshots__/PackageReview.test.js.snap
Labels: enhancement, frontend

#1171 Adding mapper and object
  src/backend/efiling-graphql/pom.xml
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/ReviewResource.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/config/StatusConfig.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/config/StatusProperties.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/mapper/FilingPackageMapper.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/model/Court.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/model/FilingPackage.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/submission/model/FilePackageOutput.java
  src/backend/efiling-graphql/src/test/java/ca/bc/gov/open/jag/packagereview/ReviewResourceTest.java
  src/backend/efiling-graphql/src/test/java/ca/bc/gov/open/jag/submission/ReviewResourceTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :pizza: :label:, :vulcan_salute: QUARK, MORE THAN MEETS THE EYE 🤖, Stressful, java, porkchop sandwiches

#1172 Updated Keycloak env variables on cucumber workflow
  .github/workflows/cucumber-tests.yml
  .gitignore
Labels: QA, READY FOR REVIEW

#1173 Add filing package endpoint to swagger
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filePackage/FilepackageApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filePackage/FilepackageApiDelegateImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-api, java

#1177 Optimized Docker files
  src/backend/Dockerfile
  src/frontend/Dockerfile
Labels: docker

#1176 Update swagger
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filePackage/FilepackageApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filePackage/FilepackageApiDelegateImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-api, java, porkchop sandwiches, refresh :arrows_counterclockwise:

#1180 apt-clean on api docker
  src/backend/Dockerfile
Labels: docker

#1181 removing docker image not custom
  .github/workflows/cucumber-tests.yml
  .github/workflows/docker-buid.yaml
  README.md
Labels: :bicyclist: cash

#1182 Adding endpoint logic and configurations
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filePackage/FilepackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filePackage/FilepackageApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
Labels: (⌐■_■)ノ＼(■_■ ), :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, READY FOR REVIEW, efiling-api, java, porkchop sandwiches, refresh :arrows_counterclockwise:

#1178 Court look up test and demo mode response changes
  .github/workflows/cucumber-tests.yml
  docs/_sidebar.md
  docs/data.md
  ocal
  src/backend/efiling-graphql/README.md
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtLocationServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/AutoConfigurationTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImplTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingEfilingCourtLocationServiceDemoImplTest.java
  tests/README.md
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CreateCsoAccountPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/paymentpayload/PaymentPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/AuthenticationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EFileSubmissionPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/PackageConfirmationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/FrontendTestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/GenerateUrlRequestBuilders.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/testdatatypes/CsoAccountGuid.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/features/afrontendfeatures/eFileSubmission.feature
  tests/src/test/java/features/backendfeatures/1-generateUrlAndSubmissionForExistingGuid.feature
  tests/src/test/java/features/backendfeatures/2-generateUrlAndSubmissionForNonExistingGuid.feature
  tests/src/test/java/features/backendfeatures/3-updateAndDeleteDocument.feature
  tests/src/test/java/features/backendfeatures/createCsoAccount.feature
  tests/src/test/java/features/backendfeatures/generatePaymentUpdateCard.feature
  tests/src/test/java/features/backendfeatures/getDocumentType.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/CreateCsoAccountTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionForNonExistingGuidTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
  tests/src/test/java/testdatasource/account-data.json
  tests/src/test/resources/config.properties
  tests/src/test/resources/local.properties
Labels: HUGE, LARGE, QA, READY FOR REVIEW, enhancement, help wanted

#1183 Added env variable to property file
  ocal
  tests/src/test/resources/config.properties
Labels: QA, tiny small

#1185 Service Implementation
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/config/StatusConfig.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoStatusServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoStatusServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, READY FOR REVIEW, efiling-api, java, porkchop sandwiches, refresh :arrows_counterclockwise:

#1201 Configured tests to run parallelly
  .gitignore
  tests/.gitignore
  tests/README.md
  tests/pom.xml
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
Labels: QA, enhancement

#1202 Implement demo mode
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/FilePackage.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/AutoConfigurationTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImplTest.java
Labels: :pizza: :label:

#1203 Remove graphql from docker compose
  .github/workflows/docker-buid.yaml
  docker-compose.yml
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, :vulcan_salute: QUARK, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, Stressful, docker, porkchop sandwiches, tiny small

#1205 Optimized and Refactored Cucumber Pipeline
  .github/workflows/cucumber-tests.yml
  Jenkinsfile
  docker-compose.yml
  scripts/installChrome.sh
  tests/pom.xml
Labels: docker, pipeline
