Repository bcgov/jag-file-submission, pull requests merged in 2020-09, with the labels that each got.

#821 Update /submission/config call
  src/backend/efiling-api/README.md
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/NavigationProperties.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/config/NavigationPropertiesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/frontend/efiling-frontend/.env.example
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/src/storyshots.test.js
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, TEAMWORK! (⌐■_■), collab, efiling-api, enhancement, frontend, java, javascript

#822 Remove delete icon from package confirmation screen as it is unused
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, frontend

#836 👨 Father please depend on me
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, dependencies, frontend

#823 Return package reference url
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/createSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/SubmitPackageResponse.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingSubmissionService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/CsoProperties.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/CsoPropertiesTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImplTest.java
  src/frontend/efiling-demo/src/App.js
  src/frontend/efiling-demo/src/components/page/page.css
  src/frontend/efiling-demo/src/components/page/success/Success.js
  src/frontend/efiling-demo/src/components/page/success/Success.stories.js
  src/frontend/efiling-demo/src/components/page/success/Success.test.js
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.stories.storyshot
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, TEAMWORK! (⌐■_■), efiling-api, enhancement, frontend, java, javascript, tiny small

#838 Removing package authority mapping
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/EfilingFilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionConstants.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingFilingPackage.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingIdentificationDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingPackageAuthority.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/Keys.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/FilingPackageMapper.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/PackageAuthorityMapper.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
Labels: efiling-api

#843 Confirmation popup button stylefixes
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/page.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, bug, frontend, javascript

#846 Fix cso post issue with payload inconsistency
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.stories.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, bug, frontend, javascript

#848 Re Add Calculated Date
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, GOTTA GO FAST, HUGE, Humongous big, It's Working!, LARGE, MONOLITHIC, Onboarding, OpenApi Change, QA, READY FOR REVIEW, Stressful, TEAMWORK! (⌐■_■), backend-demo, backend-tests, breaking change, bug, ci/cd, collab, demo, dependencies, docker, documentation, dumb dumb, duplicate, efiling-account-client, efiling-api, efiling-cso-starter, efiling-facade, efiling-worker, enhancement, file-submission-worker, frontend, frontend-tests, good first issue, handle it, help given, help wanted, invalid, java, javascript, keycloak, logging, lookup service, many tries, openshift, porkchop sandwiches, question, release, requires openshift changes, splunk, status service, stellar, testing, that's a lot of code, tiny small, up for discussion, wontfix, wsdl, yuge

#855 Fix payment flows and add warning state
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/modules/helpers/creditCardAlerts.js
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, GOTTA GO FAST, It's Working!, READY FOR REVIEW, bug, enhancement, frontend, javascript

#859 FE: Cleanup tests
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.stories.js
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, enhancement, frontend, javascript

#863 fix css warnings
  src/frontend/efiling-frontend/src/components/page/page.css
  src/frontend/efiling-frontend/src/components/page/upload/Upload.css
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend

#864 use latest shared components version
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, bug, frontend

#866 Fix bceid lookup call for demo mode
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
Labels: 1 LOVE, demo, docker, efiling-api, enhancement

#862 Fix Demo Mode and Docker Build
  docker-compose.yml
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, collab, demo, docker, enhancement, java

#875 👨 Fatherplsyoustillneedtodependonme
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, dependencies, enhancement, frontend, javascript

#876 Fix documentation to match swagger spec
  docs/gettingStarted.md
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, documentation

#877 Update types
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/CsoPartyMapper.java
Labels: efiling-api

#880 Remove demo starter from libs profile
  src/backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ )

#878 Fix submission errors
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/BamboraPaymentAdapter.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/payment/BamboraPaymentAdapterTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingPaymentException.java
Labels: GOTTA GO FAST, efiling-api

#881 Demo Mode: Update env vars and fix values
  src/frontend/efiling-demo/.env.example
  src/frontend/efiling-demo/public/index.html
  src/frontend/efiling-demo/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.stories.js
  src/frontend/efiling-demo/src/components/page/home/Home.test.js
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, breaking change, enhancement, frontend, keycloak

#883 fix docker
  src/backend/pom.xml
Labels: 1 LOVE, READY FOR REVIEW, bug, docker

#884 Update docker
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/pom.xml
Labels: GOTTA GO FAST

#886 Update party mapping to capitalize and upper first and last name
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/CsoPartyMapper.java
Labels: efiling-cso-starter

#887 fix styling
  docker-compose.yml
Labels: 1 LOVE, READY FOR REVIEW, documentation, dumb dumb

#885 Updated cucumber yml and tests
  .github/workflows/cucumber-tests.yml
  docker-compose.yml
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/AuthenticationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/CreateCsoAccountPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/PackageConfirmationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/FrontendTestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/GenerateUrlRequestBuilders.java
  tests/src/test/java/features/backendfeatures/1-generateUrlAndSubmissionForExistingGuid.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionForNonExistingGuidTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/UpdateAndDeleteDocumentTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
  tests/src/test/java/testdatasource/account-data.json
Labels: QA, READY FOR REVIEW, testing

#889 Update pull_request_template.md
  .github/pull_request_template.md
Labels: documentation

#888 Scan efiling frontend not efiling demo app
  .github/workflows/zap-baseline.yaml
Labels: 1 LOVE, READY FOR REVIEW, frontend

#890 Create docker-buid.yaml
  .github/workflows/docker-buid.yaml
Labels: Git Action

#891 use latest shared components version
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, dependencies, enhancement, frontend, javascript

#904 set default error message on redirect if doesnt exist in error response
  src/frontend/efiling-frontend/src/modules/helpers/errorRedirect.js
Labels: 1 LOVE, READY FOR REVIEW, bug, enhancement, frontend, javascript

#905 Fatherpls 👨
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, dependencies, frontend, javascript

#907 Fix Github actions timeout errors
  .github/workflows/cucumber-tests.yml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/Accounts.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CreateCsoAccountPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CsoPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/paymentpayload/PaymentPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/GenerateUrlHelper.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/AuthenticationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/CreateCsoAccountPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/PackageConfirmationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/FrontendTestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/CreateCsoAccountRequestBuilders.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/GenerateUrlRequestBuilders.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/LookUpRequestBuilders.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/PaymentRequestBuilders.java
  tests/src/test/java/features/backendfeatures/1-generateUrlAndSubmissionForExistingGuid.feature
  tests/src/test/java/features/backendfeatures/2-generateUrlAndSubmissionForNonExistingGuid.feature
  tests/src/test/java/features/backendfeatures/3-generateUrlAndSubmissionNegativeCases.feature
  tests/src/test/java/features/backendfeatures/4-updateAndDeleteDocument.feature
  tests/src/test/java/features/backendfeatures/createCsoAccount.feature
  tests/src/test/java/features/backendfeatures/generatePaymentUpdateCard.feature
  tests/src/test/java/features/backendfeatures/getDocumentType.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/CreateCsoAccountTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUpdateCardTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionForNonExistingGuidTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionNegativeTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GetDocumentTypeTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/UpdateAndDeleteDocumentTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
  tests/src/test/java/testdatasource/account-data.json
Labels: LARGE, QA, READY FOR REVIEW

#909 Update wsdl
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/FilingStatusFacade.wsdl
Labels: wsdl

#906 FLA-170 (Part 1& 2)
  docker-compose.yml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/createSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/updateDocumentsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingCourtService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingSubmissionService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoCourtServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoCourtService/GetCourtDescriptionTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtServiceDemoImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, efiling-api, enhancement, java

#910 Add env vars for request sizes
  src/backend/efiling-api/src/main/resources/application.yml
Labels: efiling-api

#912 change default return document type for demo mode
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImplTest.java
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, backend-demo, bug, java

#914 Updated frontend tests and flow
  .github/workflows/cucumber-tests.yml
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/AuthenticationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/CreateCsoAccountPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/DocumentUploadPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EFileSubmissionPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/LandingPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/PackageConfirmationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/FrontendTestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/GenerateUrlRequestBuilders.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/features/afrontendfeatures/eFileSubmission.feature
  tests/src/test/java/features/backendfeatures/1-generateUrlAndSubmissionForExistingGuid.feature
  tests/src/test/java/features/backendfeatures/2-generateUrlAndSubmissionForNonExistingGuid.feature
  tests/src/test/java/features/backendfeatures/3-updateAndDeleteDocument.feature
  tests/src/test/java/features/backendfeatures/createCsoAccount.feature
  tests/src/test/java/features/backendfeatures/generatePaymentUpdateCard.feature
  tests/src/test/java/features/backendfeatures/generateUrlAndSubmissionNegativeCases.feature
  tests/src/test/java/features/backendfeatures/getDocumentType.feature
  tests/src/test/java/features/frontendfeatures/eFileSubmission.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/CreateCsoAccountTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUpdateCardTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionForNonExistingGuidTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GetDocumentTypeTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/UpdateAndDeleteDocumentTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
Labels: HUGE, QA, READY FOR REVIEW

#915 Court file number validation
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingCourtService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoCourtServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/Csows.wsdl
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtServiceDemoImpl.java
Labels: 1 LOVE, READY FOR REVIEW, efiling-api, enhancement, java

#917 Update MD5 description
  docs/gettingStarted.md
  src/backend/efiling-api/jag-efiling-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), READY FOR REVIEW, documentation

#918 Make generateurl return false if no efile role present
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, efiling-api, enhancement, java

#919 🥒 Fix demo mode getaccountdetails to fix cucumber
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, GOTTA GO FAST, It's Working!, QA, READY FOR REVIEW, backend-demo, backend-tests, bug

#916 Parties validation for generateUrl call & refactoring
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingLookupService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoLookupServiceImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, It's Working!, READY FOR REVIEW, efiling-api, enhancement, java

#931 Frontend dependencies
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, dependencies, frontend, javascript

#932 Backend dependabot updates
  src/backend/efiling-api/pom.xml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-demo-starter/pom.xml
Labels: 1 LOVE, READY FOR REVIEW, dependencies, java

#934 Fix up packages as dev dependencies
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, GOTTA GO FAST, dependencies, frontend, javascript

#933 Fixing cucumber tests failure
  tests/src/test/java/features/afrontendfeatures/eFileSubmission.feature
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
Labels: 1 LOVE, GOTTA GO FAST, QA, READY FOR REVIEW, frontend-tests, testing

#935 Looking into FE ZAP scan and clean up
  docs/media/demoApp.png
  src/frontend/efiling-demo/public/favicon.ico
  src/frontend/efiling-demo/public/index.html
  src/frontend/efiling-demo/public/manifest.json
  src/frontend/efiling-frontend/public/favicon.ico
  src/frontend/efiling-frontend/public/index.html
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend

#936 FLA-490
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/frontend/efiling-demo/src/components/page/home/Home.js
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, READY FOR REVIEW, bug, frontend, javascript

#937 Fix data in document json not passing through
  README.md
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, It's Working!, TEAMWORK! (⌐■_■), bug, efiling-api, java

#938 Fix accessibility issue by adding h1 tag
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, bug, frontend

#939 Use latest shared component lib
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/components/page/cancel/__snapshots__/Cancel.stories.storyshot
  src/frontend/efiling-demo/src/components/page/cancel/__snapshots__/Cancel.test.js.snap
  src/frontend/efiling-demo/src/components/page/error/__snapshots__/Error.stories.storyshot
  src/frontend/efiling-demo/src/components/page/error/__snapshots__/Error.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.stories.storyshot
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, frontend

#940 Fix accessibility issues on eFiling frontend
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, GOTTA GO FAST, It's Working!, READY FOR REVIEW, bug, enhancement, frontend, javascript

#954 🤖 Transformers, frontend dependabots in disguise
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, dependencies, frontend

#955 🤖 Transformers, backend dependabots in disguise
  src/backend/libs/efiling-bom/pom.xml
Labels: 1 LOVE, READY FOR REVIEW, dependencies, efiling-api

#956 Add summary to readme
  README.md
Labels: 1 LOVE, LARGE, MONOLITHIC, READY FOR REVIEW, documentation, that's a lot of code, tiny small
