Repository bcgov/jag-file-submission, pull requests merged in 2020-06, with the labels that each got.

#4 Adding Repo Basics
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/release_template.md
  .gitignore
  .splunk/inputs.conf
  .splunk/outputs.conf
  CONTRIBUTING.md
  Jenkinsfile
  docs/swagger.yaml
Labels: documentation

#11 Create maven.yml
  .github/workflows/maven.yml
Labels: ci/cd

#13 Adding document endpoint
  docs/gettingStarted.md
  src/backend/jag-efiling-api/jag-efiling-api.yaml
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/controller/HelloController.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImpl.java
  src/backend/jag-efiling-api/src/main/resources/application.properties
  src/backend/jag-efiling-api/src/main/resources/application.yml
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/controller/HelloControllerTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImplTest.java
Labels: stellar

#15 Adding splunk logging
  src/backend/jag-efiling-api/pom.xml
  src/backend/jag-efiling-api/src/main/resources/application-splunk.yml
  src/backend/jag-efiling-api/src/main/resources/logback-access.xml
  src/backend/jag-efiling-api/src/main/resources/logback-splunk.xml
  src/backend/jag-efiling-api/src/main/resources/logback.xml
Labels: logging, splunk, stellar

#14 Add postman collection
  src/backend/jag-efiling-api/src/test/jag-efiling-api.postman_collection.json
Labels: api, porkchop sandwiches, testing

#16 added returnurl as property
  README.md
  src/backend/jag-efiling-api/README.md
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/config/NavigationProperties.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImpl.java
  src/backend/jag-efiling-api/src/main/resources/application.yml
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImplTest.java
Labels: api, porkchop sandwiches

#17 Redis Storage
  src/backend/jag-efiling-api/jag-efiling-api.yaml
  src/backend/jag-efiling-api/pom.xml
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/AutoConfiguration.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/FlaRedisException.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/Keys.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/RedisStorageService.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/StorageService.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImpl.java
  src/backend/jag-efiling-api/src/main/resources/application.yml
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/AutoConfigurationTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/RedisStorageServiceTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImplTest.java
Labels: LARGE, api, stellar

#18 Dockerize file submission
  docker-compose.yml
  src/backend/jag-efiling-api/Dockerfile
  src/backend/jag-efiling-api/pom.xml
Labels: ci/cd, porkchop sandwiches

#34 Header component
  src/efiling-frontend/package.json
  src/efiling-frontend/public/images/bcid-logo-rev-en.svg
  src/efiling-frontend/public/images/bcid-symbol-rev.svg
  src/efiling-frontend/src/__snapshots__/storyshots.test.js.snap
  src/efiling-frontend/src/components/base/header/Header.css
  src/efiling-frontend/src/components/base/header/Header.js
  src/efiling-frontend/src/components/base/header/Header.stories.js
  src/efiling-frontend/src/components/base/header/Header.test.js
  src/efiling-frontend/src/components/base/header/__snapshots__/Header.test.js.snap
Labels: enhancement, frontend

#36 Footer!
  src/efiling-frontend/src/__snapshots__/storyshots.test.js.snap
  src/efiling-frontend/src/components/base/footer/Footer.js
  src/efiling-frontend/src/components/base/footer/Footer.stories.js
  src/efiling-frontend/src/components/base/footer/Footer.test.js
  src/efiling-frontend/src/components/base/footer/__snapshots__/Footer.test.js.snap
Labels: enhancement, frontend

#33 WSDL Class Generation
  src/backend/jag-efiling-api/pom.xml
  src/backend/jag-efiling-api/src/main/resources/wsdl/FilingFacade.wsdl
Labels: wsdl

#40 Libs and Soap
  src/backend/jag-efiling-api/pom.xml
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImplTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/fee/mockservice/GetFeeTest.java
  src/backend/libs/efilling-facade-client/FilingFacade.wsdl
  src/backend/libs/efilling-facade-client/pom.xml
  src/backend/pom.xml
Labels: api, stellar

#41 Document update
  README.md
Labels: documentation

#35 Refactored storage service
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/CacheConfiguration.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/RedisStorageService.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/StorageService.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImpl.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/fee/models/FeeRequest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/AutoConfigurationTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/RedisStorageServiceTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImplTest.java
Labels: api, stellar

#43 Create maven-dependency-check.yml
  .github/workflows/maven-dependency-check.yml
Labels: ci/cd

#42 Update import
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/DocumentApiImplTest.java
Labels: bug

#44 Update README.md
  README.md
Labels: documentation

#48 Adding info from pom in actuator
  src/backend/jag-efiling-api/src/main/resources/application.yml
Labels: api

#49 Implement change to submission
  src/backend/jag-efiling-api/jag-efiling-api.yaml
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiImpl.java
  src/backend/jag-efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/SubmissionApiImplTest.java
Labels: api

#50 Cleanup issues identified by sonar lint
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/CacheConfiguration.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/RedisStorageServiceTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/SubmissionApiImplTest.java
Labels: api

#51 Adding jaeger implementation
  src/backend/jaeger-docker-compose.yml
  src/backend/jag-efiling-api/pom.xml
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/config/JaegerConfig.java
  src/backend/jag-efiling-api/src/main/resources/application.yml
Labels: api

#52 Store submission information in the cache for a limited time
  src/backend/jag-efiling-api/jag-efiling-api.yaml
  src/backend/jag-efiling-api/pom.xml
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/fee/models/Fee.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiImpl.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionConfig.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/mappers/SubmissionMapper.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/models/Submission.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/service/SubmissionService.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/SubmissionApiImplTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/ConfigTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/models/SubmissionTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/service/submissionService/GetByKeyTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/service/submissionService/PutTest.java
  src/backend/libs/efilling-facade-client/pom.xml
Labels: HUGE, LARGE, api

#56 Added spring cache configuration
  src/backend/jag-efiling-api/README.md
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/CacheConfiguration.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/config/NavigationProperties.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiImpl.java
  src/backend/jag-efiling-api/src/main/resources/application.yml
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/AutoConfigurationTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/SubmissionApiImplTest.java
Labels: api

#58 Update README.md
  README.md
Labels: ci/cd

#60 Update maven.yml
  .github/workflows/maven-dependency-check.yml
  .github/workflows/maven.yml
Labels: ci/cd

#59 Adding file submission worker
  README.md
  src/backend/coverage-report/pom.xml
  src/backend/file-submission-worker/README.md
  src/backend/file-submission-worker/pom.xml
  src/backend/file-submission-worker/src/main/java/ca/bc/gov/open/filesubmissionworker/FileSubmissionWorkerApplication.java
  src/backend/file-submission-worker/src/main/resources/application-splunk.yml
  src/backend/file-submission-worker/src/main/resources/application.yml
  src/backend/file-submission-worker/src/main/resources/logback-access.xml
  src/backend/file-submission-worker/src/main/resources/logback-splunk.xml
  src/backend/file-submission-worker/src/main/resources/logback.xml
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionConfig.java
  src/backend/pom.xml
Labels: api

#62 Rename maven.yml to maven-efiling-api.yml
  .github/workflows/maven-efiling-api.yml
  .github/workflows/maven-efiling-backend-demo.yml
  .github/workflows/maven-efiling-facadce-client.yml
  .github/workflows/maven-file-submission-worker.yml
Labels: ci/cd

#61 Move efiling-frontend into frontend directory
  .codeclimate.yml
  .github/workflows/efiling-fe-jest-cc.yml
  .github/workflows/jest.yml
  .github/workflows/maven-efiling-api.yml
  README.md
  docker-compose.yml
  src/backend/efiling-backend-demo/README.md
  src/backend/file-submission-worker/src/main/resources/application-splunk.yml
  src/frontend/efiling-frontend/.babelrc
  src/frontend/efiling-frontend/.dockerignore
  src/frontend/efiling-frontend/.eslintrc.js
  src/frontend/efiling-frontend/.gitignore
  src/frontend/efiling-frontend/.storybook/main.js
  src/frontend/efiling-frontend/.storybook/preview.js
  src/frontend/efiling-frontend/Dockerfile
  src/frontend/efiling-frontend/README.md
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/public/images/bcid-logo-rev-en.svg
  src/frontend/efiling-frontend/public/images/bcid-symbol-rev.svg
  src/frontend/efiling-frontend/public/index.html
  src/frontend/efiling-frontend/public/manifest.json
  src/frontend/efiling-frontend/public/robots.txt
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/AssetsTransformer.js
  src/frontend/efiling-frontend/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-frontend/src/components/base/footer/Footer.js
  src/frontend/efiling-frontend/src/components/base/footer/Footer.stories.js
  src/frontend/efiling-frontend/src/components/base/footer/Footer.test.js
  src/frontend/efiling-frontend/src/components/base/footer/__snapshots__/Footer.test.js.snap
  src/frontend/efiling-frontend/src/components/base/header/Header.css
  src/frontend/efiling-frontend/src/components/base/header/Header.js
  src/frontend/efiling-frontend/src/components/base/header/Header.stories.js
  src/frontend/efiling-frontend/src/components/base/header/Header.test.js
  src/frontend/efiling-frontend/src/components/base/header/__snapshots__/Header.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/index.css
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/src/serviceWorker.js
  src/frontend/efiling-frontend/src/setupTests.js
  src/frontend/efiling-frontend/src/storyshots.test.js
  src/frontend/efiling-frontend/yarn.lock
Labels: HUGE, LARGE, enhancement, frontend

#64 Update README.md
  README.md
Labels: documentation

#65 Create jacoco-coverage.yml
  .github/workflows/jacoco-coverage.yml
Labels: ci/cd

#66 Update efiling-fe-jest-cc.yml
  .github/workflows/efiling-fe-jest-cc.yml
  .github/workflows/maven-efiling-api.yml
  .github/workflows/maven-efiling-backend-demo.yml
  .github/workflows/maven-efiling-facadce-client.yml
  .github/workflows/maven-file-submission-worker.yml
Labels: ci/cd

#67 Update jacoco-coverage.yml
  .github/workflows/jacoco-coverage.yml
Labels: ci/cd, handle it, many tries

#69 Update jacoco-coverage.yml
  .github/workflows/jacoco-coverage.yml
Labels: bug

#70 Update jacoco-coverage.yml
  .github/workflows/jacoco-coverage.yml
Labels: DO NOT MERGE, ci/cd

#68 Fix frontend code climate issues
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/TestHelper.js
  src/frontend/efiling-frontend/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-frontend/src/components/base/header/Header.js
  src/frontend/efiling-frontend/src/components/base/header/Header.test.js
  src/frontend/efiling-frontend/src/components/base/header/__snapshots__/Header.test.js.snap
Labels: frontend

#74 refactor and reduce duplication in footer component
  src/frontend/efiling-frontend/src/components/base/footer/Footer.js
Labels: enhancement, frontend, handle it

#75 Tests for footer
  .github/workflows/efiling-fe-jest-cc.yml
  src/frontend/efiling-frontend/src/components/base/footer/Footer.test.js
  src/frontend/efiling-frontend/src/components/base/footer/__snapshots__/Footer.test.js.snap
Labels: enhancement, frontend

#78 fix more duplication
  src/frontend/efiling-frontend/src/components/base/header/Header.stories.js
Labels: enhancement, frontend

#79 Removing all actions
  .github/workflows/efiling-fe-jest-cc.yml
  .github/workflows/jacoco-coverage.yml
  .github/workflows/maven-efiling-api.yml
  .github/workflows/maven-efiling-backend-demo.yml
  .github/workflows/maven-file-submission-worker.yml
Labels: ci/cd

#85 Create maven.yml
  .github/workflows/maven.yml
Labels: ci/cd

#90 Delete maven.yml
  .github/workflows/maven.yml
Labels: ci/cd

#91 Create maven-verify-all.yml
  .github/workflows/maven-verify-all.yml
  src/backend/coverage-report/pom.xml
Labels: ci/cd

#92 Create yarn-build-frontend
  .github/workflows/yarn-build-frontend.yml
Labels: ci/cd

#82 Demo app frontend
  .codeclimate.yml
  README.md
  docker-compose.yml
  src/frontend/README.md
  src/frontend/efiling-demo/.babelrc
  src/frontend/efiling-demo/.dockerignore
  src/frontend/efiling-demo/.eslintrc.js
  src/frontend/efiling-demo/.gitignore
  src/frontend/efiling-demo/.storybook/main.js
  src/frontend/efiling-demo/.storybook/preview.js
  src/frontend/efiling-demo/Dockerfile
  src/frontend/efiling-demo/README.md
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/public/images/bcid-logo-rev-en.svg
  src/frontend/efiling-demo/public/images/bcid-symbol-rev.svg
  src/frontend/efiling-demo/public/index.html
  src/frontend/efiling-demo/public/manifest.json
  src/frontend/efiling-demo/public/robots.txt
  src/frontend/efiling-demo/src/App.js
  src/frontend/efiling-demo/src/AssetsTransformer.js
  src/frontend/efiling-demo/src/TestHelper.js
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.stories.js
  src/frontend/efiling-demo/src/index.css
  src/frontend/efiling-demo/src/index.js
  src/frontend/efiling-demo/src/serviceWorker.js
  src/frontend/efiling-demo/src/setupTests.js
  src/frontend/efiling-demo/src/storyshots.test.js
  src/frontend/efiling-demo/yarn.lock
Labels: HUGE, LARGE, enhancement, frontend, porkchop sandwiches

#93 Lookup Service
  src/backend/jag-efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-lookup-client/pom.xml
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/EfilingLookupService.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/MockCSOLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/config/EfilingLookupConfig.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/config/EfilingLookupProperties.java
  src/backend/libs/efiling-lookup-client/src/main/resources/wsdl/LookupFacade.wsdl
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/EfilingLookupClientTest.java
  src/backend/pom.xml
Labels: wsdl

#81 Reduce num lines in single function
  src/frontend/efiling-frontend/src/components/base/footer/Footer.js
  src/frontend/efiling-frontend/src/components/base/footer/Footer.stories.js
  src/frontend/efiling-frontend/src/components/base/footer/Footer.test.js
Labels: enhancement, frontend, stellar

#83 Refactoring cache
  src/backend/jag-efiling-api/pom.xml
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/CacheConfiguration.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/EFilingRedisException.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/RedisStorageService.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/cache/StorageService.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiImpl.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionConfig.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/models/Submission.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/service/SubmissionService.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/AutoConfigurationTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/RedisStorageServiceTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/SubmissionApiImplTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/ConfigTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/models/SubmissionTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/service/submissionService/GetByKeyTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/service/submissionService/PutTest.java
Labels: stellar

#94 Adding dummy document endpoint
  src/backend/efiling-backend-demo/efiling-backend-demo.openapi.yaml
  src/backend/efiling-backend-demo/pom.xml
  src/backend/efiling-backend-demo/src/main/java/ca/bc/gov/open/jag/efilingbackenddemo/DocumentService.java
  src/backend/efiling-backend-demo/src/main/resources/dummy.pdf
  src/backend/efiling-backend-demo/src/test/java/ca/bc/gov/open/jag/efilingbackenddemo/DocumentServiceTest.java
  src/backend/efiling-backend-demo/src/test/java/ca/bc/gov/open/jag/efilingbackenddemo/EfilingBackendDemoApplicationTests.java
Labels: backend-demo

#98 Update .codeclimate.yml
  .codeclimate.yml
Labels: ci/cd

#101 api: set document properties required
  src/backend/jag-efiling-api/jag-efiling-api.yaml
Labels: HUGE, MONOLITHIC, efiling-api

#102 Apply Code Climate Fixes
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/AutoConfigurationTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/document/SubmissionApiImplTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/service/submissionService/GetByKeyTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/service/submissionService/PutTest.java
Labels: handle it

#100 Facade Refactor
  .codeclimate.yml
  src/backend/coverage-report/pom.xml
  src/backend/efiling-worker/pom.xml
  src/backend/jag-efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-facade-client/src/main/java/ca/bc/gov/open/jag/efilingfacadeclient/config/EfilingFacadeConfig.java
  src/backend/libs/efiling-facade-client/src/main/java/ca/bc/gov/open/jag/efilingfacadeclient/config/EfilingFacadeProperties.java
  src/backend/libs/efiling-facade-client/src/test/java/ca/bc/gov/open/jag/efilingfacadeclient/EfilingFacadeClientTest.java
  src/backend/libs/efiling-submission-client/pom.xml
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/CSOSubmissionServiceImpl.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/EfilingSubmissionService.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/MockCSOSubmissionServiceImpl.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/config/EfilingSubmissionConfig.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/config/EfilingSubmissionProperties.java
  src/backend/libs/efiling-submission-client/src/main/resources/wsdl/FilingFacade.wsdl
  src/backend/libs/efiling-submission-client/src/test/java/ca/bc/gov/open/jag/efilingsubmissionclient/EfilingSubmissionClientTest.java
  src/backend/pom.xml
Labels: efiling-facade

#103 Delete yarn-build-frontend.yml
  .github/workflows/combination.yml
  .github/workflows/maven-verify-all.yml
  .github/workflows/yarn-build-frontend.yml
Labels: MONOLITHIC, ci/cd

#105 Update combination.yml
  .github/workflows/combination.yml
Labels: ci/cd

#97 Status Service
  src/backend/jag-efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/config/EfilingLookupProperties.java
  src/backend/libs/efiling-status-client/pom.xml
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/CSOStatusServiceImpl.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/EfilingStatusService.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/MockCSOStatusServiceImpl.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/config/EfilingStatusConfig.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/config/EfilingStatusProperties.java
  src/backend/libs/efiling-status-client/src/main/resources/wsdl/FilingStatusFacade.wsdl
  src/backend/libs/efiling-status-client/src/test/java/ca/bc/gov/open/jag/efilingstatusclient/EfilingStatusClientTest.java
  src/backend/pom.xml
Labels: status service

#108 Update README.md
  README.md
Labels: documentation

#109 Update combination.yml
  .github/workflows/combination.yml
Labels: ci/cd

#110 Fix filling -> filing typo
  README.md
Labels: bug, documentation

#111 Adding frontend code coverage report
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: ci/cd

#104 Selenium initial setup and first frontend test
  .gitignore
  README.md
  tests/README.md
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/config/config.properties
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/pages/LandingPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/util/DriverClass.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/util/ReadConfig.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/tests/LandingPageTest.java
  tests/src/test/resources/log4j.properties
Labels: frontend-tests

#112 Adding Frontend Demo Report
  .codeclimate.yml
  .github/workflows/code-climate-coverage-aggregation.yml
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
Labels: ci/cd

#114 Add rabbit
  docker-compose.yml
Labels: porkchop sandwiches

#113 trying to force test coverage to move
  .codeclimate.yml
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: DO NOT MERGE, ci/cd

#115 PLURALIZE!
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: ci/cd

#117 updated log4j2 in the pom
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/util/DriverClass.java
  tests/src/test/resources/log4j.properties
  tests/src/test/resources/log4j2.properties
Labels: logging

#116 Update .codeclimate.yml
  .codeclimate.yml
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: ci/cd

#118 Implement rabbit consumer in worker
  src/backend/README.md
  src/backend/efiling-worker/README.md
  src/backend/efiling-worker/pom.xml
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/EfilingMessageConsumer.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/EfilingWorkerApplication.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/Keys.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/configuration/EfilingWorkerConfig.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/service/DocumentStoreService.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/service/MockDocumentStoreServiceImpl.java
  src/backend/efiling-worker/src/main/resources/application.yml
  src/backend/efiling-worker/src/test/java/ca/bc/gov/open/jag/efilingworker/EfilingMessageConsumerTest.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/MockCSOSubmissionServiceImpl.java
Labels: LARGE, file-submission-worker, porkchop sandwiches

#124 Adding test coverage
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/AutoConfigurationTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/config/NavigationPropertiesTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/fee/models/FeeRequestTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiImplTest.java
Labels: testing

#123 FLA-97 - Part #1
  .codeclimate.yml
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/base/button/Button.css
  src/frontend/efiling-demo/src/components/base/button/Button.js
  src/frontend/efiling-demo/src/components/base/button/Button.stories.js
  src/frontend/efiling-demo/src/components/base/button/Button.test.js
  src/frontend/efiling-demo/src/components/base/button/__snapshots__/Button.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
Labels: enhancement, frontend

#125 Adding tests and some cleanup
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/EfilingMessageConsumer.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/service/MockDocumentStoreServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/MockCSOLookupServiceImpl.java
  src/backend/libs/efiling-submission-client/pom.xml
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/MockCSOSubmissionServiceImpl.java
  src/backend/libs/efiling-submission-client/src/test/java/ca/bc/gov/open/jag/efilingsubmissionclient/EfilingSubmissionClientTest.java
  src/backend/libs/efiling-submission-client/src/test/java/ca/bc/gov/open/jag/efilingsubmissionclient/MockCSOSubmissionServiceImplTest.java
Labels: testing

#126 Fix issue with docker and libs
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/pom.xml
Labels: docker

#133 Sonar/Code Climate issues
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/EfilingMessageConsumer.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/config/EfilingWorkerConfig.java
  src/backend/efiling-worker/src/test/java/ca/bc/gov/open/jag/efilingworker/config/EfilingWorkerConfigTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/TestHelpers.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/cache/AutoConfigurationTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiImplTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/models/SubmissionTest.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/config/AutoConfiguration.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/CSOStatusServiceImpl.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/config/AutoConfiguration.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/CSOSubmissionServiceImpl.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/MockCSOSubmissionServiceImpl.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/config/AutoConfiguration.java
Labels: porkchop sandwiches

#137 Config tests
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/config/JaegerConfigTest.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/fee/models/ConfigTest.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-submission-client/src/test/java/ca/bc/gov/open/jag/efilingsubmissionclient/config/AutoConfigurationTest.java
Labels: testing

#131 rest assured generate url post test
  .gitignore
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/config/config.properties
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/generateurlrestfile/Cancel.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/generateurlrestfile/DocumentProperties.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/generateurlrestfile/Error.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/generateurlrestfile/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/generateurlrestfile/Headers.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/generateurlrestfile/Navigation.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/generateurlrestfile/Payload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/generateurlrestfile/SubmissionAccess.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/generateurlrestfile/Success.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/restgenerateurl/GenerateUrl.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/util/ReadConfig.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/tests/GenerateUrlTest.java
  tests/src/test/resources/log4j2.properties
Labels: QA

#138 Adding a dictionary
  docs/_sidebar.md
  docs/dictionary.md
Labels: documentation

#141 Adding a definition for efiling
  docs/dictionary.md
Labels: documentation

#139 Update code-climate-coverage-aggregation.yml
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: ci/cd

#140 efiling-api: adding userId in generateUrl payload
  src/backend/jag-efiling-api/jag-efiling-api.yaml
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiDelegateImplTest.java
Labels: efiling-api

#142 Definition Documentation Enhancements
  .codeclimate.yml
  docs/dictionary.md
Labels: documentation

#147 Fixing issues with efiling-backend-demo readme
  src/backend/efiling-backend-demo/README.md
Labels: documentation

#145 Update code-climate-coverage-aggregation.yml
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: ci/cd

#155 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#154 A definition for file
  docs/dictionary.md
Labels: documentation

#152 Adding demo accounts
  docs/gettingStarted.md
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountDetails.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAcountServiceImplTest.java
Labels: efiling-api

#156 Adding dependabot config
  .github/dependabot.yml
Labels: HUGE, ci/cd

#157 Removed unused aggregate coverage report
  src/backend/coverage-report/pom.xml
  src/backend/pom.xml
Labels: stellar

#161 update version of dependabot
  .github/dependabot.yml
Labels: dependencies

#160 Efiling LookupDemo Service
  src/backend/libs/efiling-lookup-client/pom.xml
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/DemoLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/EfilingLookupService.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/MockCSOLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/ServiceFees.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/DemoLookupServiceImplTest.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/EfilingLookupClientTest.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/ServiceFeesTest.java
  tests/.gitignore
Labels: lookup service

#167 Storybook & Jest on shared-components project
  .github/workflows/code-climate-coverage-aggregation.yml
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/App.js
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/yarn.lock
  src/frontend/shared-components/.babelrc
  src/frontend/shared-components/.storybook/main.js
  src/frontend/shared-components/.storybook/preview.js
  src/frontend/shared-components/jest.config.js
  src/frontend/shared-components/package.json
  src/frontend/shared-components/public/images/bcid-logo-rev-en.svg
  src/frontend/shared-components/public/images/bcid-symbol-rev.svg
  src/frontend/shared-components/src/AssetsTransformer.js
  src/frontend/shared-components/src/TestHelper.js
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/footer/Footer.stories.js
  src/frontend/shared-components/src/footer/Footer.test.js
  src/frontend/shared-components/src/footer/__snapshots__/Footer.test.js.snap
  src/frontend/shared-components/src/header/Header.js
  src/frontend/shared-components/src/header/Header.stories.js
  src/frontend/shared-components/src/header/Header.test.js
  src/frontend/shared-components/src/header/__snapshots__/Header.test.js.snap
  src/frontend/shared-components/src/index.js
  src/frontend/shared-components/src/setupTests.js
  src/frontend/shared-components/src/storyshots.test.js
  src/frontend/shared-components/yarn.lock
Labels: HUGE, LARGE, enhancement, frontend

#158 Implement User check at generate url
  src/backend/jag-efiling-api/jag-efiling-api.yaml
  src/backend/jag-efiling-api/pom.xml
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/error/ErrorResponse.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionConfig.java
  src/backend/jag-efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/jag-efiling-api/src/test/java/ca/bc/gov/open/jagefilingapi/submission/SubmissionApiDelegateImplTest.java
  src/backend/libs/efiling-bom/pom.xml
Labels: efiling-api, help wanted

#169 Add eslint and prettier to shared-components
  src/frontend/shared-components/.eslintrc.js
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/header/Header.js
  src/frontend/shared-components/src/index.js
  src/frontend/shared-components/yarn.lock
Labels: enhancement, frontend

#173 Fix docker
  docker-compose.yml
  src/backend/Dockerfile
  src/frontend/Dockerfile
  src/frontend/efiling-demo/.dockerignore
  src/frontend/efiling-demo/Dockerfile
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-frontend/.dockerignore
Labels: docker, enhancement

#185 Add global cors configuration
  src/backend/jag-efiling-api/src/main/java/ca/bc/gov/open/jagefilingapi/config/GlobalCorsConfiguration.java
Labels: bug, docker, efiling-api, enhancement

#186 moving configuration back
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/GlobalCorsConfiguration.java
Labels: bug, efiling-api

#184 Adding jacoco to worker
  .github/workflows/code-climate-coverage-aggregation.yml
  src/backend/efiling-worker/pom.xml
Labels: Humongous big

#190 FLA-97 and FLA-99
  docker-compose.yml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/.env.example
  src/frontend/efiling-frontend/.gitignore
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/page.css
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/yarn.lock
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/header/Header.stories.js
  src/frontend/shared-components/src/index.js
  src/frontend/shared-components/src/loader/Loader.css
  src/frontend/shared-components/src/loader/Loader.js
  src/frontend/shared-components/src/loader/Loader.stories.js
  src/frontend/shared-components/src/loader/Loader.test.js
  src/frontend/shared-components/src/loader/__snapshots__/Loader.test.js.snap
Labels: HUGE, enhancement, frontend

#195 Add stories and tests for FLA-97/99 (part #1)
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.test.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.stories.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.test.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/__snapshots__/CSOStatus.test.js.snap
Labels: enhancement, frontend, frontend-tests

#196 Input field for demo client, more tests and stories
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.css
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.test.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/index.js
  src/frontend/shared-components/src/input/Input.css
  src/frontend/shared-components/src/input/Input.js
  src/frontend/shared-components/src/input/Input.stories.js
  src/frontend/shared-components/src/input/Input.test.js
  src/frontend/shared-components/src/input/__snapshots__/Input.test.js.snap
  src/frontend/shared-components/yarn.lock
Labels: enhancement, frontend

#197 add details about shared components to readme
  README.md
Labels: documentation

#191 Excluding FeeService file hard coded
  .codeclimate.yml
Labels: ci/cd

#189 Adding Before Build to Action
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: ci/cd

#198 Adding tests
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/cache/AutoConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/config/GlobalCorsConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
Labels: java, testing

#199 Adding tests
  src/backend/libs/efiling-status-client/src/test/java/ca/bc/gov/open/jag/efilingstatusclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-status-client/src/test/java/ca/bc/gov/open/jag/efilingstatusclient/config/CSOStatusPropertiesTest.java
Labels: testing

#201 File Specific Excludes
  .codeclimate.yml
Labels: ci/cd

#204 Adding keys files to ignore
  .codeclimate.yml
Labels: ci/cd

#202 Refactoring button component into shared-components library
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/base/button/Button.js
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/button/Button.css
  src/frontend/shared-components/src/button/Button.js
  src/frontend/shared-components/src/button/Button.stories.js
  src/frontend/shared-components/src/button/Button.test.js
  src/frontend/shared-components/src/button/__snapshots__/Button.test.js.snap
  src/frontend/shared-components/src/index.js
Labels: enhancement, frontend

#200 Account Service
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/libs/efiling-account-client/pom.xml
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountDetails.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/CsoAccountProperties.java
  src/backend/libs/efiling-account-client/src/main/resources/wsdl/AccountFacade.wsdl
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAcountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-lookup-client/pom.xml
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImpl.java
Labels: efiling-facade

#206 E2E flow for generate url endpoint
  README.md
  tests/README.md
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurl/GenerateUrl.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/Success.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/config/config.properties
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/features/backendfeatures/generateUrl.feature
  tests/src/test/java/features/frontendfeatures/landingPage.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateEfilingUrl.java
Labels: QA

#211 Adding async tests and stories
  src/frontend/efiling-frontend/.eslintrc.js
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-frontend/src/components/composite/csostatus/__snapshots__/CSOStatus.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/storyshots.test.js
  src/frontend/efiling-frontend/yarn.lock
Labels: enhancement, frontend, frontend-tests

#214 Add new cancel button and consume it in frontend app
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/__snapshots__/CSOStatus.stories.storyshot
  src/frontend/efiling-frontend/src/components/composite/csostatus/__snapshots__/CSOStatus.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/shared-components/src/button/Button.css
Labels: enhancement, frontend

#213 Implement Soap Service
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/ApplicationConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/config/ApplicationConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImplTest.java
  src/backend/libs/efiling-account-client/pom.xml
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/CsoAccountProperties.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/exception/CSOHasMultipleAccountException.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-bom/pom.xml
Labels: Humongous big, efiling-api, efiling-facade, java

#209 Yarn Caching
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: ci/cd

#208 Add shared-components coverage
  .codeclimate.yml
  .github/workflows/code-climate-coverage-aggregation.yml
  src/frontend/shared-components/jest.config.js
Labels: ci/cd

#215 Add header missing tests
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-frontend/package.json
  src/frontend/shared-components/.eslintrc.js
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/header/Header.test.js
  src/frontend/shared-components/src/input/Input.js
  src/frontend/shared-components/yarn.lock
Labels: enhancement, frontend

#216 add test cases for input, enumerate all states
  src/frontend/shared-components/src/input/Input.js
  src/frontend/shared-components/src/input/Input.test.js
  src/frontend/shared-components/src/input/__snapshots__/Input.test.js.snap
Labels: enhancement, frontend, frontend-tests

#217 Fix FE dockerization to work properly with dependency on shared-components
  src/frontend/Dockerfile
Labels: bug, docker

#219 Update user detail endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImplTest.java
Labels: efiling-api, java

#220 Demo perp
  .env.template
  .gitignore
  README.md
  docker-compose.yml
  src/backend/efiling-api/README.md
  src/backend/libs/efiling-account-client/README.md
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
Labels: efiling-api

#221 Home component userdetail call update and also storing of navigation details
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/shared-components/jest.config.js
Labels: bug, enhancement, frontend

#227 Use generic client properties model
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-account-client/pom.xml
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/CsoAccountProperties.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/CsoRoleProperties.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingSoapClientProperties.java
  src/backend/libs/efiling-commons/src/main/resources/application.properties
  src/backend/pom.xml
Labels: efiling-api

#229 Git Action - new and improved! with parallelization!
  .github/workflows/code-climate-coverage-aggregation.yml
Labels: READY FOR REVIEW, ci/cd

#226 Confirmation modal
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
  src/frontend/shared-components/.eslintrc.js
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/button/Button.css
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.css
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.js
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.stories.js
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.test.js
  src/frontend/shared-components/src/confirmation-popup/__snapshots__/ConfirmationPopup.test.js.snap
  src/frontend/shared-components/src/header/Header.js
  src/frontend/shared-components/src/header/Header.stories.js
  src/frontend/shared-components/src/header/Header.test.js
  src/frontend/shared-components/src/header/__snapshots__/Header.test.js.snap
  src/frontend/shared-components/src/index.js
  src/frontend/shared-components/src/loader/Loader.stories.js
  src/frontend/shared-components/src/setupTests.js
  src/frontend/shared-components/src/storyshots.test.js
  src/frontend/shared-components/yarn.lock
Labels: HUGE, Humongous big, LARGE, enhancement, frontend

#232 Adding Role Registry Back In
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountDetails.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/EfilingAccountService.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAcountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
Labels: efiling-api, efiling-facade

#230 Refactoring user details
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImplTest.java
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
Labels: efiling-api, enhancement, frontend, java

#228 Soap properties as a list
  .env.template
  README.md
  docker-compose.yml
  src/backend/efiling-api/README.md
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-account-client/pom.xml
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/CsoAccountProperties.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/CsoRoleProperties.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Clients.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingSoapClientProperties.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/SoapProperties.java
Labels: efiling-api, enhancement, java

#235 Add version to cxf-codegen-plugin
  src/backend/libs/efiling-account-client/pom.xml
  src/backend/libs/efiling-lookup-client/pom.xml
  src/backend/libs/efiling-submission-client/pom.xml
Labels: Humongous big, java, that's a lot of code, yuge

#234 Create integration.md
  docs/_sidebar.md
  docs/integration.md
Labels: READY FOR REVIEW, documentation

#236 Lookup Service GetFees
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Clients.java
  src/backend/libs/efiling-lookup-client/pom.xml
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/config/AutoConfiguration.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImplTest.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/config/AutoConfigurationTest.java
Labels: efiling-api, efiling-facade

#223 Updated frontend and generateurl tests
  src/frontend/efiling-demo/public/index.html
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/config/ReadConfig.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/config/config.properties
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EfilingPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/LandingPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/features/backendfeatures/generateUrl.feature
  tests/src/test/java/features/frontendfeatures/landingPage.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateEfilingUrl.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EfilingPageTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/LandingPageTest.java
Labels: LARGE, QA, READY FOR REVIEW

#238 Fee impl in progress
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/ApplicationConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImplTest.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/DemoLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/EfilingLookupService.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/config/AutoConfiguration.java
  src/backend/libs/efiling-lookup-client/src/main/resources/wsdl/LookupFacade.wsdl
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImplTest.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/DemoLookupServiceImplTest.java
Labels: It's Working!, READY FOR REVIEW

#240 Consume confirmation popup in frontend app
  .codeclimate.yml
  .github/workflows/code-climate-coverage-aggregation.yml
  src/frontend/efiling-demo/.babelrc
  src/frontend/efiling-demo/.eslintrc.js
  src/frontend/efiling-demo/babel.config.js
  src/frontend/efiling-demo/jest.config.js
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.stories.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.test.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/__snapshots__/CSOStatus.stories.storyshot
  src/frontend/efiling-frontend/src/components/composite/csostatus/__snapshots__/CSOStatus.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/modules/confirmationPopupTestData.js
  src/frontend/efiling-frontend/src/storyshots.test.js
  src/frontend/efiling-frontend/yarn.lock
  src/frontend/shared-components/.eslintrc.js
  src/frontend/shared-components/.gitignore
  src/frontend/shared-components/.storybook/main.js
  src/frontend/shared-components/jest.config.js
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.js
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.stories.js
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.test.js
  src/frontend/shared-components/src/confirmation-popup/__snapshots__/ConfirmationPopup.test.js.snap
  src/frontend/shared-components/src/header/Header.js
  src/frontend/shared-components/src/header/Header.stories.js
  src/frontend/shared-components/src/header/Header.test.js
  src/frontend/shared-components/src/header/__snapshots__/Header.test.js.snap
  src/frontend/shared-components/src/index.js
  src/frontend/shared-components/yarn.lock
Labels: HUGE, Humongous big, It's Working!, enhancement, frontend

#243 Fix docker
  .env.template
  README.md
  docker-compose.yml
Labels: HUGE, bug, docker

#239 Refactoring userDetails
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/libs/efiling-account-client/pom.xml
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountDetails.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/EfilingAccountService.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/mappers/AccountDetailsMapper.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAcountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/AccountDetails.java
Labels: efiling-api, java

#245 fix console.err lint issue and also add redirect functionality on cancel
  src/frontend/efiling-frontend/src/App.js
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/header/Header.stories.js
Labels: bug, enhancement, frontend

#247 FLA 141 / Proptypes refactoring
  src/frontend/efiling-demo/.eslintrc.js
  src/frontend/efiling-demo/src/App.js
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/cancel/Cancel.js
  src/frontend/efiling-demo/src/components/page/cancel/Cancel.stories.js
  src/frontend/efiling-demo/src/components/page/cancel/Cancel.test.js
  src/frontend/efiling-demo/src/components/page/cancel/__snapshots__/Cancel.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/types/propTypes.js
  src/frontend/efiling-frontend/.eslintrc.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/types/propTypes.js
Labels: bug, enhancement, frontend

#246 Fix: ESLINT issues with shared-components
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/cancel/__snapshots__/Cancel.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/modules/confirmationPopupTestData.js
  src/frontend/efiling-frontend/yarn.lock
  src/frontend/shared-components/.eslintrc.js
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.js
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.stories.js
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.test.js
  src/frontend/shared-components/src/header/Header.js
  src/frontend/shared-components/src/header/__snapshots__/Header.test.js.snap
  src/frontend/shared-components/src/input/Input.js
  src/frontend/shared-components/src/input/Input.stories.js
Labels: frontend, frontend-tests, handle it, testing

#244 Dockerize Keycloak + Postgres
  README.md
  docker-compose.yml
Labels: ci/cd, docker

#248 fix lint console errors in tests and refactor csostatus prop usage
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.stories.js
  src/frontend/efiling-frontend/src/components/composite/csostatus/CSOStatus.test.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
Labels: enhancement, frontend

#250 Fix: Footer in mobile
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/footer/Footer.js
  src/frontend/shared-components/yarn.lock
Labels: bug, frontend, handle it, yuge

#249 Refactor controller logic
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/GenerateUrlResponseMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStore.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStoreImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/GetByKeyTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/PutTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/InvalidAccountStateException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/StoreException.java
Labels: HUGE, efiling-api, java, that's a lot of code

#251 Terms of use base shared component
  .codeclimate.yml
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/modules/confirmationPopupTestData.js
  src/frontend/efiling-frontend/src/types/propTypes.js
  src/frontend/efiling-frontend/yarn.lock
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/button/Button.css
  src/frontend/shared-components/src/components/button/Button.js
  src/frontend/shared-components/src/components/button/Button.stories.js
  src/frontend/shared-components/src/components/button/Button.test.js
  src/frontend/shared-components/src/components/button/__snapshots__/Button.test.js.snap
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.css
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.js
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.stories.js
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.test.js
  src/frontend/shared-components/src/components/confirmation-popup/__snapshots__/ConfirmationPopup.test.js.snap
  src/frontend/shared-components/src/components/footer/Footer.js
  src/frontend/shared-components/src/components/footer/Footer.stories.js
  src/frontend/shared-components/src/components/footer/Footer.test.js
  src/frontend/shared-components/src/components/footer/__snapshots__/Footer.test.js.snap
  src/frontend/shared-components/src/components/header/Header.css
  src/frontend/shared-components/src/components/header/Header.js
  src/frontend/shared-components/src/components/header/Header.stories.js
  src/frontend/shared-components/src/components/header/Header.test.js
  src/frontend/shared-components/src/components/header/__snapshots__/Header.test.js.snap
  src/frontend/shared-components/src/components/input/Input.css
  src/frontend/shared-components/src/components/input/Input.js
  src/frontend/shared-components/src/components/input/Input.stories.js
  src/frontend/shared-components/src/components/input/Input.test.js
  src/frontend/shared-components/src/components/input/__snapshots__/Input.test.js.snap
  src/frontend/shared-components/src/components/loader/Loader.css
  src/frontend/shared-components/src/components/loader/Loader.js
  src/frontend/shared-components/src/components/loader/Loader.stories.js
  src/frontend/shared-components/src/components/loader/Loader.test.js
  src/frontend/shared-components/src/components/loader/__snapshots__/Loader.test.js.snap
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.css
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.js
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.stories.js
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.test.js
  src/frontend/shared-components/src/components/terms-of-use/__snapshots__/TermsOfUse.test.js.snap
  src/frontend/shared-components/src/confirmation-popup/ConfirmationPopup.js
  src/frontend/shared-components/src/index.js
  src/frontend/shared-components/src/modules/termsOfUseTestData.js
  src/frontend/shared-components/src/types/propTypes.js
  src/frontend/shared-components/yarn.lock
Labels: Humongous big, LARGE, MONOLITHIC, READY FOR REVIEW, enhancement, frontend

#253 Remove button from TOU, fix lint issues
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.js
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.js
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.stories.js
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.test.js
  src/frontend/shared-components/src/components/terms-of-use/__snapshots__/TermsOfUse.test.js.snap
  src/frontend/shared-components/src/modules/termsOfUseTestData.js
Labels: bug, enhancement, frontend

#254 Shared Table component
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/table/Table.css
  src/frontend/shared-components/src/components/table/Table.js
  src/frontend/shared-components/src/components/table/Table.stories.js
  src/frontend/shared-components/src/components/table/Table.test.js
  src/frontend/shared-components/src/components/table/__snapshots__/Table.test.js.snap
  src/frontend/shared-components/src/modules/tableTestData.js
Labels: enhancement, frontend
