Repository bcgov/jag-file-submission, pull requests merged in 2020-07, with the labels that each got.

#257 BCeID Account Info Soap Interface
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/libs/efiling-account-client/pom.xml
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/EfilingAccountService.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/mappers/AccountDetailsMapper.java
  src/backend/libs/efiling-account-client/src/main/resources/wsdl/BCeIDService.wsdl
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/DemoAcountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/AccountDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Clients.java
Labels: READY FOR REVIEW, efiling-account-client, efiling-facade

#258 Create CSO Account creation page and add terms of use
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/composite/cso-status/CSOStatus.js
  src/frontend/efiling-frontend/src/components/composite/cso-status/CSOStatus.stories.js
  src/frontend/efiling-frontend/src/components/composite/cso-status/CSOStatus.test.js
  src/frontend/efiling-frontend/src/components/composite/cso-status/__snapshots__/CSOStatus.stories.storyshot
  src/frontend/efiling-frontend/src/components/composite/cso-status/__snapshots__/CSOStatus.test.js.snap
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.stories.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/modules/confirmationPopupTestData.js
  src/frontend/efiling-frontend/src/modules/csoAccountAgreementContent.js
  src/frontend/efiling-frontend/src/types/propTypes.js
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/button/Button.js
  src/frontend/shared-components/src/components/button/__snapshots__/Button.test.js.snap
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.js
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.stories.js
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.test.js
  src/frontend/shared-components/src/components/confirmation-popup/__snapshots__/ConfirmationPopup.test.js.snap
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.css
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.js
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.stories.js
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.test.js
  src/frontend/shared-components/src/components/terms-of-use/__snapshots__/TermsOfUse.test.js.snap
  src/frontend/shared-components/src/index.js
Labels: LARGE, READY FOR REVIEW, enhancement, frontend

#260 Add print functionality to electronic service agreement
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.css
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.js
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.test.js
  src/frontend/shared-components/src/components/terms-of-use/__snapshots__/TermsOfUse.test.js.snap
Labels: READY FOR REVIEW, enhancement, frontend

#256 Refactoring demo mode
  .env.template
  README.md
  docker-compose.yml
  src/backend/Dockerfile
  src/backend/efiling-api/README.md
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/ApplicationConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/ApplicationProperties.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/config/DemoConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-backend-demo/pom.xml
  src/backend/libs/efiling-account-client/pom.xml
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/EfilingAccountService.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/CSOHasMultipleAccountException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingAccountServiceException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingLookupServiceException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/ServiceFees.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingAccountService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingLookupService.java
  src/backend/libs/efiling-commons/src/main/resources/application.properties
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/resources/META-INF/spring.factories
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/AutoConfigurationTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImplTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImplTest.java
  src/backend/libs/efiling-lookup-client/pom.xml
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/DemoLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/EfilingLookupService.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/config/AutoConfiguration.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/config/CSOLookupProperties.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImplTest.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/DemoLookupServiceImplTest.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/ServiceFeesTest.java
  src/backend/pom.xml
Labels: HUGE, LARGE, READY FOR REVIEW, efiling-api, java

#261 Add DisplayBox component
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/display-box/DisplayBox.css
  src/frontend/shared-components/src/components/display-box/DisplayBox.js
  src/frontend/shared-components/src/components/display-box/DisplayBox.stories.js
  src/frontend/shared-components/src/components/display-box/DisplayBox.test.js
  src/frontend/shared-components/src/components/display-box/__snapshots__/DisplayBox.test.js.snap
  src/frontend/shared-components/src/components/table/Table.css
  src/frontend/shared-components/src/modules/displayBoxTestData.js
Labels: Humongous big, enhancement, frontend

#263 Refactor: Table
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/display-box/__snapshots__/DisplayBox.test.js.snap
  src/frontend/shared-components/src/components/table/Table.js
  src/frontend/shared-components/src/components/table/Table.stories.js
  src/frontend/shared-components/src/components/table/Table.test.js
  src/frontend/shared-components/src/components/table/__snapshots__/Table.test.js.snap
  src/frontend/shared-components/src/modules/displayBoxTestData.js
  src/frontend/shared-components/src/modules/tableTestData.js
Labels: frontend, frontend-tests, yuge

#265 Add success page component, stories and tests
  src/frontend/efiling-demo/src/App.js
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/success/Success.js
  src/frontend/efiling-demo/src/components/page/success/Success.stories.js
  src/frontend/efiling-demo/src/components/page/success/Success.test.js
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.test.js.snap
Labels: READY FOR REVIEW, enhancement, frontend

#266 Fix react link in docker
  src/frontend/.dockerignore
  src/frontend/Dockerfile
Labels: bug, docker, enhancement

#270 add more states for input fields and button and also fix url in frontend
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/button/Button.stories.js
  src/frontend/shared-components/src/components/input/Input.css
  src/frontend/shared-components/src/components/input/Input.js
  src/frontend/shared-components/src/components/input/Input.stories.js
  src/frontend/shared-components/src/components/input/Input.test.js
  src/frontend/shared-components/src/components/input/__snapshots__/Input.test.js.snap
Labels: READY FOR REVIEW, enhancement, frontend, that's a lot of code

#271 fix link to image
  README.md
Labels: bug, documentation

#274 Add sidecard base component with 3 types of sidecards
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/sidecard/Sidecard.css
  src/frontend/shared-components/src/components/sidecard/Sidecard.js
  src/frontend/shared-components/src/components/sidecard/Sidecard.stories.js
  src/frontend/shared-components/src/components/sidecard/Sidecard.test.js
  src/frontend/shared-components/src/components/sidecard/__snapshots__/Sidecard.test.js.snap
Labels: READY FOR REVIEW, enhancement, frontend

#273 refactor account id to be in request header
  .gitignore
  README.md
  docs/media/demoApp.png
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoHelpers.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImplTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingAccountService.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImplTest.java
  src/frontend/efiling-demo/src/components/page/home/Home.js
Labels: OpenApi Change, READY FOR REVIEW, demo, efiling-api

#264 added methods to read test data from external source
  tests/README.md
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/config/ReadConfig.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/LandingPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/JsonDataReader.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/testdatatypes/CsoAccountGuid.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/features/frontendfeatures/landingPage.feature
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EfilingPageTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/LandingPageTest.java
  tests/src/test/java/testdatasource/account-data.json
Labels: QA, READY FOR REVIEW

#278 Realignment PR
  docs/gettingStarted.md
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingAccountService.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImplTest.java
  src/backend/pom.xml
  src/frontend/efiling-demo/src/components/page/home/Home.js
Labels: 1 LOVE, HUGE, porkchop sandwiches, yuge

#279 fixed postman collection
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
Labels: 1 LOVE, documentation

#277 Update CSOAccount page
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.stories.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/modules/applicantInfoTestData.js
  src/frontend/efiling-frontend/src/modules/confirmationPopupTestData.js
  src/frontend/efiling-frontend/src/modules/translateApplicantInfo.js
  src/frontend/efiling-frontend/src/modules/userDetails.js
  src/frontend/efiling-frontend/src/types/propTypes.js
  src/frontend/efiling-frontend/yarn.lock
  src/frontend/shared-components/src/components/display-box/DisplayBox.js
  src/frontend/shared-components/src/components/display-box/DisplayBox.stories.js
  src/frontend/shared-components/src/components/display-box/DisplayBox.test.js
  src/frontend/shared-components/src/components/table/Table.js
  src/frontend/shared-components/src/components/table/Table.stories.js
  src/frontend/shared-components/src/components/table/Table.test.js
  src/frontend/shared-components/src/index.js
  src/frontend/shared-components/src/modules/displayBoxTestData.js
Labels: HUGE, Humongous big, LARGE, MONOLITHIC, READY FOR REVIEW, frontend, handle it, yuge

#276 Add in state to stories, and documentation within storybook!
  docs/gettingStarted.md
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/shared-components/.storybook/main.js
  src/frontend/shared-components/.storybook/preview.js
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/__snapshots__/storyshots.test.js.snap
  src/frontend/shared-components/src/components/button/Button.stories.js
  src/frontend/shared-components/src/components/button/__snapshots__/Button.stories.storyshot
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.stories.js
  src/frontend/shared-components/src/components/confirmation-popup/__snapshots__/ConfirmationPopup.stories.storyshot
  src/frontend/shared-components/src/components/display-box/__snapshots__/DisplayBox.stories.storyshot
  src/frontend/shared-components/src/components/footer/__snapshots__/Footer.stories.storyshot
  src/frontend/shared-components/src/components/header/Header.stories.js
  src/frontend/shared-components/src/components/header/__snapshots__/Header.stories.storyshot
  src/frontend/shared-components/src/components/input/Input.stories.js
  src/frontend/shared-components/src/components/input/__snapshots__/Input.stories.storyshot
  src/frontend/shared-components/src/components/loader/__snapshots__/Loader.stories.storyshot
  src/frontend/shared-components/src/components/sidecard/__snapshots__/Sidecard.stories.storyshot
  src/frontend/shared-components/src/components/table/__snapshots__/Table.stories.storyshot
  src/frontend/shared-components/src/components/terms-of-use/__snapshots__/TermsOfUse.stories.storyshot
  src/frontend/shared-components/src/index.js
  src/frontend/shared-components/src/storyshots.test.js
  src/frontend/shared-components/yarn.lock
Labels: READY FOR REVIEW, enhancement, frontend

#288 fixed splunk url
  src/backend/efiling-api/pom.xml
Labels: Humongous big, handle it, many tries

#289 fixed splunk url
  src/backend/efiling-api/pom.xml
Labels: Humongous big, many tries

#291 fixed splunk url
  src/backend/efiling-api/pom.xml
Labels: Humongous big, many tries

#280 updated frontend tests for the latest changes
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EFileSubmissionPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EfilingPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/LandingPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/test/java/features/frontendfeatures/eFileSubmission.feature
  tests/src/test/java/features/frontendfeatures/landingPage.feature
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EfilingPageTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/LandingPageTest.java
Labels: LARGE, QA, frontend-tests

#293 Integrate sidecard into cso registration page
  src/frontend/efiling-frontend/src/components/composite/cso-status/CSOStatus.js
  src/frontend/efiling-frontend/src/components/composite/cso-status/__snapshots__/CSOStatus.stories.storyshot
  src/frontend/efiling-frontend/src/components/composite/cso-status/__snapshots__/CSOStatus.test.js.snap
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/page.css
  src/frontend/efiling-frontend/src/modules/sidecardData.js
  src/frontend/efiling-frontend/yarn.lock
  src/frontend/shared-components/src/components/sidecard/Sidecard.css
Labels: READY FOR REVIEW, enhancement, frontend

#292 Support individual account only
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
Labels: READY FOR REVIEW, efiling-api, java

#294 Add Alert Component
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
  src/frontend/shared-components/src/components/alert/Alert.js
  src/frontend/shared-components/src/components/alert/Alert.stories.js
  src/frontend/shared-components/src/components/alert/Alert.test.js
  src/frontend/shared-components/src/components/alert/__snapshots__/Alert.stories.storyshot
  src/frontend/shared-components/src/components/alert/__snapshots__/Alert.test.js.snap
  src/frontend/shared-components/src/components/confirmation-popup/__snapshots__/ConfirmationPopup.stories.storyshot
  src/frontend/shared-components/src/components/display-box/DisplayBox.css
  src/frontend/shared-components/src/components/display-box/DisplayBox.js
  src/frontend/shared-components/src/components/display-box/DisplayBox.stories.js
  src/frontend/shared-components/src/components/display-box/DisplayBox.test.js
  src/frontend/shared-components/src/components/display-box/__snapshots__/DisplayBox.stories.storyshot
  src/frontend/shared-components/src/components/display-box/__snapshots__/DisplayBox.test.js.snap
Labels: 1 LOVE, enhancement, handle it

#299 Fix up button stories and add awesome custom documentation
  src/frontend/shared-components/.storybook/main.js
  src/frontend/shared-components/src/components/button/Button.stories.js
  src/frontend/shared-components/src/components/button/Button.stories.mdx
  src/frontend/shared-components/src/components/button/Button.test.js
  src/frontend/shared-components/src/components/button/__snapshots__/Button.stories.storyshot
  src/frontend/shared-components/src/components/button/__snapshots__/Button.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#301 add documentation for alert and add info state
  src/frontend/shared-components/src/components/alert/Alert.js
  src/frontend/shared-components/src/components/alert/Alert.stories.js
  src/frontend/shared-components/src/components/alert/Alert.stories.mdx
  src/frontend/shared-components/src/components/alert/Alert.test.js
  src/frontend/shared-components/src/components/alert/__snapshots__/Alert.stories.storyshot
  src/frontend/shared-components/src/components/alert/__snapshots__/Alert.test.js.snap
  src/frontend/shared-components/src/components/display-box/DisplayBox.css
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#300 Added new endpoint for account creation
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
Labels: OpenApi Change, efiling-api, java

#302 Header component documentation
  src/frontend/shared-components/src/components/header/Header.stories.js
  src/frontend/shared-components/src/components/header/Header.stories.mdx
  src/frontend/shared-components/src/components/header/__snapshots__/Header.stories.storyshot
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#303 add footer custom docs and fix small wording issue in header docs
  src/frontend/shared-components/src/components/footer/Footer.stories.js
  src/frontend/shared-components/src/components/footer/Footer.stories.mdx
  src/frontend/shared-components/src/components/footer/__snapshots__/Footer.stories.storyshot
  src/frontend/shared-components/src/components/header/Header.stories.mdx
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#305 Add sidecard docs
  src/frontend/shared-components/src/components/sidecard/Sidecard.css
  src/frontend/shared-components/src/components/sidecard/Sidecard.stories.js
  src/frontend/shared-components/src/components/sidecard/Sidecard.stories.mdx
  src/frontend/shared-components/src/components/sidecard/__snapshots__/Sidecard.stories.storyshot
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#281 Configure Local Keycloak
  .settings/realm-export.json
  docker-compose.yml
Labels: ci/cd

#304 Updated generateurl validation tests
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EFileSubmissionPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/GenerateUrlRequestBuilders.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/features/backendfeatures/generateUrl.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateEfilingUrl.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlTest.java
Labels: LARGE, QA, backend-tests

#306 FLA-220 - Create Account Interface
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/csoAccountServiceImpl/CreateAccountTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/csoAccountServiceImpl/GetAccountDetailsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/CreateAccountRequest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingAccountService.java
  src/backend/libs/efiling-commons/src/test/java/ca/bc/gov/open/jag/efilingcommons/model/CreateAccountRequestTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImplTest.java
Labels: READY FOR REVIEW, java

#307 Add docs for confirmation popup, fix story tests for confirmation popup and alert components
  src/frontend/shared-components/package.json
  src/frontend/shared-components/src/components/alert/Alert.mdx
  src/frontend/shared-components/src/components/alert/Alert.stories.js
  src/frontend/shared-components/src/components/alert/__snapshots__/Alert.stories.storyshot
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.mdx
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.stories.js
  src/frontend/shared-components/src/components/confirmation-popup/__snapshots__/ConfirmationPopup.stories.storyshot
  src/frontend/shared-components/src/storyshots.test.js
  src/frontend/shared-components/src/types/propTypes.js
Labels: 1 LOVE, READY FOR REVIEW, bug, documentation, enhancement, frontend

#308 Fix storyshot mdx issues
  src/frontend/shared-components/src/components/button/Button.mdx
  src/frontend/shared-components/src/components/button/Button.stories.js
  src/frontend/shared-components/src/components/button/__snapshots__/Button.stories.storyshot
  src/frontend/shared-components/src/components/footer/Footer.mdx
  src/frontend/shared-components/src/components/footer/Footer.stories.js
  src/frontend/shared-components/src/components/footer/__snapshots__/Footer.stories.storyshot
  src/frontend/shared-components/src/components/header/Header.mdx
  src/frontend/shared-components/src/components/header/Header.stories.js
  src/frontend/shared-components/src/components/header/__snapshots__/Header.stories.storyshot
  src/frontend/shared-components/src/components/sidecard/Sidecard.mdx
  src/frontend/shared-components/src/components/sidecard/Sidecard.stories.js
  src/frontend/shared-components/src/components/sidecard/__snapshots__/Sidecard.stories.storyshot
Labels: 1 LOVE, READY FOR REVIEW, bug, documentation, enhancement, frontend

#309 Add display box and table and tou docs
  src/frontend/shared-components/src/components/display-box/DisplayBox.mdx
  src/frontend/shared-components/src/components/display-box/DisplayBox.stories.js
  src/frontend/shared-components/src/components/display-box/__snapshots__/DisplayBox.stories.storyshot
  src/frontend/shared-components/src/components/table/Table.mdx
  src/frontend/shared-components/src/components/table/Table.stories.js
  src/frontend/shared-components/src/components/table/__snapshots__/Table.stories.storyshot
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.mdx
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.stories.js
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#310 Add loader component docs
  src/frontend/shared-components/src/components/loader/Loader.mdx
  src/frontend/shared-components/src/components/loader/Loader.stories.js
  src/frontend/shared-components/src/components/loader/__snapshots__/Loader.stories.storyshot
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#312 Add input field docs
  src/frontend/shared-components/src/components/input/Input.mdx
  src/frontend/shared-components/src/components/input/Input.stories.js
  src/frontend/shared-components/src/components/input/__snapshots__/Input.stories.storyshot
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#314 Update some styles
  src/frontend/shared-components/src/components/button/Button.css
  src/frontend/shared-components/src/components/display-box/DisplayBox.css
  src/frontend/shared-components/src/components/sidecard/Sidecard.css
  src/frontend/shared-components/src/components/sidecard/Sidecard.js
  src/frontend/shared-components/src/components/sidecard/Sidecard.mdx
  src/frontend/shared-components/src/components/sidecard/Sidecard.test.js
  src/frontend/shared-components/src/components/sidecard/__snapshots__/Sidecard.test.js.snap
Labels: 1 LOVE, frontend

#315 enable file upload to kc
  docker-compose.yml
Labels: READY FOR REVIEW, ci/cd, docker

#313 FLA-231 implements demo create account
  README.md
  docker-compose.yml
  docs/gettingStarted.md
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/cache/CacheConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/GetByKeyTest.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/mappers/AccountDetailsMapper.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/csoAccountServiceImpl/GetAccountDetailsTest.java
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/AccountDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/CreateAccountRequest.java
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/Keys.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/SeedAccount.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingAccountServiceDemoImplTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/SeedAccountTest.java
Labels: 1 LOVE, HUGE, OpenApi Change, READY FOR REVIEW, efiling-api, java

#316 Modify submission endpoint to return the bceid account in the account list
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
Labels: OpenApi Change, efiling-api, java

#317 CSO create account backend initial tests
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/Accounts.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CreateCsoAccountPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CsoPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/config/config.properties
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/CreateCsoAccountRequestBuilders.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/features/backendfeatures/createCsoAccount.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/CreateCsoAccountTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlTest.java
  tests/src/test/java/testdatasource/account-data.json
Labels: LARGE, QA, backend-tests

#321 Address feedback on shared components docs
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.mdx
  src/frontend/shared-components/src/components/confirmation-popup/ConfirmationPopup.stories.js
  src/frontend/shared-components/src/components/confirmation-popup/__snapshots__/ConfirmationPopup.stories.storyshot
  src/frontend/shared-components/src/components/display-box/DisplayBox.css
  src/frontend/shared-components/src/components/header/Header.mdx
  src/frontend/shared-components/src/components/input/Input.css
  src/frontend/shared-components/src/components/input/Input.mdx
  src/frontend/shared-components/src/components/table/Table.mdx
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#319 Package confirmation page (Part 1)
  src/frontend/efiling-frontend/src/components/composite/cso-status/CSOStatus.js
  src/frontend/efiling-frontend/src/components/composite/cso-status/CSOStatus.stories.js
  src/frontend/efiling-frontend/src/components/composite/cso-status/CSOStatus.test.js
  src/frontend/efiling-frontend/src/components/composite/cso-status/__snapshots__/CSOStatus.stories.storyshot
  src/frontend/efiling-frontend/src/components/composite/cso-status/__snapshots__/CSOStatus.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.css
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.stories.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/modules/sidecardData.js
  src/frontend/efiling-frontend/yarn.lock
  src/frontend/shared-components/src/components/display-box/DisplayBox.css
  src/frontend/shared-components/src/components/display-box/DisplayBox.mdx
  src/frontend/shared-components/src/components/display-box/DisplayBox.stories.js
  src/frontend/shared-components/src/components/display-box/__snapshots__/DisplayBox.stories.storyshot
  src/frontend/shared-components/src/components/sidecard/Sidecard.css
  src/frontend/shared-components/src/components/table/Table.js
  src/frontend/shared-components/src/components/table/Table.mdx
  src/frontend/shared-components/src/components/table/Table.stories.js
  src/frontend/shared-components/src/components/table/__snapshots__/Table.stories.storyshot
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend

#320 Create CSO Account
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.stories.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/modules/applicantInfoTestData.js
  src/frontend/efiling-frontend/src/modules/translateApplicantInfo.js
  src/frontend/efiling-frontend/src/types/propTypes.js
Labels: HUGE, Humongous big, frontend

#322 Alert custom icon
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/modules/applicantInfoTestData.js
  src/frontend/efiling-frontend/src/modules/translateApplicantInfo.js
  src/frontend/efiling-frontend/src/types/propTypes.js
  src/frontend/shared-components/src/components/alert/Alert.css
  src/frontend/shared-components/src/components/alert/Alert.js
  src/frontend/shared-components/src/components/alert/Alert.mdx
  src/frontend/shared-components/src/components/alert/Alert.stories.js
  src/frontend/shared-components/src/components/alert/Alert.test.js
  src/frontend/shared-components/src/components/alert/__snapshots__/Alert.stories.storyshot
  src/frontend/shared-components/src/components/display-box/DisplayBox.css
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend

#323 Add missing test case for input base component
  src/frontend/shared-components/src/components/input/Input.test.js
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend

#324 Adding yml and postman updates
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
Labels: OpenApi Change

#325 Add Textarea shared component
  src/frontend/shared-components/src/components/input/Input.test.js
  src/frontend/shared-components/src/components/input/__snapshots__/Input.test.js.snap
  src/frontend/shared-components/src/components/sidecard/Sidecard.test.js
  src/frontend/shared-components/src/components/sidecard/__snapshots__/Sidecard.test.js.snap
  src/frontend/shared-components/src/components/terms-of-use/TermsOfUse.test.js
  src/frontend/shared-components/src/components/terms-of-use/__snapshots__/TermsOfUse.test.js.snap
  src/frontend/shared-components/src/components/textarea/Textarea.css
  src/frontend/shared-components/src/components/textarea/Textarea.js
  src/frontend/shared-components/src/components/textarea/Textarea.mdx
  src/frontend/shared-components/src/components/textarea/Textarea.stories.js
  src/frontend/shared-components/src/components/textarea/Textarea.test.js
  src/frontend/shared-components/src/components/textarea/__snapshots__/Textarea.stories.storyshot
  src/frontend/shared-components/src/components/textarea/__snapshots__/Textarea.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, documentation, enhancement, frontend

#327 Textarea: forgot to save files and as a result werent included in previous pr
  src/frontend/shared-components/src/components/textarea/Textarea.stories.js
  src/frontend/shared-components/src/components/textarea/Textarea.test.js
  src/frontend/shared-components/src/components/textarea/__snapshots__/Textarea.stories.storyshot
  src/frontend/shared-components/src/components/textarea/__snapshots__/Textarea.test.js.snap
Labels: 1 LOVE, enhancement, frontend

#328 Create CSO Account Impl
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoHelpers.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/csoAccountServiceImpl/CreateAccountTest.java
Labels: efiling-account-client

#318 Improving tests documentation
  .github/workflows/cucumber-tests.yml
  README.md
  docker-compose.yml
  src/backend/Dockerfile
  tests/README.md
Labels: QA, READY FOR REVIEW, testing

#329 Add Account Created Alert
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.stories.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.stories.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, bug, frontend, handle it, many tries

#326 Adding endpoint and implement Parent Application storage
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
Labels: OpenApi Change, efiling-api, porkchop sandwiches

#332 Refactor endpoints data structure
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/fee/models/FeeRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fee/mockservice/GetFeeTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fee/models/FeeRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/PutTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
Labels: DRAFT

#334 Clean up tests
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
Labels: testing

#339 Fix linting issue for team, only run lint on staged files (and on commit)
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, bug, enhancement, frontend

#343 Everything is awesome! (Lint fixed and moved to cc)
  .github/workflows/code-climate-coverage-aggregation.yml
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, bug, frontend

#344 Fix eslint
  src/frontend/efiling-demo/.eslintrc.js
Labels: 1 LOVE, HUGE, Humongous big, LARGE, MONOLITHIC, frontend, frontend-tests, handle it

#340 Document upload from client application :)
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UploadSubmissionDocumentsTest.java
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.test.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/.eslintrc.js
  src/frontend/efiling-frontend/package.json
Labels: 1 LOVE, LARGE, READY FOR REVIEW, demo, efiling-api, enhancement, frontend, many tries

#337 Add Error handling and redirecting
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/App.js
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/error/Error.css
  src/frontend/efiling-demo/src/components/page/error/Error.js
  src/frontend/efiling-demo/src/components/page/error/Error.stories.js
  src/frontend/efiling-demo/src/components/page/error/Error.test.js
  src/frontend/efiling-demo/src/components/page/error/__snapshots__/Error.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
Labels: Humongous big, READY FOR REVIEW, collab, efiling-api, enhancement, frontend, handle it, java, many tries, stellar

#341 Return Fees to Submission
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/fee/FeeService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/fee/MockFeeService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/fee/models/Config.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/fee/models/Fee.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/fee/models/FeeRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fee/mockservice/GetFeeTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fee/models/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fee/models/FeeRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
Labels: It's Working!, OpenApi Change, efiling-api, handle it, porkchop sandwiches, stellar

#348 Updated postman collection
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
Labels: Humongous big

#349 Cleanup remnants of shared components
  .codeclimate.yml
  README.md
  src/frontend/.dockerignore
  src/frontend/Dockerfile
Labels: 1 LOVE

#353 Update Postman
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
Labels: testing

#354 Remove homepage
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-frontend/package.json
Labels: 1 LOVE, ci/cd, collab, demo, frontend, handle it

#355 Update: Import to pull in env
  src/frontend/efiling-demo/public/index.html
  src/frontend/efiling-frontend/public/index.html
Labels: 1 LOVE, ci/cd, frontend, handle it, yuge

#356 Fix tests and add ability to get csoaccountid
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.stories.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/modules/sidecardData.js
  src/frontend/efiling-frontend/src/modules/userDetails.js
Labels: 1 LOVE, It's Working!, READY FOR REVIEW, enhancement, frontend

#358 FLA-270 refactor submission id to store it under submission parameter
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStore.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStoreImpl.java
  src/backend/efiling-api/src/test/efilling-api.postman_environment.json
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/GetByKeyTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
Labels: OpenApi Change, efiling-api, java

#359 FLA-259 implement description lookup based on document type
  src/backend/efiling-api/README.md
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CSOStatusServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/resources/wsdl/FilingStatusFacade.wsdl
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/csoStatusServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Clients.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/DocumentDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingDocumentService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingLookupService.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImplTest.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImpl.java
  src/backend/libs/efiling-status-client/pom.xml
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/CSOStatusServiceImpl.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/EfilingStatusService.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/MockCSOStatusServiceImpl.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/config/AutoConfiguration.java
  src/backend/libs/efiling-status-client/src/main/java/ca/bc/gov/open/jag/efilingstatusclient/config/CSOStatusProperties.java
  src/backend/libs/efiling-status-client/src/main/resources/META-INF/spring.factories
  src/backend/libs/efiling-status-client/src/test/java/ca/bc/gov/open/jag/efilingstatusclient/EfilingStatusClientTest.java
  src/backend/libs/efiling-status-client/src/test/java/ca/bc/gov/open/jag/efilingstatusclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-status-client/src/test/java/ca/bc/gov/open/jag/efilingstatusclient/config/CSOStatusPropertiesTest.java
  src/backend/pom.xml
Labels: backend-demo, efiling-account-client, efiling-facade, porkchop sandwiches, stellar

#362 FLA-271 Returning document description
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/AutoConfigurationTest.java
Labels: DRAFT

#360 Qa backend court info
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/Cancel.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/DocumentProperties.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/Error.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/Headers.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/Navigation.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/Payload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/SubmissionAccess.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/Success.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/GenerateUrlRequestBuilders.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/features/backendfeatures/generateUrlAndSubmission.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionTest.java
Labels: LARGE, QA, READY FOR REVIEW, backend-tests

#361 FLA-259 implement description lookup based on document type Part 2
  docs/_sidebar.md
  docs/data.md
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/cache/CacheConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStore.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/cache/AutoConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CSODocumentServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CSOStatusServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-account-client/src/main/java/ca/bc/gov/open/jag/efilingaccountclient/config/AutoConfiguration.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/csoAccountServiceImpl/CreateAccountTest.java
  src/backend/libs/efiling-account-client/src/test/java/ca/bc/gov/open/jag/efilingaccountclient/csoStatusServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingDocumentServiceException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/DocumentDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingDocumentService.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImplTest.java
Labels: backend-demo, efiling-account-client, efiling-facade, porkchop sandwiches, stellar

#368 Adding MDC for submission tracking
  .mdlrc
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/Keys.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
Labels: HUGE, java

#366 Generic error
  docs/errorHandling.md
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/modules/errorRedirect.js
Labels: 1 LOVE, frontend, handle it

#369 Refactor Lookup Client
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/efiling-worker/pom.xml
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/EfilingMessageConsumer.java
  src/backend/efiling-worker/src/main/java/ca/bc/gov/open/jag/efilingworker/config/EfilingWorkerConfig.java
  src/backend/efiling-worker/src/test/java/ca/bc/gov/open/jag/efilingworker/EfilingMessageConsumerTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingLookupServiceException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/ServiceFees.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoHelpers.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoLookupServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/FilingFacade.wsdl
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/LookupFacade.wsdl
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoLookupService/CsoLookupServiceImplTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoLookupService/ServiceFeesTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImplTest.java
  src/backend/libs/efiling-lookup-client/pom.xml
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImpl.java
  src/backend/libs/efiling-lookup-client/src/main/java/ca/bc/gov/open/jag/efilinglookupclient/config/AutoConfiguration.java
  src/backend/libs/efiling-lookup-client/src/main/resources/META-INF/spring.factories
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/CSOLookupServiceImplTest.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/ServiceFeesTest.java
  src/backend/libs/efiling-lookup-client/src/test/java/ca/bc/gov/open/jag/efilinglookupclient/config/AutoConfigurationTest.java
  src/backend/libs/efiling-submission-client/pom.xml
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/DemoSubmissionServiceImpl.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/EfilingSubmissionService.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/config/AutoConfiguration.java
  src/backend/libs/efiling-submission-client/src/main/java/ca/bc/gov/open/jag/efilingsubmissionclient/config/CsoSubmissionProperties.java
  src/backend/libs/efiling-submission-client/src/main/resources/META-INF/spring.factories
  src/backend/libs/efiling-submission-client/src/test/java/ca/bc/gov/open/jag/efilingsubmissionclient/CsoSubmissionServiceImplTest.java
  src/backend/libs/efiling-submission-client/src/test/java/ca/bc/gov/open/jag/efilingsubmissionclient/DemoSubmissionServiceImplTest.java
  src/backend/libs/efiling-submission-client/src/test/java/ca/bc/gov/open/jag/efilingsubmissionclient/config/AutoConfigurationTest.java
  src/backend/pom.xml
Labels: LARGE, efiling-account-client, porkchop sandwiches

#373 Adding ability to work with monetary values in JavaScript, add many missing tests
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, frontend-tests

#374 Add missing tests
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoAccountServiceImpl/CreateAccountTest.java
Labels: Stressful

#375 Updated and new submission API backend tests
  .env.template
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/GenerateUrlRequestBuilders.java
  tests/src/test/java/features/backendfeatures/generateUrlAndSubmission.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionTest.java
  tests/src/test/java/testdatasource/backend.png
  tests/src/test/java/testdatasource/test-document.txt
  tests/src/test/java/testdatasource/test-pdf-document.pdf
  tests/src/test/java/testdatasource/workflow-automation.jpeg
Labels: LARGE, QA, READY FOR REVIEW, backend-tests

#378 Ability to view pdf document in new tab! :)
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.css
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend

#380 FLA-288 in the get package return the mime type
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/FileUtils.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
Labels: OpenApi Change, efiling-api, java

#382 Add payment component tests and link back to package confirmation
  src/frontend/efiling-frontend/.eslintrc.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.stories.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, frontend-tests

#383 Consume mimetype (smallest FE PR in the history)
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, tiny small

#381 FLA-286 Retrieve Court Descriptions from CSO Part 1
  src/backend/efiling-api/README.md
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingCourtServiceException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Clients.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/CourtDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingCourtService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoCourtServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/Csows.wsdl
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoCourtService/GetCourtDescription.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtServiceDemoImplTest.java
Labels: READY FOR REVIEW, efiling-cso-starter, porkchop sandwiches, stellar, wsdl

#384 Update cucumber-tests.yml
  .github/workflows/cucumber-tests.yml
Labels: ci/cd, testing

#387 Add ability to pass in custom filing package JSON in demo app
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.test.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, demo, enhancement, frontend

#388 Updated frontend/backend tests
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CreateCsoAccountPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CsoPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/LandingPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/PackageConfirmationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/CreateCsoAccountRequestBuilders.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/features/backendfeatures/createCsoAccount.feature
  tests/src/test/java/features/frontendfeatures/eFileSubmission.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/CreateCsoAccountTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
Labels: LARGE, QA, READY FOR REVIEW, testing

#389 Add default value for filing package
  src/frontend/efiling-demo/src/components/page/home/Home.js
Labels: 1 LOVE, demo, frontend

#391 release 0.3.0
  src/backend/efiling-api/pom.xml
  src/backend/efiling-backend-demo/pom.xml
  src/backend/efiling-worker/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/pom.xml
Labels: HUGE, porkchop sandwiches, release

#392 prep 0.4.0
  src/backend/efiling-api/pom.xml
  src/backend/efiling-backend-demo/pom.xml
  src/backend/efiling-worker/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/pom.xml
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-frontend/package.json
Labels: 1 LOVE, READY FOR REVIEW

#385 FLA-286 Retrieve Court Descriptions from CSO
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoCourtServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoCourtService/GetCourtDescriptionTest.java
Labels: OpenApi Change, efiling-api, efiling-cso-starter, java, porkchop sandwiches, stellar

#394 use new shared-component lib
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, enhancement

#398 FLA-316: Display proper data for fees/court info
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.stories.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.stories.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/modules/courtTestData.js
  src/frontend/efiling-frontend/src/modules/generateFileSummaryData.js
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, HUGE, READY FOR REVIEW, enhancement, frontend

#399 Implement Filing Submission Part 1
  src/backend/efiling-api/README.md
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/submitFilingPackageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UploadSubmissionDocumentsTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingSubmissionServiceException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Clients.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingSubmissionService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoCourtServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/AutoConfigurationTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/filingSubmissionServiceDemoImplTest.java
Labels: Humongous big, OpenApi Change, backend-demo, documentation, efiling-api, efiling-cso-starter, porkchop sandwiches, wsdl

#401 FLA-305 Backend should return classDescription and LevelDescription
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/CourtDetails.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoCourtServiceImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingCourtServiceDemoImplTest.java
Labels: OpenApi Change, backend-demo, efiling-api, efiling-cso-starter

#402 Documentation updates
  .env.template
  README.md
Labels: documentation

#404 Use level and class description fields from API
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.css
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/modules/courtTestData.js
Labels: 1 LOVE, READY FOR REVIEW, collab, enhancement, frontend

#405 Better DRY
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.css
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/page.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
Labels: 1 LOVE, enhancement, frontend

#400 Removing unused app
  .github/workflows/code-climate-coverage-aggregation.yml
  src/backend/efiling-backend-demo/README.md
  src/backend/efiling-backend-demo/efiling-backend-demo.openapi.yaml
  src/backend/efiling-backend-demo/pom.xml
  src/backend/efiling-backend-demo/src/main/java/ca/bc/gov/open/jag/efilingbackenddemo/DocumentService.java
  src/backend/efiling-backend-demo/src/main/java/ca/bc/gov/open/jag/efilingbackenddemo/EfilingBackendDemoApplication.java
  src/backend/efiling-backend-demo/src/main/resources/application.properties
  src/backend/efiling-backend-demo/src/main/resources/dummy.pdf
  src/backend/efiling-backend-demo/src/test/java/ca/bc/gov/open/jag/efilingbackenddemo/DocumentServiceTest.java
  src/backend/pom.xml
Labels: help given, help wanted

#407 FLA-306 When getting the efiling package return the submission fees
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
Labels: OpenApi Change, efiling-api, java

#411 Fix up components based on new refactoring of table in shared components
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.css
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend

#410 Update dependabot for frontend
  .github/dependabot.yml
Labels: 1 LOVE, DO NOT MERGE, HUGE, MONOLITHIC, Stressful, ci/cd, dependencies, frontend, handle it

#415 FLA-318 Add Service Type Constant and Pass to the getServiceFee
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionConstants.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
Labels: efiling-api

#441 updated court detail payload
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EFileSubmissionPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/LandingPage.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
Labels: QA, READY FOR REVIEW, enhancement

#427 FLA-321 Implement ServiceFacade addService
  src/backend/efiling-api/README.md
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Clients.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingSubmissionService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/ServiceMapper.java
  src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/ServiceFacade.wsdl
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/AddServiceTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/filingSubmissionServiceDemoImplTest.java
Labels: backend-demo, documentation, efiling-cso-starter, java, wsdl

#403 Keycloak Implementation
  .env.template
  .settings/nginx.conf
  .settings/realm-export.json
  README.md
  docker-compose.yml
  src/backend/efiling-api/README.md
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/KeycloakSecurityConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/efilling-api.postman_environment.json
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/config/KeycloakSecurityConfigTest.java
Labels: docker, efiling-api, keycloak

#442 Updated cucumber tests yaml
  .github/workflows/cucumber-tests.yml
  scripts/installChrome.sh
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
Labels: QA, READY FOR REVIEW, enhancement

#444 fixed typo on yaml
  .github/workflows/cucumber-tests.yml
Labels: QA, READY FOR REVIEW, tiny small

#443 Remove webpack dep
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, dependencies

#446 chrome git actions config update
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
Labels: QA

#447 fix build issue with efiling-demo
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
Labels: 1 LOVE, bug, frontend

#448 Update env vars names to be consistent
  .env.template
  src/backend/efiling-api/README.md
  src/backend/efiling-api/src/main/resources/application.yml
Labels: efiling-api, requires openshift changes, up for discussion

#461 exclude auth guard file
  .codeclimate.yml
Labels: 1 LOVE, bug, frontend

#458 Keycloak hackathon
  docker-compose.yml
  src/frontend/Dockerfile
  src/frontend/efiling-demo/.env.example
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/App.js
  src/frontend/efiling-demo/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/.env.example
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/yarn.lock
Labels: DO NOT MERGE, DRAFT

#459 Adding Openshift Build Configs Non-parameterized
  openshift/applications/builds/fla-springboot-backend-bc.yaml
  openshift/applications/builds/react-web-app-builder-bc.yaml
  openshift/applications/builds/react-web-app-demo-bc.yaml
  openshift/applications/builds/static-web-app-demo-running-on-nginx-bc.yaml
  openshift/applications/builds/static-web-app-running-on-nginx-bc.yaml
Labels: ci/cd, openshift

#460 Adding Openshift Deployment Configs Non-Parameterized
  openshift/applications/deployments/fla-springboot-backend-dc.yaml
  openshift/applications/deployments/react-web-app-dc.yaml
Labels: ci/cd, openshift

#462 Openshift services
  openshift/applications/services/fla-springboot-backend-service.yaml
  openshift/applications/services/nginx-api-proxy-service.yaml
  openshift/applications/services/react-web-app-demo-service.yaml
  openshift/applications/services/react-web-app-service.yaml
Labels: ci/cd, openshift

#466 moving env to docker-compose
  docker-compose.yml
  src/frontend/Dockerfile
Labels: docker

#465 Chrome and YAML change for git actions
  .github/workflows/cucumber-tests.yml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
Labels: QA, testing

#464 Basic Swagger Implementation
  src/backend/efiling-hub-api/jag-efiling-hub-api.yaml
  src/backend/efiling-hub-api/pom.xml
  src/backend/efiling-hub-api/src/main/java/ca/bc/gov/open/jag/efilinghubapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-hub-api/src/test/java/ca/bc/gov/open/jag/efilinghubapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-hub-api/src/test/java/ca/bc/gov/open/jag/efilinghubapi/submission/submissionApiDelegateImpl/UploadSubmissionDocumentsTest.java
Labels: OpenApi Change, java, porkchop sandwiches

#467 Openshift routes unparameterized
  openshift/applications/routes/fla-nginx-proxy-route.yaml
  openshift/applications/routes/fla-springboot-backend-route.yaml
  openshift/applications/routes/react-web-app-demo-route.yaml
  openshift/applications/routes/react-web-app-route.yaml
Labels: ci/cd, openshift

#469 Config change for frontend git actions
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
Labels: QA, testing

#468 Downgrade keycloak-js version
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, demo, frontend, handle it, keycloak, many tries

#474 Credit card alerts
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/modules/creditCardAlerts.js
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend, javascript

#475 API Deploy Config Yaml Rename
  openshift/applications/deployments/efiling-api-dc.yaml
Labels: ci/cd, openshift

#477 Get BCeID username, firstname, lastname, email and populate on frontend
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.stories.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.test.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/modules/authenticationHelper.js
  src/frontend/efiling-frontend/src/modules/sidecardData.js
  src/frontend/efiling-frontend/src/modules/translateApplicantInfo.js
  src/frontend/efiling-frontend/src/modules/userDetails.js
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, HUGE, READY FOR REVIEW, enhancement, frontend, javascript

#479 Bceid authentication automation
  .github/workflows/cucumber-tests.yml
  tests/.env.template
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/AuthenticationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/test/java/ca/bc/gov/open/jagefilingapi/qa/cucumber/Options/RunCucumberTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
  tests/src/test/java/testdatasource/test-document.txt
Labels: QA, READY FOR REVIEW, frontend-tests, testing

#478 Remove hub
  src/backend/efiling-hub-api/README.md
  src/backend/efiling-hub-api/jag-efiling-hub-api.yaml
  src/backend/efiling-hub-api/pom.xml
  src/backend/efiling-hub-api/src/main/java/ca/bc/gov/open/jag/efilinghubapi/EfilingHubApiApplication.java
  src/backend/efiling-hub-api/src/main/java/ca/bc/gov/open/jag/efilinghubapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-hub-api/src/main/resources/application-splunk.yml
  src/backend/efiling-hub-api/src/main/resources/application.yml
  src/backend/efiling-hub-api/src/main/resources/logback-access.xml
  src/backend/efiling-hub-api/src/main/resources/logback-splunk.xml
  src/backend/efiling-hub-api/src/main/resources/logback.xml
  src/backend/efiling-hub-api/src/test/java/ca/bc/gov/open/jag/efilinghubapi/EfilingHubApiApplicationTests.java
  src/backend/efiling-hub-api/src/test/java/ca/bc/gov/open/jag/efilinghubapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-hub-api/src/test/java/ca/bc/gov/open/jag/efilinghubapi/submission/submissionApiDelegateImpl/UploadSubmissionDocumentsTest.java
  src/backend/pom.xml
Labels: java, porkchop sandwiches

#480 Add to pom
  src/backend/libs/efiling-bom/pom.xml
Labels: bug

#481 Add reference in failing project
  src/backend/libs/efiling-commons/pom.xml
Labels: bug

#482 Update auth for OpenShift
  src/frontend/efiling-demo/public/index.html
  src/frontend/efiling-demo/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/src/components/hoc/AuthenticationGuard.js
Labels: 1 LOVE, Humongous big, Stressful, ci/cd, frontend, openshift, tiny small

#484 Use name property instead of given and family names
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/modules/applicantInfoTestData.js
  src/frontend/efiling-frontend/src/modules/translateApplicantInfo.js
  src/frontend/efiling-frontend/src/types/propTypes.js
Labels: 1 LOVE, READY FOR REVIEW, enhancement, frontend

#487 FLA-331 Remove XAuth-Id from getSubmission and use the bearer token
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/Keys.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
Labels: 1 LOVE, OpenApi Change, efiling-api, java, keycloak

#488 Openshift Pipeline Template - API
  openshift/applications/builds/fla-springboot-backend-bc.yaml
  openshift/applications/deployments/efiling-api-dc.yaml
  openshift/applications/deployments/static-web-app-running-on-nginx-dc.yaml
  openshift/jenkins/efiling-api-jenkins.yaml
Labels: ci/cd, openshift

#486 Functionality to get universalid from token and not temp
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.test.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.stories.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/modules/authenticationHelper.js
  src/frontend/efiling-frontend/src/modules/userDetails.js
Labels: 1 LOVE, enhancement, frontend

#489 fix underscore issue
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
Labels: 1 LOVE, bug

#483 Implement Update Service
  README.md
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingSubmissionServiceException.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/EfilingTransaction.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingSubmissionService.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/mappers/ServiceMapper.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/TestHelpers.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/AddServiceTest.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/csoSubmissionServiceImpl/UpdateServiceTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImpl.java
Labels: efiling-cso-starter, java, porkchop sandwiches, wsdl

#490 FLA-328: X-Transaction-Id not X-Auth-UserId
  .env.template
  docker-compose.yml
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/AccountConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/Document.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/GenerateUrlResponseMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/SubmissionMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/Submission.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStore.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionStoreImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/SecurityUtils.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/AccountConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/ConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/generateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/submitFilingPackageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UploadSubmissionDocumentsTest.java
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/__snapshots__/storyshots.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/Home.test.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
Labels: 1 LOVE, LARGE, READY FOR REVIEW, bug, efiling-api, enhancement, frontend, javascript, stellar, that's a lot of code

#497 Interceptor to refresh token on 401 axios call and re-make call to endpoint
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/ApplicationConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/KeycloakSecurityConfig.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/config/ApplicationConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/config/KeycloakSecurityConfigTest.java
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, It's Working!, READY FOR REVIEW, enhancement, frontend, javascript
