Repository bcgov/jag-file-submission, pull requests merged in 2020-10, with the labels that each got.

#968 🤖 Transformers, frontend dependabots in disguise
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, GOTTA GO FAST, READY FOR REVIEW, dependencies, frontend, javascript

#978 🤖 Transformers, frontend dependabots in disguise
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, dependencies, frontend

#980 🤖 Transformers, test dependabots in disguise
  tests/pom.xml
Labels: 1 LOVE, backend-tests, dependencies, testing

#979 🤖 Transformers, backend dependabots in disguise
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
Labels: 1 LOVE, dependencies, efiling-api

#982 Fixing issue with no account in cso
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
Labels: (⌐■_■)ノ＼(■_■ ), TEAMWORK! (⌐■_■), efiling-api

#984 Versioning update for env files (FE)
  src/frontend/efiling-demo/public/index.html
  src/frontend/efiling-frontend/public/index.html
Labels: 1 LOVE, READY FOR REVIEW, bug, frontend

#985 Remove temp fix for caching of env variables
  src/frontend/efiling-demo/public/index.html
  src/frontend/efiling-frontend/public/index.html
Labels: 1 LOVE, READY FOR REVIEW, bug, frontend

#991 🤖 Transformers, frontend dependabots in disguise
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, MORE THAN MEETS THE EYE 🤖, READY FOR REVIEW, dependencies, frontend

#997 Testing environment Config update
  .github/workflows/cucumber-tests.yml
  .gitignore
  tests/README.md
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/paymentpayload/PaymentPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/config/ReadConfig.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/config/config.properties
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/CreateCsoAccountPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EFileSubmissionPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/PackageConfirmationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/GenerateUrlRequestBuilders.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/testdatatypes/CsoAccountGuid.java
  tests/src/test/java/features/afrontendfeatures/eFileSubmission.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionForNonExistingGuidTest.java
  tests/src/test/java/testdatasource/account-data.json
  tests/src/test/resources/config.properties
  tests/src/test/resources/local.properties
Labels: QA, READY FOR REVIEW, documentation, enhancement

#1000 Added missing variable
  tests/README.md
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/testdatatypes/CsoAccountGuid.java
Labels: QA, READY FOR REVIEW, bug

#1001 add documentation for filing package object
  docs/README.md
  docs/_sidebar.md
  docs/data.md
  docs/gettingStarted.md
Labels: documentation, over1000, porkchop sandwiches

#1017 🤖 Transformers, frontend dependabots in disguise
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, READY FOR REVIEW, dependencies, frontend, javascript

#1018 efiling-demo: Use latest shared components release
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/components/page/cancel/Cancel.js
  src/frontend/efiling-demo/src/components/page/cancel/__snapshots__/Cancel.stories.storyshot
  src/frontend/efiling-demo/src/components/page/cancel/__snapshots__/Cancel.test.js.snap
  src/frontend/efiling-demo/src/components/page/error/Error.js
  src/frontend/efiling-demo/src/components/page/error/__snapshots__/Error.stories.storyshot
  src/frontend/efiling-demo/src/components/page/error/__snapshots__/Error.test.js.snap
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-demo/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-demo/src/components/page/success/Success.js
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.stories.storyshot
  src/frontend/efiling-demo/src/components/page/success/__snapshots__/Success.test.js.snap
  src/frontend/efiling-demo/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, frontend

#1019 efiling-frontend: Use latest shared component release
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/page/cso-account/CSOAccount.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/modules/helpers/creditCardAlerts.js
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
  src/frontend/efiling-frontend/src/modules/test-data/confirmationPopupTestData.js
  src/frontend/efiling-frontend/yarn.lock
Labels: 1 LOVE, READY FOR REVIEW, frontend, javascript, tiny small
