Repository bcgov/jag-file-submission, pull requests merged in 2021-09, with the labels that each got.

#2215 Adding logging to track certain conditions
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSubmissionServiceImpl.java
Labels: porkchop sandwiches, efiling-api, java, It's Working!, efiling-cso-starter, (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, over1000, :pizza: :label:, :vulcan_salute: QUARK, :bicyclist: cash, label, Label name, hello there, :badger: BADGER, :smile_cat: Cat, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, Mustard :spoon:, :fork_and_knife: fork, jedi :star:, EXTREME DEVOPS, :car:, :racing_car:, :3rd_place_medal:

#2237 Rush validations FLA-1302
  src/frontend/efiling-frontend/src/components/input/Input.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.scss
  src/frontend/efiling-frontend/src/components/page/rush/Rush.test.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/PackageConfirmation.test.js
Labels: frontend, frontend-tests, Mustard :spoon:

#2238 Adding Country Mapping
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoLookupServiceImpl.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoLookupService/GetCountriesTest.java
Labels: good first issue, porkchop sandwiches, handle it, java, READY FOR REVIEW, It's Working!, 1 LOVE, tiny small, (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, :pizza: :label:, :vulcan_salute: QUARK, refresh :arrows_counterclockwise:, :bicyclist: cash, :watch: sync :watch:, label, Label name, hello there, :badger: BADGER, :smile_cat: Cat, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, Mustard :spoon:, everything is awesome, :fork_and_knife: fork, jedi :star:, EXTREME DEVOPS, :car:, :racing_car:, :3rd_place_medal:, UNDERWHELMING

#2240 Removing Unused Openshift Templates
  openshift/applications/builds/efiling-api-bc.yaml
  openshift/applications/builds/react-web-app-builder-bc.yaml
  openshift/applications/builds/react-web-app-demo-bc.yaml
  openshift/applications/builds/static-web-app-demo-running-on-nginx-bc.yaml
  openshift/applications/builds/static-web-app-running-on-nginx-bc.yaml
  openshift/applications/deployments/efiling-api-dc.yaml
  openshift/applications/deployments/react-web-app-dc.yaml
  openshift/applications/deployments/static-web-app-running-on-nginx-dc.yaml
  openshift/applications/routes/efiling-api-route.yaml
  openshift/applications/routes/fla-nginx-proxy-route.yaml
  openshift/applications/routes/react-web-app-demo-route.yaml
  openshift/applications/routes/react-web-app-route.yaml
  openshift/applications/services/efiling-api-service.yaml
  openshift/applications/services/nginx-api-proxy-service.yaml
  openshift/applications/services/react-web-app-demo-service.yaml
  openshift/applications/services/react-web-app-service.yaml
  openshift/applications/templates/efiling-api-jenkins.yaml
  openshift/applications/templates/efiling-frontend-jenkins.yaml
  openshift/jenkins/efiling-api-pipeline.yaml
  openshift/jenkins/jag-file-submission-libs.yaml
  openshift/jenkins/jenkinsfile
  openshift/jenkins/react-web-app-demo.yaml
  openshift/jenkins/react-web-app.yaml
  openshift/jenkins/shared-lib-starter-pipeline.yaml
Labels: openshift

#2241 FLA-1304 Added Rush regression tests
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/domain/payment/__tests__/__snapshots__/Payment.test.js.snap
  tests/src/test/java/ca/bc/gov/open/jag/efiling/RunCucumberTest.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageConfirmationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
  tests/src/test/resources/features/rushProcessing.feature
Labels: testing

#2242 FLA-1304 added regression test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageConfirmationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
  tests/src/test/resources/features/authenticateAndRedirectToEfilingHub.feature
  tests/src/test/resources/features/rushProcessing.feature
Labels: testing
