Repository bcgov/jag-file-submission, pull requests merged in 2021-05, with the labels that each got.

#1946 Update Restricted Document Check
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidatorImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateExtractedDocumentTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS

#1966 Upgrade all projects to 510
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-cso-client/pom.xml
  src/backend/libs/efiling-diligen-client/pom.xml
  src/backend/libs/efiling-mail-it/pom.xml
Labels: :car:

#1969 Postman on the move
  src/backend/efiling-reviewer-api/src/test/efiling-reviewer-api.postman_environment.json
  src/backend/efiling-reviewer-api/src/test/jag-reviewer-api.postman_collection.json
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :racing_car:, :vulcan_salute: QUARK

#1955 FLA-1028 - Handle General Exceptions
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/EfilingErrorBuilder.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/payment/PaymentApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/documentApiDelegateImpl/GetDocumentTypesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/DeleteSubmittedDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/payment/PaymentApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UploadAdditionalSubmissionDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UploadSubmissionDocumentsTest.java
Labels: EXTREME DEVOPS

#1973 Bare bones api
  src/backend/ai-reviewer-cso-api/.gitignore
  src/backend/ai-reviewer-cso-api/pom.xml
  src/backend/ai-reviewer-cso-api/src/main/java/ca/bc/gov/open/jag/aireviewercsoapi/AiReviewerCsoApiApplication.java
  src/backend/ai-reviewer-cso-api/src/main/resources/application.properties
  src/backend/ai-reviewer-cso-api/src/test/java/ca/bc/gov/open/jag/aireviewercsoapi/AiReviewerCsoApiApplicationTests.java
  src/backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, java, jedi :star:, porkchop sandwiches

#1968 Updated Reviewer Api tests against Mock
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-cso-client/pom.xml
  src/backend/libs/efiling-diligen-client/pom.xml
  src/backend/libs/efiling-mail-it/pom.xml
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/RunCucumberTest.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ConfigureDocumentTypesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ExtractValidatedDocumentsSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetExtractedDocumentEventByIdSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetProcessedDocumentSD.java
  tests/src/test/resources/features/configureRestrictedDocumentTypes.feature
  tests/src/test/resources/features/configuredDocumentTypes.feature
  tests/src/test/resources/features/extractValidatedDocuments.feature
  tests/src/test/resources/features/getProcessedDocument.feature
  tests/src/test/resources/payload/document-type-config-payload.json
  tests/src/test/resources/payload/document-type-config-update-payload.json
Labels: :cucumber: cucumber, QA, ai-reviewer, backend-tests

#1980 Ai reviewer admin tests
  .github/workflows/cucumber-tests.yml
  docker-compose.override.yml
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentTypeEditor.js
  tests/docker-compose-integration.yml
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/AiReviewerAdminClientPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ConfigureDocumentTypesInAiReviewerAdminSD.java
  tests/src/test/resources/features/configureDocumentTypesInAiReviewerAdmin.feature
Labels: 1 LOVE, :cucumber: cucumber, QA, ai-reviewer, frontend-tests

#1994 Setup Endpoint and Generator
  src/backend/ai-reviewer-cso-api/ai-reviewer-cso-api.yaml
  src/backend/ai-reviewer-cso-api/pom.xml
  src/backend/ai-reviewer-cso-api/src/main/java/ca/bc/gov/open/jag/aireviewercsoapi/extract/ExtractApiDelegateImpl.java
  src/backend/ai-reviewer-cso-api/src/main/resources/application.properties
  src/backend/ai-reviewer-cso-api/src/main/resources/application.yml
  src/backend/ai-reviewer-cso-api/src/test/java/ca/bc/gov/open/jag/aireviewercsoapi/extract/ExtractApiDelegateImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, Mustard :spoon:, hello there, java, jedi :star:, label, porkchop sandwiches

#1996 Adding Splunk
  src/backend/ai-reviewer-cso-api/ai-reviewer-cso-api.yaml
  src/backend/ai-reviewer-cso-api/pom.xml
  src/backend/ai-reviewer-cso-api/src/main/resources/application-splunk.yml
  src/backend/ai-reviewer-cso-api/src/main/resources/logback-spring.xml
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, It's Working!, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, java, jedi :star:, porkchop sandwiches

#1997 Documentation
  src/backend/ai-reviewer-cso-api/README.md
  src/backend/pom.xml
Labels: :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :racing_car:, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, documentation, porkchop sandwiches

#1995 Submission history filter test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/AiReviewerAdminClientPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/SubmissionHistoryPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewSubmissionHistorySD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/viewPackagesFilteredByParentAppSD.java
  tests/src/test/resources/features/viewPackagesFilteredByParentApp.feature
Labels: :cucumber: cucumber, QA, frontend-tests

#2002 Removed Ai Reviewer tests
  .github/workflows/cucumber-tests.yml
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/AiReviewerAdminClientPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/DocumentTypeConfigService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/ExtractDocumentService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ConfigureDocumentTypesInAiReviewerAdminSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ConfigureDocumentTypesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ConfigureRestrictedDocumentedTypesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ExtractValidatedDocumentsSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetProcessedDocumentSD.java
  tests/src/test/resources/data/test-invalid-document.pdf
  tests/src/test/resources/data/test-rcc-document.pdf
  tests/src/test/resources/data/test-valid-document.pdf
  tests/src/test/resources/features/configureDocumentTypesInAiReviewerAdmin.feature
  tests/src/test/resources/features/configureRestrictedDocumentTypes.feature
  tests/src/test/resources/features/configuredDocumentTypes.feature
  tests/src/test/resources/features/extractValidatedDocuments.feature
  tests/src/test/resources/features/getProcessedDocument.feature
  tests/src/test/resources/payload/additional-restricted-document-type-payload.json
  tests/src/test/resources/payload/document-type-config-payload.json
  tests/src/test/resources/payload/document-type-config-update-payload.json
  tests/src/test/resources/payload/restricted-document-type-payload.json
  tests/src/test/resources/payload/restricted-document-type-update-payload.json
Labels: 1 LOVE, :cucumber: cucumber, QA, ai-reviewer

#2004 Create dev-efiling-api-dl-build.yaml
  .github/workflows/dev-efiling-api-dl-build.yaml
Labels: Git Action

#2027 Create dev-efiling-api-dl-build-4.yaml
  .github/workflows/dev-efiling-api-dl-build-4.yaml
Labels: Git Action, docker

#2028 Create dev-efiling-api-dl-build-4.yaml
  .github/workflows/dev-efiling-api-dl-build-4.yaml
Labels: Git Action, docker

#2030 Update dev-efiling-api-dl-build-4.yaml
  .github/workflows/dev-efiling-api-dl-build-4.yaml
Labels: Git Action, docker

#2031 Roll back version
  src/backend/libs/efiling-bambora-api-client/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :cucumber: cucumber, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, :watch: sync :watch:, Diligen, EXTREME DEVOPS, GOTTA GO FAST, Git Action, HUGE, Humongous big, It's Working!, LARGE, Label name, MONOLITHIC, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, Onboarding, OpenApi Change, QA, READY FOR REVIEW, Stressful, TEAMWORK! (⌐■_■), ai-reviewer, apm, backend-demo, backend-tests, breaking change, bug, ci/cd, collab, configuration, demo, dependencies, deploy, docker, documentation, dumb dumb, duplicate, efiling-account-client, efiling-admin, efiling-api, efiling-cso-starter, efiling-facade, efiling-reviewer-api, efiling-worker, enhancement, everything is awesome, file-submission-worker, frontend, frontend-tests, good first issue, handle it, hello there, help given, help wanted, invalid, java, javascript, jedi :star:, keycloak, label, logging, lookup service, many tries, openshift, over1000, pipeline, porkchop sandwiches, question, refactoring, refresh :arrows_counterclockwise:, release, requires openshift changes, splunk, status service, stellar, testing, that's a lot of code, tiny small, up for discussion, version, wontfix, wsdl, yuge

#2033 Remove settings from fix pr
  src/backend/libs/efiling-bambora-api-client/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :cucumber: cucumber, :fork_and_knife: fork, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, DRAFT, Diligen, EXTREME DEVOPS, GOTTA GO FAST, Git Action, HUGE, Humongous big, It's Working!, LARGE, Label name, MONOLITHIC, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, Onboarding, OpenApi Change, READY FOR REVIEW, Stressful, TEAMWORK! (⌐■_■), ai-reviewer, apm, backend-demo, backend-tests, breaking change, bug, ci/cd, collab, configuration, demo, dependencies, deploy, docker, documentation, dumb dumb, duplicate, efiling-account-client, efiling-admin, efiling-api, efiling-cso-starter, efiling-facade, efiling-reviewer-api, efiling-worker, enhancement, everything is awesome, file-submission-worker, frontend, frontend-tests, good first issue, handle it, hello there, help given, help wanted, invalid, java, javascript, jedi :star:, keycloak, label, logging, lookup service, many tries, openshift, over1000, pipeline, question, refactoring, refresh :arrows_counterclockwise:, release, requires openshift changes, splunk, status service, stellar, testing, that's a lot of code, tiny small, up for discussion, version, wontfix, wsdl, yuge

#2037 FLA-1232 Update NGINX Conf for WAVA Scan Updates
  src/frontend/efiling-demo/nginx.conf
  src/frontend/efiling-frontend/nginx.conf
Labels: NGINX, docker

#2036 Update zap-baseline.yaml
  .github/workflows/zap-baseline.yaml
Labels: Git Action

#2039 Adding Name, Updating ZAP Proxy Action Version
  .github/workflows/zap-baseline.yaml
Labels: Git Action

#2034 Fix openapi jackson bug
  src/backend/libs/efiling-bambora-api-client/payments-swagger.yaml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/PaymentConstants.java
  src/backend/libs/efiling-bambora-api-client/src/test/java/ca/bc/gov/ca/open/jag/bambora/BamboraPaymentAdapterTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, efiling-api, hello there, java, jedi :star:, porkchop sandwiches
