Repository bcgov/jag-file-submission, pull requests merged in 2021-04, with the labels that each got.

#1722 Filing packages endpoint test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/FilingPackageService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackagesSD.java
  tests/src/test/resources/features/getFilingPackages.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1745 Case number exists
  src/backend/efiling-api/.attach_pid14635
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/CourtConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/court/services/CourtServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/court/CourtConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/court/services/CourtServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fakes/EfilingSearchServiceFake.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSearchServiceDemoImpl.java
  src/frontend/efiling-frontend/yarn.lock
Labels: :smile_cat: Cat, Mustard :spoon:, java

#1686 Feature/store in mongo
  docker-compose.yml
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/SeedDocumentTypeConfiguration.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/models/DocumentTypeConfiguration.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/store/DocumentTypeConfigurationRepository.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerDocumentConfigException.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/ErrorCode.java
  src/backend/efiling-reviewer-api/src/main/resources/application.yml
  src/backend/efiling-reviewer-api/src/main/resources/courtDetails.schema.json
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/SeedDocumentTypeConfigurationTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/libs/efiling-bom/pom.xml
Labels: ai-reviewer, java

#1754 BEANS
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, java, jedi :star:, label, porkchop sandwiches

#1756 case number validation in demo mode passes for case #1
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSearchServiceDemoImpl.java
Labels: HUGE, Mustard :spoon:, backend-demo, java

#1757 Submission history validations
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionHistory.js
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/SubmissionHistoryPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewSubmissionHistorySD.java
  tests/src/test/resources/features/viewSubmissionHistory.feature
Labels: :cucumber: cucumber, QA, frontend-tests

#1766 Feature/submission history filter frontend
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/yarn.lock
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionHistory.js
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionHistoryService.js
  src/frontend/efiling-frontend/src/domain/submission/submission-history/__tests__/SubmissionHistory.test.js
  src/frontend/efiling-frontend/yarn.lock
Labels: Mustard :spoon:, frontend

#1768 Refactored keys and paths
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/helpers/TokenHelper.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/SubmissionHistoryPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/CourtService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/DocumentService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/ExtractDocumentService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/FilingPackageService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/SubmissionService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/CreatePaymentServiceSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/DownloadRegistryNotice.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFileNameSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackageByIdSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackageSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackagesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetSubmissionConfigSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UpdateDocumentPropertiesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UploadAdditionalDocumentSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UploadDocumentUsingUploadLinkSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewSubmittedPackageSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/viewAndDownloadReceiptSD.java
Labels: :cucumber: cucumber, LARGE, QA, refactoring

#1765 FLA-974,975,976
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/models/DocumentValidation.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/models/DocumentValidationResult.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/models/ValidationTypes.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidator.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidatorImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateExtractedDocumentTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, java, jedi :star:, label, porkchop sandwiches

#1770 Fix logger inconsistencies and typos
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/EfilingAdminHomePage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageConfirmationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/GenerateUrlService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/OauthService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/CreatePaymentServiceSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ExtractValidatedDocumentsSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GenerateUrlSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetCourtLocationSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetDocumentByDocumentIdSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetDocumentTypesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetSubmissionSheetSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UpdateDocumentPropertiesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UploadDocumentUsingUploadLinkSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewAndDownloadReceiptSD.java
Labels: :cucumber: cucumber, QA, enhancement, refactoring

#1692 Adding breach email
  src/backend/.gradle/6.5/fileChanges/last-build.bin
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisor.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/ErrorEmailProperties.java
  src/backend/efiling-reviewer-api/src/main/resources/application.yml
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisorTest.java
  src/backend/libs/efiling-mail-it/pom.xml
  src/backend/libs/efiling-mail-it/src/main/java/ca/bc/gov/open/jag/jagmailit/AutoConfiguration.java
Labels: :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, Mustard :spoon:, hello there, java, jedi :star:, label, porkchop sandwiches

#1777 File Number mismatch validation
  tests/src/test/java/ca/bc/gov/open/jag/efiling/helpers/PayloadHelper.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/SubmissionService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GenerateUrlSD.java
  tests/src/test/resources/features/generateUrl.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1778 replaced errorRedirects with toast alerts
  src/frontend/efiling-frontend/src/components/toast/Toast.js
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.scss
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PackageReview.test.js
  src/frontend/efiling-frontend/src/domain/payment/Payment.js
Labels: Mustard :spoon:, frontend

#1776 Refactoring Mongo/Implement validation using mongo
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/SeedDocumentTypeConfiguration.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/models/DocumentTypeConfiguration.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/store/DocumentTypeConfigurationRepository.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidator.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidatorImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/documentConfiguration/DocumentConfigurationsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateExtractedDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentConfiguration/DocumentConfigurationsApiDelegateImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, hello there, java, jedi :star:, label, porkchop sandwiches

#1784 New Skywalking mirror
  src/backend/Dockerfile.efiling-api
Labels: bug

#1785 Fix Skywalking in reviewer api
  src/backend/Dockerfile.efiling-reviewer-api
Labels: bug

#1783 Refactor Restricted Document Logic
  src/backend/efiling-reviewer-api/jag-reviewer-api.postman_collection.json
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/models/RestrictedDocumentType.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/store/RestrictedDocumentRepository.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/DocumentConfigurationsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/mappers/DocumentTypeConfigurationMapper.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/RestrictedDocumentApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/mappers/RestrictedDocumentTypeMapper.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/DocumentConfigurationsApiDelegateImplTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/restrictedDocumentApiDelegateImpl/CreateRestrictedDocumentTypeTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/restrictedDocumentApiDelegateImpl/DeleteRestrictedDocumentTypeTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/restrictedDocumentApiDelegateImpl/GetRestrictedDocumentTypeTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/restrictedDocumentApiDelegateImpl/GetRestrictedDocumentTypesTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/restrictedDocumentApiDelegateImpl/UpdateRestrictedDocumentTypeTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, ai-reviewer, hello there, java, jedi :star:, label, porkchop sandwiches

#1788 Fix update bug
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/RestrictedDocumentApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/restrictedDocumentApiDelegateImpl/UpdateRestrictedDocumentTypeTest.java
Labels: (⌐■_■)ノ＼(■_■ )

#1789 Fix reference
  docker-compose.yml
  src/backend/Dockerfile.efiling-api
  src/backend/Dockerfile.efiling-reviewer-api
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, hello there, java, jedi :star:, label, porkchop sandwiches

#1798 Added yarn.lock
  .gitignore
  src/frontend/ai-reviewer-admin/yarn.lock
Labels: frontend

#1794 Revert to mirror
  src/backend/Dockerfile.efiling-api
  src/backend/Dockerfile.efiling-reviewer-api
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, It's Working!, Mustard :spoon:, hello there, java, jedi :star:, porkchop sandwiches

#1793 Adding cors config
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/config/CorsConfig.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, java, label, porkchop sandwiches

#1824 temp removed eslint
  src/frontend/ai-reviewer-admin/.eslintrc.js
  src/frontend/ai-reviewer-admin/package.json
  src/frontend/ai-reviewer-admin/yarn.lock
Labels: frontend

#1825 Fix delete
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/RestrictedDocumentApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/restrictedDocumentApiDelegateImpl/DeleteRestrictedDocumentTypeTest.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSubmissionServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, java, jedi :star:, label, porkchop sandwiches

#1804 updating image tag for multiple tags
  .github/workflows/dev-efiling-api-build.yaml
Labels: EXTREME DEVOPS

#1823 Update dependabot.yml
  .github/dependabot.yml
Labels: EXTREME DEVOPS, ci/cd

#1826 Create separate git action pushing image to oc4
  .github/workflows/dev-efiling-api-build-4.yaml
Labels: EXTREME DEVOPS, Git Action, docker

#1796 Postman fix
  src/backend/efiling-reviewer-api/jag-reviewer-api.postman_collection.json
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, It's Working!, MORE THAN MEETS THE EYE 🤖, hello there, java, jedi :star:, porkchop sandwiches

#1840 List docker images built in git action
  .github/workflows/dev-efiling-api-build-4.yaml
Labels: EXTREME DEVOPS, Git Action

#1838 refactor project id
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenProperties.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenService.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenServiceImpl.java
  src/backend/libs/efiling-diligen-client/src/test/java/ca/bc/gov/open/efilingdiligenclient/diligen/diligenServiceImpl/DeleteDocumentTest.java
  src/backend/libs/efiling-diligen-client/src/test/java/ca/bc/gov/open/efilingdiligenclient/diligen/diligenServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-diligen-client/src/test/java/ca/bc/gov/open/efilingdiligenclient/diligen/diligenServiceImpl/PostDocumentTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, java, jedi :star:, porkchop sandwiches

#1846 added eslint as a react-scripts target
  src/frontend/ai-reviewer-admin/.babelrc
  src/frontend/ai-reviewer-admin/.eslintrc.js
  src/frontend/ai-reviewer-admin/package.json
  src/frontend/ai-reviewer-admin/src/index.js
  src/frontend/ai-reviewer-admin/src/reportWebVitals.js
Labels: frontend, frontend-tests

#1839 re-add maven cache
  .github/workflows/dev-efiling-admin-build.yml
Labels: EXTREME DEVOPS, Git Action

#1842 Create dev-ai-reviewer-admin-build4.yml
  .github/workflows/dev-ai-reviewer-admin-build-4.yml
Labels: EXTREME DEVOPS, Git Action, docker

#1845 Create dev-ai-reviewer-api-build-4.yml
  .github/workflows/dev-ai-reviewer-api-build-4.yml
Labels: EXTREME DEVOPS, Git Action, docker

#1847 Update documentation
  src/backend/efiling-reviewer-api/README.md
Labels: (⌐■_■)ノ＼(■_■ ), EXTREME DEVOPS, documentation

#1843 Create dev-efiling-admin-build-4.yml
  .github/workflows/dev-efiling-admin-build-4.yml
Labels: EXTREME DEVOPS, Git Action, docker

#1844 Create dev-efiling-frontend-build-4.yaml
  .github/workflows/dev-efiling-frontend-build-4.yaml
Labels: EXTREME DEVOPS, Git Action, docker

#1827 json validation function
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSubmissionServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, java, jedi :star:, porkchop sandwiches

#1841 Implement Processed Document Endpoint
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/cache/CacheConfiguration.java
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/cache/CacheConfig.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/models/DocumentValidation.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/models/DocumentValidationResult.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/mappers/ExtractRequestMapper.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/mappers/ProcessedDocumentMapper.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/models/ExtractResponse.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/store/CacheExtractStore.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/store/ExtractStore.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/cache/CacheConfigTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ProcessedDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/mocks/ExtractResponseMockFactory.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, hello there, java, jedi :star:, label, porkchop sandwiches

#1848 Doctype and Restricted doc type config test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/RunCucumberTest.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/DocumentTypeConfigService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ConfigureRestrictedDocumentedTypesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/CreateDocumentTypeConfigSD.java
  tests/src/test/resources/features/configureRestrictedDocumentTypes.feature
  tests/src/test/resources/features/createDocumentTypeConfig.feature
  tests/src/test/resources/payload/additional-restricted-document-type-payload.json
  tests/src/test/resources/payload/document-type-config-payload.json
  tests/src/test/resources/payload/restricted-document-type-payload.json
  tests/src/test/resources/payload/restricted-document-type-update-payload.json
Labels: :cucumber: cucumber, QA, backend-tests

#1849 Update README.md
  docs/README.md
Labels: tiny small

#1850 Update README.md
  docs/README.md
Labels: tiny small

#1851 Exposed constants as external env vars
  src/frontend/ai-reviewer-admin/.env.template
  src/frontend/ai-reviewer-admin/.gitignore
  src/frontend/ai-reviewer-admin/README.md
  src/frontend/ai-reviewer-admin/package.json
  src/frontend/ai-reviewer-admin/src/AxiosConfig.js
  src/frontend/ai-reviewer-admin/src/EnvConfig.js
  src/frontend/ai-reviewer-admin/src/axiosConfig.js
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentService.js
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentTypeEditor.js
  src/frontend/ai-reviewer-admin/src/domain/documents/_tests_/DocumentService.test.js
Labels: docker, frontend

#1854 added env-config.js to project, just like demo and frontend
  src/frontend/ai-reviewer-admin/public/index.html
Labels: configuration, frontend, openshift

#1869 Fix Project Id and Description
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/DocumentConfigurationsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/DocumentConfigurationsApiDelegateImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, EXTREME DEVOPS, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, porkchop sandwiches

#1852 Added Toast to display error messages in UI
  src/frontend/ai-reviewer-admin/package.json
  src/frontend/ai-reviewer-admin/src/components/Toast.js
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentList.js
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentList.scss
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentService.js
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentTypeEditor.js
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentTypeEditor.scss
  src/frontend/ai-reviewer-admin/src/domain/documents/_tests_/DocumentData.js
  src/frontend/ai-reviewer-admin/src/domain/documents/_tests_/DocumentList.test.js
  src/frontend/ai-reviewer-admin/src/domain/documents/_tests_/DocumentService.test.js
  src/frontend/ai-reviewer-admin/src/domain/documents/_tests_/DocumentTypeEditor.test.js
  src/frontend/ai-reviewer-admin/src/domain/documents/_tests_/test-data.js
Labels: frontend, frontend-tests

#1872 Doctype validation for processing test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/ExtractDocumentService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ExtractValidatedDocumentsSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetExtractedDocumentEventByIdSD.java
  tests/src/test/resources/features/extractValidatedDocuments.feature
  tests/src/test/resources/features/getExtractedDocumentEventById.feature
Labels: :cucumber: cucumber, QA, ai-reviewer, backend-tests

#1874 Adding unit tests
  src/backend/ai-reviewer-mock-api/src/main/java/ca/bc/gov/open/jag/aireviewermockapi/controller/DocumentController.java
  src/backend/ai-reviewer-mock-api/src/test/java/ca/bc/gov/open/jag/aireviewermockapi/controller/AuthenticationControllerTest.java
  src/backend/ai-reviewer-mock-api/src/test/java/ca/bc/gov/open/jag/aireviewermockapi/controller/DocumentControllerTest.java
  src/backend/ai-reviewer-mock-api/src/test/java/ca/bc/gov/open/jag/aireviewermockapi/controller/HealthControllerTest.java
  src/backend/ai-reviewer-mock-api/src/test/java/ca/bc/gov/open/jag/aireviewermockapi/controller/ProjectControllerTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, Mustard :spoon:, hello there, java, jedi :star:, label, porkchop sandwiches

#1875 FLA-836 fixed multiple calls to backend
  src/frontend/efiling-frontend/src/AxiosConfig.js
  src/frontend/efiling-frontend/src/EnvConfig.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReviewService.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PackageReview.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PackageReviewService.test.js
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/src/modules/helpers/translateApplicantInfo.js
Labels: bug, frontend, frontend-tests

#1878 adjusted e-file card content
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__tests__/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/src/domain/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/domain/payment/__tests__/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/domain/submission/submission-history/__snapshots__/SubmissionHistory.stories.storyshot
  src/frontend/efiling-frontend/src/domain/submission/submission-history/__tests__/__snapshots__/SubmissionHistory.test.js.snap
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
Labels: EXTREME DEVOPS, HUGE, Mustard :spoon:, frontend, javascript

#1882 Add missing profile from readme
  src/backend/efiling-api/README.md
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK

#1880 Adding date filter
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, hello there, java, jedi :star:, label, porkchop sandwiches

#1883 Add update document endpoint
  src/backend/efiling-reviewer-api/jag-reviewer-api.postman_collection.json
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/store/DocumentTypeConfigurationRepository.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/DocumentConfigurationsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisor.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerDocumentTypeConfigurationException.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/ErrorCode.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/restricteddocument/RestrictedDocumentApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/CreateDocumentConfigurationsTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/GetDocumentConfigurationsTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/UpdateDocumentConfigurationsTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisorTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, OpenApi Change, ai-reviewer, hello there, java, jedi :star:, label, porkchop sandwiches

#1884 Delete a document type configuration
  src/backend/efiling-reviewer-api/jag-reviewer-api.postman_collection.json
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/DocumentConfigurationsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/CreateDocumentConfigurationsTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/DeleteDocumentConfigurationsTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/GetDocumentConfigurationsTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/UpdateDocumentConfigurationsTest.java
Labels: :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, OpenApi Change, ai-reviewer, hello there, java, jedi :star:, label, porkchop sandwiches

#1885 Changes for Ai-reviewer Mock api
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ExtractValidatedDocumentsSD.java
  tests/src/test/resources/data/test-invalid-document.pdf
  tests/src/test/resources/data/test-valid-document.pdf
Labels: :cucumber: cucumber, QA, ai-reviewer, backend-tests

#1881 Feature/drawer nav
  src/frontend/ai-reviewer-admin/package.json
  src/frontend/ai-reviewer-admin/src/App.js
  src/frontend/ai-reviewer-admin/src/App.scss
  src/frontend/ai-reviewer-admin/src/App.test.js
  src/frontend/ai-reviewer-admin/src/components/nav-drawer/NavDrawer.js
  src/frontend/ai-reviewer-admin/src/components/nav-drawer/NavDrawer.scss
  src/frontend/ai-reviewer-admin/src/components/nav-drawer/__tests__/NavDrawer.test.js
  src/frontend/ai-reviewer-admin/src/components/toast/Toast.js
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentTypeEditor.js
  src/frontend/ai-reviewer-admin/yarn.lock
Labels: Mustard :spoon:, frontend, javascript

#1886 Feature/submission history message
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionHistory.js
  src/frontend/efiling-frontend/src/domain/submission/submission-history/__snapshots__/SubmissionHistory.stories.storyshot
  src/frontend/efiling-frontend/src/domain/submission/submission-history/__tests__/__snapshots__/SubmissionHistory.test.js.snap
Labels: EXTREME DEVOPS, HUGE, Mustard :spoon:, frontend

#1887 Re-add test
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/documentconfiguration/CreateDocumentConfigurationsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, java, jedi :star:, label, porkchop sandwiches

#1889 Add mock for cso return
  src/backend/ai-reviewer-mock-api/src/main/java/ca/bc/gov/open/jag/aireviewermockapi/config/AutoConfiguration.java
  src/backend/ai-reviewer-mock-api/src/main/java/ca/bc/gov/open/jag/aireviewermockapi/controller/ParentController.java
  src/backend/ai-reviewer-mock-api/src/main/java/ca/bc/gov/open/jag/aireviewermockapi/model/DocumentReady.java
  src/backend/ai-reviewer-mock-api/src/test/java/ca/bc/gov/open/jag/aireviewermockapi/controller/ParentControllerTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, everything is awesome, hello there, java, jedi :star:, label, porkchop sandwiches

#1893 Doctype configuration CRUD test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/DocumentTypeConfigService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ConfigureDocumentTypesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ConfigureRestrictedDocumentedTypesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/CreateDocumentTypeConfigSD.java
  tests/src/test/resources/features/configuredDocumentTypes.feature
  tests/src/test/resources/features/createDocumentTypeConfig.feature
  tests/src/test/resources/payload/document-type-config-update-payload.json
Labels: :cucumber: cucumber, QA, ai-reviewer, backend-tests

#1891 Adding cso webhook functionality
  src/backend/ai-reviewer-mock-api/src/main/java/ca/bc/gov/open/jag/aireviewermockapi/controller/ParentController.java
  src/backend/ai-reviewer-mock-api/src/main/java/ca/bc/gov/open/jag/aireviewermockapi/model/DocumentReady.java
  src/backend/ai-reviewer-mock-api/src/test/java/ca/bc/gov/open/jag/aireviewermockapi/controller/ParentControllerTest.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/webhook/WebHookService.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/webhook/WebHookServiceImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/webhook/config/WebHookConfig.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/webhook/model/DocumentReady.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/webhook/properties/WebHookProperties.java
  src/backend/efiling-reviewer-api/src/main/resources/application.yml
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ProcessedDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/webhook/WebHookServiceImplTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/webhook/config/WebHookConfigTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, OpenApi Change, java, jedi :star:, porkchop sandwiches

#1913 Adding all origins
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/config/CorsConfig.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, java, jedi :star:, label, porkchop sandwiches

#1919 Validate transaction id
  src/backend/ai-reviewer-mock-api/src/main/java/ca/bc/gov/open/jag/aireviewermockapi/controller/ParentController.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisor.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerInvalidTransactionIdException.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/ErrorCode.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ProcessedDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisorTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, ai-reviewer, hello there, java, jedi :star:, label, porkchop sandwiches

#1917 Implement cache cleanup
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/cache/CacheConfig.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/store/CacheExtractStore.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/store/ExtractStore.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/webhook/WebHookServiceImpl.java
  src/backend/efiling-reviewer-api/src/main/resources/application.yml
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ProcessedDocumentTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, It's Working!, Label name, efiling-reviewer-api, hello there, java, jedi :star:, label, porkchop sandwiches

#1930 Reviewer Documentation Update
  src/backend/efiling-reviewer-api/README.md
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :smile_cat: Cat, :vulcan_salute: QUARK

#1926 ai-reviewer-admin bug fixes
  src/frontend/ai-reviewer-admin/.eslintrc.js
  src/frontend/ai-reviewer-admin/src/App.js
  src/frontend/ai-reviewer-admin/src/domain/documents/_tests_/DocumentList.test.js
Labels: bug, frontend, frontend-tests

#1928 Ai reviewer add buttons
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentList.js
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentList.scss
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentService.js
  src/frontend/ai-reviewer-admin/src/domain/documents/DocumentTypeEditor.js
  src/frontend/ai-reviewer-admin/src/domain/documents/_tests_/DocumentService.test.js
  src/frontend/ai-reviewer-admin/src/domain/documents/_tests_/DocumentTypeEditor.test.js
Labels: EXTREME DEVOPS, Mustard :spoon:, frontend

#1929 Adding Flag to Ignore CSO webHook
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/mappers/ExtractMapper.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/mappers/ExtractRequestMapper.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/models/Extract.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ProcessedDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/mocks/ExtractRequestMockFactory.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/mocks/ExtractResponseMockFactory.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, :watch: sync :watch:, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-reviewer-api, hello there, java, jedi :star:, label, porkchop sandwiches

#1932 Update set limits
  .github/dependabot.yml
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, EXTREME DEVOPS

#1941 Adding refined demo data
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/Keys.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackagesSD.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, java, jedi :star:, label, porkchop sandwiches

#1920 Reviewer Api actions workflow integration
  .github/workflows/cucumber-tests.yml
  docker-compose.override.yml
  docker-compose.yml
  src/backend/Dockerfile.efiling-reviewer-api
  src/backend/efiling-reviewer-api/src/main/resources/application.yml
  tests/docker-compose-integration.yml
  tests/src/test/resources/features/configuredDocumentTypes.feature
Labels: Git Action, QA, testing

#1945 drawer ref error fix
  src/frontend/ai-reviewer-admin/src/components/nav-drawer/NavDrawer.js
Labels: EXTREME DEVOPS, Mustard :spoon:, ai-reviewer, bug, frontend
