Repository bcgov/jag-file-submission, pull requests merged in 2021-08, with the labels that each got.

#2164 Make util null safe
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/util/RushMappingUtils.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/util/GetRushTypeTest.java
Labels: bug, porkchop sandwiches, java, It's Working!, (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, :pizza: :label:, :vulcan_salute: QUARK, :bicyclist: cash, label, Label name, :badger: BADGER, :smile_cat: Cat, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, jedi :star:, :car:, :racing_car:, :3rd_place_medal:

#2166 Adding Status Calculation
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewFilingPackage.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
Labels: porkchop sandwiches, java, It's Working!, (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, :pizza: :label:, :vulcan_salute: QUARK, :bicyclist: cash, hello there, :badger: BADGER, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, Mustard :spoon:, :fork_and_knife: fork, jedi :star:, EXTREME DEVOPS, :car:, :racing_car:, :3rd_place_medal:

#2179 Adding api spec and implementation
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/Keys.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorCode.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ExceptionControllerAdvisor.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/NoRegistryNoticeException.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/ActionRequiredDetailsMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/error/ExceptionControllerAdvisorTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetActionRequiredDetailsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/DeleteSubmittedDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetActionRequiredDetailsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetFilingPackagesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetReportTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetSubmissionDocumentTest.java
Labels: efiling-api, java, READY FOR REVIEW, It's Working!, OpenApi Change, (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, over1000, :pizza: :label:, :vulcan_salute: QUARK, :bicyclist: cash, :watch: sync :watch:, hello there, :badger: BADGER, :smile_cat: Cat, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, jedi :star:, EXTREME DEVOPS, :car:, :racing_car:, :3rd_place_medal:

#2190 Adding Submission and Document ID's
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/FilingPakageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GenerateFromRequestTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Document.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/FilingPackage.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/DocumentMapper.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilingPackageMapper.java
Labels: porkchop sandwiches, efiling-api, java, efiling-cso-starter, (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, :pizza: :label:, :vulcan_salute: QUARK, :bicyclist: cash, label, Label name, :badger: BADGER, :smile_cat: Cat, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, Mustard :spoon:, jedi :star:, EXTREME DEVOPS, :car:, :racing_car:, :3rd_place_medal:

#2163 Adding Rush Document Endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetRushDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetRushDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/EfilingReviewService.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetRushDocumentTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetSubmissionDocumentTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: porkchop sandwiches, efiling-api, java, READY FOR REVIEW, It's Working!, OpenApi Change, efiling-cso-starter, (⌐■_■)ノ＼(■_■ ), MORE THAN MEETS THE EYE 🤖, :pizza: :label:, :vulcan_salute: QUARK, :bicyclist: cash, pipeline, label, Label name, hello there, :badger: BADGER, :smile_cat: Cat, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, Mustard :spoon:, :fork_and_knife: fork, jedi :star:, :car:, :racing_car:, :3rd_place_medal:

#2178 Rush processing screen
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/input/Input.js
  src/frontend/efiling-frontend/src/components/input/Input.scss
  src/frontend/efiling-frontend/src/components/input/Input.test.js
  src/frontend/efiling-frontend/src/components/input/__snapshots__/Input.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.scss
  src/frontend/efiling-frontend/src/components/page/rush/Rush.test.js
  src/frontend/efiling-frontend/src/components/page/rush/RushService.js
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/rush-document-list/RushDocumentList.js
  src/frontend/efiling-frontend/src/components/page/rush/rush-document-list/RushDocumentList.scss
  src/frontend/efiling-frontend/src/components/page/rush/rush-document-list/RushDocumentList.test.js
  src/frontend/efiling-frontend/src/components/page/rush/rush-document-list/RushDocumentListItem.js
  src/frontend/efiling-frontend/src/components/page/rush/rush-document-list/__snapshots__/RushDocumentList.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.scss
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/RushConfirmation.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/RushConfirmation.test.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__snapshots__/RushConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/domain/payment/Payment.js
  src/frontend/efiling-frontend/src/domain/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/domain/payment/__tests__/Payment.test.js
  src/frontend/efiling-frontend/src/domain/payment/__tests__/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/modules/helpers/StringUtil.js
  src/frontend/efiling-frontend/src/modules/helpers/filenameUtil.js
  src/frontend/efiling-frontend/src/modules/helpers/generateFileSummaryData.js
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
Labels: Humongous big, TEAMWORK! (⌐■_■), (⌐■_■)ノ＼(■_■ ), Mustard :spoon:, EXTREME DEVOPS

#2197 Get Rush Document test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/FilingPackageService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetRushDocumentSD.java
  tests/src/test/resources/features/getRushDocument.feature
Labels: QA

#2207 Adding Feature Flag Endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/properties/ParentAppProperties.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/properties/ParentProperties.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetParentAppDetailsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/DeleteSubmittedDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetActionRequiredDetailsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetFilingPackagesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetParentAppDetailsTestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetReportTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetRushDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetSubmissionDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
Labels: porkchop sandwiches, efiling-api, logging, java, It's Working!, OpenApi Change, (⌐■_■)ノ＼(■_■ ), MORE THAN MEETS THE EYE 🤖, over1000, :pizza: :label:, :vulcan_salute: QUARK, :bicyclist: cash, :watch: sync :watch:, Label name, hello there, :badger: BADGER, :smile_cat: Cat, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, Mustard :spoon:, :fork_and_knife: fork, jedi :star:, EXTREME DEVOPS, :car:, :racing_car:, :3rd_place_medal:

#2208 rush modal with tests
  src/frontend/efiling-frontend/src/components/safety-check/SafetyCheckHelp.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.scss
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/RushConfirmation.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/RushConfirmation.scss
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__snapshots__/RushConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/PackageConfirmation.test.js
Labels: frontend, frontend-tests, Mustard :spoon:

#2213 Formatting and add log
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
Labels: porkchop sandwiches, efiling-api, java, It's Working!, (⌐■_■)ノ＼(■_■ ), GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, :pizza: :label:, :vulcan_salute: QUARK, :bicyclist: cash, :badger: BADGER, :smile_cat: Cat, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, jedi :star:, EXTREME DEVOPS, :car:, :racing_car:, :3rd_place_medal:
