Repository bcgov/jag-file-submission, pull requests merged in 2021-01, with the labels that each got.

#1204 Adding all submission review objects
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/ReviewResource.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/mapper/FilingPackageMapper.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/EfilingStatusService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/FilingPackage.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/PackagePayment.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewCourt.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewDocument.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewFilingPackage.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewPackageRequest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewProcessRequest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/access/Period.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/access/Status.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/party/Authorizing.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoStatusServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoStatusServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, HUGE, MORE THAN MEETS THE EYE 🤖, efiling-api, efiling-cso-starter, java, porkchop sandwiches, refresh :arrows_counterclockwise:

#1237 Adding demo data
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, backend-demo

#1241 improving documentation
  README.md
  docker-compose.yml
  src/frontend/efiling-frontend/Dockerfile
Labels: (⌐■_■)ノ＼(■_■ ), documentation, porkchop sandwiches

#1243 just some docker formating changes
  .settings/keycloak/Dockerfile
  .settings/keycloak/createuser.sh
  docker-compose.yml
Labels: docker

#1242 Update mapping
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, efiling-api

#1244 Bug and Demo data
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, backend-demo, bug, demo, efiling-api, java, tiny small

#1245 update eol on createuser.sh
  .github/workflows/cucumber-tests.yml
  .settings/keycloak/createuser.sh
Labels: docker

#1246 Adding submission review values to swagger
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, OpenApi Change, READY FOR REVIEW, efiling-api, java, porkchop sandwiches, refresh :arrows_counterclockwise:

#1249 forcing eol for bash scripts
  .gitattributes
Labels: (⌐■_■)ノ＼(■_■ ), docker

#1252 update docker file for clock issue
  .settings/keycloak/Dockerfile
Labels: docker

#1254 Frontend route fix
  docker-compose.yml
  src/frontend/efiling-demo/.env.example
  src/frontend/efiling-demo/README.md
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/App.js
  src/frontend/efiling-demo/src/components/page/home/Home.js
Labels: It's Working!, demo, frontend

#1255 Adding early adopter
  .settings/keycloak/realm-export.json
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/Keys.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/SecurityUtils.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/CreateSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GenerateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GetValidPartyRolesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/UpdateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, TEAMWORK! (⌐■_■), efiling-api, java, keycloak, porkchop sandwiches, stellar

#1271 Sync up CSO branch
  .gitattributes
  docker-compose.yml
  docs/_sidebar.md
  docs/data.md
  infrastructure/keycloak/Dockerfile
  infrastructure/keycloak/createuser.sh
  infrastructure/keycloak/realm-export.json
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/Keys.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/SecurityUtils.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/CreateSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GenerateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GetValidPartyRolesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/UpdateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/SubmitTest.java
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImplTest.java
  src/frontend/efiling-demo/.env.example
  src/frontend/efiling-demo/README.md
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-demo/src/App.js
  src/frontend/efiling-demo/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-demo/src/components/page/home/Home.js
  tests/.gitignore
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CreateCsoAccountPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/paymentpayload/PaymentPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/AuthenticationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EFileSubmissionPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/PackageConfirmationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/FrontendTestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/testdatatypes/CsoAccountGuid.java
  tests/src/test/java/features/afrontendfeatures/eFileSubmission.feature
  tests/src/test/java/features/backendfeatures/1-generateUrlAndSubmissionForExistingGuid.feature
  tests/src/test/java/features/backendfeatures/2-generateUrlAndSubmissionForNonExistingGuid.feature
  tests/src/test/java/features/backendfeatures/3-updateAndDeleteDocument.feature
  tests/src/test/java/features/backendfeatures/createCsoAccount.feature
  tests/src/test/java/features/backendfeatures/generatePaymentUpdateCard.feature
  tests/src/test/java/features/backendfeatures/getDocumentType.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/CreateCsoAccountTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionForNonExistingGuidTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionTest.java
  tests/src/test/java/testdatasource/account-data.json
  tests/src/test/resources/config.properties
Labels: :watch: sync :watch:

#1275 Use plain string
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/CreateSubmissionTest.java
Labels: (⌐■_■)ノ＼(■_■ )

#1272 Adding Status List Implementation
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfigTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/EfilingStatusService.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoStatusServiceImpl.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoStatusServiceImpl/FindPackagesByClientId.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, :watch: sync :watch:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, efiling-cso-starter, java, porkchop sandwiches

#1276 Add submittedBy
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingStatusServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-api, java, porkchop sandwiches, tiny small

#1274 update efiling-frontend env setup
  src/frontend/efiling-frontend/.env.example
  src/frontend/efiling-frontend/README.md
Labels: frontend

#1279 Add report service
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
  src/backend/efiling-graphql/.dockerignore
  src/backend/efiling-graphql/.gitignore
  src/backend/efiling-graphql/README.md
  src/backend/efiling-graphql/pom.xml
  src/backend/efiling-graphql/src/main/docker/Dockerfile.fast-jar
  src/backend/efiling-graphql/src/main/docker/Dockerfile.jvm
  src/backend/efiling-graphql/src/main/docker/Dockerfile.native
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/ReviewResource.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/config/StatusConfig.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/config/StatusProperties.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/mapper/FilingPackageMapper.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/model/Court.java
  src/backend/efiling-graphql/src/main/java/ca/bc/gov/open/jag/packagereview/model/FilingPackage.java
  src/backend/efiling-graphql/src/main/resources/application.properties
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Clients.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/EfilingReviewService.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/main/resources/wsdl/ReportService.wsdl
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackagesByClientId.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetSubmissionSheetTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-cso-starter/src/test/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfigurationTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/AutoConfigurationTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
  src/backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, LARGE, Label name, MORE THAN MEETS THE EYE 🤖, efiling-cso-starter, hello there, java, label, porkchop sandwiches, wsdl

#1281 Fix iso date bug
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImplTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/utils/DateUtils.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, READY FOR REVIEW, bug, efiling-api, hello there, java, label, porkchop sandwiches, stellar

#1278 FLA-670 Exposed submission data on packagereview screen
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.test.js
  src/frontend/efiling-frontend/src/components/page/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-review/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
Labels: frontend, frontend-tests

#1280 Cucumber Refactor Stage 1
  tests/src/test/java/ca/bc/gov/open/jag/efiling/RunCucumberTest.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/helpers/SubmissionHelper.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/models/UserIdentity.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/OauthService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/SubmissionService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GenerateUrlSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetSubmissionConfigSD.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
  tests/src/test/resources/features/generateUrl.feature
  tests/src/test/resources/features/getSubmissionConfig.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1277 Demo dockerize
  docker-compose.yml
  src/frontend/Dockerfile
  src/frontend/Dockerfile.legacy
  src/frontend/efiling-demo/env.js
  src/frontend/efiling-frontend/Dockerfile
  src/frontend/efiling-frontend/env.js
  src/frontend/nginx.conf
Labels: breaking change, docker

#1291 Cucumber refactor - filing package
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/SubmissionService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackageSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetSubmissionConfigSD.java
  tests/src/test/java/testdatasource/account-data.json
  tests/src/test/java/testdatasource/test-document.pdf
  tests/src/test/resources/data/test-document-2.pdf
  tests/src/test/resources/data/test-image-document.png
  tests/src/test/resources/features/getFilingPackage.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1282 Implement Submission Sheet Endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetFilingPackageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetSubmissionSheetTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackage.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetSubmissionSheetTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-api, hello there, java, label, porkchop sandwiches

#1290 Application Code Bug Fix
  infrastructure/keycloak/realm-export.json
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/SecurityUtils.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GenerateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GenerateUrlTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, :watch: sync :watch:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, efiling-api, porkchop sandwiches, stellar

#1292 Cucumber refactor - filename
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFileNameSD.java
  tests/src/test/resources/features/getFilename.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1294 Cucumber refactor - courts
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/CourtService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetCourtLocationSD.java
  tests/src/test/resources/features/getCourtLocation.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1293 Submission Sheet Demo Mode
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/resources/demo-file/test-document.pdf
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, :watch: sync :watch:, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, demo, hello there, java, label, porkchop sandwiches

#1296 Removed user creds from features
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/OauthService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GenerateUrlSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetCourtLocationSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFileNameSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackageSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetSubmissionConfigSD.java
  tests/src/test/resources/features/generateUrl.feature
  tests/src/test/resources/features/getCourtLocation.feature
  tests/src/test/resources/features/getFilename.feature
  tests/src/test/resources/features/getFilingPackage.feature
  tests/src/test/resources/features/getSubmissionConfig.feature
Labels: :cucumber: cucumber, QA

#1313 Create payment service
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/SubmissionService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/CreatePaymentServiceSD.java
  tests/src/test/resources/features/createPaymentService.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1312 FLA-670 updated screen to reflect latest wireframe changes
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/components/page/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-review/__snapshots__/PackageReview.test.js.snap
Labels: frontend, frontend-tests

#1315 Adding new lines
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, :watch: sync :watch:, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, demo, hello there, java, label, porkchop sandwiches, stellar, testing

#1314 Update bambora client to use basepath
  .env.template
  src/backend/efiling-api/README.md
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/AutoConfiguration.java
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/BamboraProperties.java
Labels: (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :pizza: :label:, :watch: sync :watch:, DO NOT MERGE, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, java, porkchop sandwiches

#1318 🧇 Cso WSDL update 🧇
  src/wsdl/AccountFacade.wsdl
  src/wsdl/FilingFacade.wsdl
  src/wsdl/LookupFacade.wsdl
Labels: porkchop sandwiches, wsdl

#1319 Update document properties
  tests/src/test/java/ca/bc/gov/open/jag/efiling/helpers/PayloadHelper.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/SubmissionService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UpdateDocumentPropertiesSD.java
  tests/src/test/resources/features/updateDocumentProperties.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1321 Removed preferred auth provider in demo app
  src/frontend/efiling-demo/.gitignore
  src/frontend/efiling-demo/README.md
  src/frontend/efiling-demo/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/.gitignore
  src/frontend/efiling-frontend/README.md
Labels: frontend

#1323 Docker Compose Build Efiling Admin Image
  .github/workflows/dev-docker-image.yml
Labels: docker

#1324 Changed Git Action Docker Login Strategy
  .github/workflows/dev-docker-image.yml
Labels: docker

#1328 MDC Filter
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/Keys.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/BceidAccountApiDelagateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/core/mdc/MdcFilter.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/core/security/SecurityUtils.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/MdcUtils.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/core/mdc/MdcFilterTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/utils/SecurityUtilsTest.java
Labels: java, refactoring

#1331 Git Action to Build Demo and Push to Docker Hub
  .github/workflows/dev-docker-image.yml
  src/frontend/Dockerfile
Labels: docker

#1297 added cache buster for gui environments
  docker-compose.yml
  src/frontend/.gitignore
  src/frontend/Dockerfile
  src/frontend/efiling-demo/.env.template
  src/frontend/efiling-demo/env.js
  src/frontend/efiling-demo/public/index.html
  src/frontend/efiling-demo/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-demo/src/index.js
  src/frontend/efiling-frontend/public/index.html
  src/frontend/env.sh
  src/frontend/nginx.conf
Labels: :badger: BADGER, :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, MORE THAN MEETS THE EYE 🤖, javascript, porkchop sandwiches

#1356 Update actually read file
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :pizza: :label:, :watch: sync :watch:, DO NOT MERGE, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, backend-demo, java, label, porkchop sandwiches, tiny small

#1358 V0.6.0
  src/backend/efiling-api/pom.xml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-client/pom.xml
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/pom.xml
Labels: porkchop sandwiches, version

#1359 0.7.0-preview
  src/backend/README.md
  src/backend/efiling-api/pom.xml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-client/pom.xml
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/pom.xml
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-frontend/package.json
Labels: :pizza: :label:, version

#1361 Remove Husky 🐕‍🦺 🐕‍🦺
  src/frontend/efiling-demo/package.json
  src/frontend/efiling-frontend/package.json
Labels: :badger: BADGER, :pizza: :label:, DO NOT MERGE

#1360 🦡 Add life-cycle badge as per gov request 🦡
  README.md
Labels: DO NOT MERGE

#1368 Adding chat badge
  README.md
Labels: :badger: BADGER

#1369 Adding script to filling comment
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, demo, hello there, java, porkchop sandwiches, tiny small

#1371 FLA-686 Moved Filing Comments into a tabbed section
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.css
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.test.js
  src/frontend/efiling-frontend/src/components/page/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-review/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/src/modules/test-data/courtTestData.js
  src/frontend/efiling-frontend/yarn.lock
Labels: frontend, frontend-tests

#1370 Refactor Api Swagger
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/GetValidPartyRoleRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackage.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/GetValidPartyRoleRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GenerateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GetValidPartyRolesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/UpdateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/GetByKeyTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/components/page/package-review/PackageReview.test.js
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, TEAMWORK! (⌐■_■), hello there, java, javascript, label, porkchop sandwiches, refactoring, refresh :arrows_counterclockwise:
