Repository bcgov/jag-file-submission, pull requests merged in 2021-06, with the labels that each got.

#2049 Remove filter: FLA-1246
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, everything is awesome, java, jedi :star:, label, porkchop sandwiches

#2050 Remove miss behaving configs
  src/frontend/efiling-demo/nginx.conf
Labels: EXTREME DEVOPS, Label name, NGINX, bug, label, openshift

#2053 Decouple Skywalking
  .github/workflows/cucumber-tests.yml
  docker-compose.yml
  src/backend/Dockerfile.efiling-api
  src/backend/efiling-api/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :cucumber: cucumber, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, :watch: sync :watch:, EXTREME DEVOPS, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, bug, dependencies, documentation, good first issue, handle it, hello there, java, jedi :star:, wontfix

#2054 0.7.0
  src/backend/efiling-api/pom.xml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-client-preview/pom.xml
  src/backend/libs/efiling-cso-client/pom.xml
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/libs/efiling-mail-it/pom.xml
  src/backend/pom.xml
Labels: version

#2068 Remove Openshift 3 Workflows
  .github/workflows/dev-efiling-admin-build.yml
  .github/workflows/dev-efiling-api-build.yaml
  .github/workflows/dev-efiling-api-dl-build.yaml
  .github/workflows/dev-efiling-frontend-build.yaml
Labels: Git Action, docker, openshift

#2069 Update git actions to include paths
  .github/workflows/dev-efiling-admin-build-4.yml
  .github/workflows/dev-efiling-api-build-4.yaml
  .github/workflows/dev-efiling-frontend-build-4.yaml
Labels: Git Action, docker, openshift

#2070 Update zap-baseline.yaml
  .github/workflows/zap-baseline.yaml
Labels: Git Action

#2083 Adding some logs
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSubmissionServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ )

#2084 Remove duplicate autoprocessing check
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :cucumber: cucumber, :fork_and_knife: fork, Diligen, EXTREME DEVOPS, GOTTA GO FAST, Git Action, HUGE, Humongous big, It's Working!, LARGE, Label name, MONOLITHIC, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, NGINX, Onboarding, OpenApi Change, ai-reviewer, apm, backend-demo, backend-tests, bug, ci/cd, collab, configuration, demo, dependencies, deploy, docker, documentation, dumb dumb, efiling-account-client, efiling-admin, efiling-api, efiling-cso-starter, efiling-facade, efiling-reviewer-api, efiling-worker, enhancement, everything is awesome, file-submission-worker, frontend, frontend-tests, good first issue, handle it, hello there, help given, help wanted, invalid, java, javascript, jedi :star:, keycloak, label, logging, lookup service, many tries, openshift, over1000

#2088 Increment Version and Apply snapshot
  src/backend/efiling-api/pom.xml
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-ceis-api-client/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-cso-client-preview/pom.xml
  src/backend/libs/efiling-cso-client/pom.xml
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-demo-starter/pom.xml
  src/backend/libs/efiling-mail-it/pom.xml
  src/backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, Label name, MONOLITHIC, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, TEAMWORK! (⌐■_■), ci/cd, hello there, java, label, over1000, porkchop sandwiches, version

#2090 Merge Preview
  src/backend/libs/efiling-cso-client-preview/pom.xml
  src/backend/libs/efiling-cso-client-preview/src/main/java/preview/ca/bc/gov/open/jag/efilingcsoclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-cso-client-preview/src/main/java/preview/ca/bc/gov/open/jag/efilingcsoclient/PreviewCsoDocumentServiceImpl.java
  src/backend/libs/efiling-cso-client-preview/src/main/java/preview/ca/bc/gov/open/jag/efilingcsoclient/PreviewCsoLookupServiceImpl.java
  src/backend/libs/efiling-cso-client-preview/src/main/java/preview/ca/bc/gov/open/jag/efilingcsoclient/PreviewCsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client-preview/src/main/java/preview/ca/bc/gov/open/jag/efilingcsoclient/mappers/ClientProfileMapper.java
  src/backend/libs/efiling-cso-client-preview/src/main/java/preview/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client-preview/src/main/resources/wsdl/AccountFacade.wsdl
  src/backend/libs/efiling-cso-client-preview/src/main/resources/wsdl/FilingStatusFacade.wsdl
  src/backend/libs/efiling-cso-client-preview/src/main/resources/wsdl/LookupFacade.wsdl
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/CreateAccountTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/GetAccountDetailsTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/GetOrderNumberTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/UpdateClientTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentTypesTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoLookupServiceImpl/PreviewCsoLookupServiceImplTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/DeleteSubmittedDocumentTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackagesByClientIdTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetReportTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetSubmissionDocumentTest.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoDocumentServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoLookupServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/ClientProfileMapper.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/main/resources/wsdl/AccountFacade.wsdl
  src/backend/libs/efiling-cso-client/src/main/resources/wsdl/FilingStatusFacade.wsdl
  src/backend/libs/efiling-cso-client/src/main/resources/wsdl/LookupFacade.wsdl
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoAccountServiceImpl/CreateAccountTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoAccountServiceImpl/GetAccountDetailsTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoAccountServiceImpl/GetOrderNumberTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoAccountServiceImpl/UpdateClientTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentTypesTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoLookupService/CsoLookupServiceImplTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/DeleteSubmittedDocumentTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackagesByClientIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetSubmissionDocumentTest.java
  src/backend/libs/efiling-cso-starter/pom.xml
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, GOTTA GO FAST, Label name, Mustard :spoon:, java, jedi :star:, label, porkchop sandwiches
