Repository bcgov/jag-file-submission, pull requests merged in 2021-03, with the labels that each got.

#1568 Add new endpoint in Efiling-Reviewer-Api to capture document status event changes
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisor.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisorTest.java
Labels: :smile_cat: Cat, java

#1571 add skywalking agent to efiliing-reviewer-api
  docker-compose.yml
  src/backend/Dockerfile.efiling-reviewer-api
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/efiling-reviewer-api/src/main/resources/application.yml
  src/backend/efiling-reviewer-api/src/main/resources/logback-spring.xml
Labels: :smile_cat: Cat, apm, everything is awesome, java

#1579 fix issue with univeralId
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionKey.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/utils/UniversalIdUtils.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/CreateSubmissionTest.java
Labels: bug

#1597 sonar sonar sonar sonar sonar sonar sonar sonar sonar sonar sonar sonar
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/KeycloakSecurityConfig.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentApiDelegateImpl.java
  src/backend/libs/efiling-ceis-api-client/src/main/java/ca/bc/gov/open/jag/ceis/CeisCourtLocationServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoCourtServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/Keys.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/Keys.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, efiling-account-client, efiling-admin, efiling-api, efiling-cso-starter, efiling-facade, efiling-reviewer-api, efiling-worker, everything is awesome, hello there, java, label, logging, lookup service, pipeline, porkchop sandwiches, refresh :arrows_counterclockwise:

#1595 Adding Queue For AI Reviewer
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/cache/CacheConfig.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/queue/Receiver.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/queue/TempConfig.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/queue/ReceiverTest.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenServiceImpl.java
  src/backend/libs/efiling-diligen-client/src/test/java/ca/bc/gov/open/efilingdiligenclient/diligen/diligenServiceImpl/GetDocumentDetailsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, Diligen, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, efiling-reviewer-api, enhancement, everything is awesome, good first issue, hello there, java, label, porkchop sandwiches

#1599 update shared-component version
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/yarn.lock
Labels: frontend, frontend-tests

#1600 fixed all warnings in frontend tests
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/FileList.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/FileListItem.js
  src/frontend/efiling-frontend/src/types/propTypes.js
Labels: frontend, frontend-tests

#1607 Updated submission review doc list
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/DocumentList.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
Labels: frontend, frontend-tests

#1615 Authenticate with BCSC on DEV
  .gitignore
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/AuthenticationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/BasePage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/BceidAuthenticationPageImpl.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/BcscAuthenticationPageImpl.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/EfilingAdminHomePage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/KeycloakAuthenticationPageImpl.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/OauthService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewSubmittedPackageSD.java
  tests/src/test/resources/application.properties
  tests/src/test/resources/features/authenticateAndRedirectToEfilingHub.feature
  tests/src/test/resources/features/viewSubmittedPackage.feature
Labels: 1 LOVE, :cucumber: cucumber, QA, frontend-tests

#1617 FLA-863
  src/frontend/efiling-frontend/src/Config.js
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__tests__/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/index.js
  src/frontend/efiling-frontend/src/modules/helpers/authentication-helper/authenticationHelper.js
  src/frontend/efiling-frontend/src/modules/helpers/translateApplicantInfo.js
Labels: frontend, frontend-tests

#1598 Payment receipt
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PaymentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PaymentListService.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PaymentList.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PaymentList.test.js.snap
  src/frontend/efiling-frontend/src/modules/test-data/paymentListData.js
Labels: :smile_cat: Cat, Mustard :spoon:, frontend

#1618 Add Skywalking support for Efiling Api
  docker-compose.yml
  src/backend/Dockerfile.efiling-api
  src/backend/efiling-api/pom.xml
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/libs/efiling-bom/pom.xml
Labels: 1 LOVE, jedi :star:

#1616 Adding VIND role for BCSC Account Creation
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoAccountServiceImpl/CreateAccountTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, java, label, porkchop sandwiches

#1606 Update to add orgs
  docs/README.md
  src/backend/efiling-api/README.md
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/PartyMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/FilingPakageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/GetValidIndividualRoleRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/CreateSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GenerateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GetValidIndividualRolesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/DeleteSubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
  src/backend/efiling-reviewer-api/README.md
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Individual.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Organization.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/FilingPackage.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewFilingPackage.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/CsoPartyMapper.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackageByIdSD.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, GOTTA GO FAST, Humongous big, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, efiling-api, efiling-cso-starter, hello there, java, label

#1619 Rename auth provider variable
  tests/README.md
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
Labels: :cucumber: cucumber, QA

#1594 use github secrets to allow cucumber on forks
  .github/workflows/cucumber-tests.yml
Labels: :fork_and_knife: fork, Git Action

#1622 Update party/organization validation
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
Labels: :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, efiling-api, java, jedi :star:, porkchop sandwiches

#1623 Add answers to diligen call
  src/backend/libs/efiling-diligen-client/diligen.api.yaml
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenServiceImpl.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/mapper/DiligenDocumentDetailsMapper.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/model/DiligenAnswerField.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/model/DiligenAnswerFieldType.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/model/DiligenDocumentDetails.java
  src/backend/libs/efiling-diligen-client/src/test/java/ca/bc/gov/open/efilingdiligenclient/diligen/diligenServiceImpl/GetDocumentDetailsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, Diligen, It's Working!, MORE THAN MEETS THE EYE 🤖, efiling-reviewer-api, hello there, java, jedi :star:, porkchop sandwiches

#1624 FLA-708 added scrollTo top for Payment screen
  src/frontend/efiling-frontend/src/components/page/rush/Rush.test.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/domain/payment/Payment.js
  src/frontend/efiling-frontend/src/domain/payment/__tests__/Payment.test.js
  src/frontend/efiling-frontend/src/storyshots.test.js
Labels: frontend, frontend-tests

#1626 Adding time to process for documents
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/mappers/ExtractRequestMapper.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/models/ExtractRequest.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/store/CacheExtractStore.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/store/ExtractStore.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/mocks/ExtractRequestMockFactory.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/models/ExtractTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/store/CacheExtractStoreTest.java
Labels: :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :smile_cat: Cat, ai-reviewer, java, jedi :star:

#1649 Common keys refactor
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/GenerateUrlService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/SubmissionService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/CreatePaymentServiceSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GenerateUrlSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFileNameSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackageSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetSubmissionConfigSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UpdateDocumentPropertiesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UploadAdditionalDocumentSD.java
Labels: :cucumber: cucumber, QA, refactoring

#1650 FLA-847 CSO Link
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.scss
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PackageReview.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
Labels: Mustard :spoon:

#1653 Multiple sign in refactor
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/AuthenticationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/BasePage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/BceidAuthenticationPageImpl.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/BcscAuthenticationPageImpl.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/KeycloakAuthenticationPageImpl.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
Labels: :cucumber: cucumber, QA, refactoring

#1652 Added organizationParties to UI
  src/frontend/efiling-frontend/.gitignore
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.scss
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PartyList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PartyList.scss
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PartyList.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PartyList.test.js.snap
  src/frontend/efiling-frontend/src/modules/test-data/packageReviewTestData.js
Labels: frontend

#1620 fixed the Return home button on Package Review
  docs/README.md
  src/frontend/efiling-demo/.gitignore
  src/frontend/efiling-demo/src/components/page/success/Success.js
  src/frontend/efiling-demo/src/components/page/success/Success.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.stories.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PackageReview.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
Labels: frontend, frontend-tests

#1654 Add new status
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/queue/Receiver.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, Diligen, GOTTA GO FAST, ai-reviewer, hello there, that's a lot of code

#1656 Add Has Registry Boolean
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, OpenApi Change, demo, efiling-api, hello there, java, label, porkchop sandwiches

#1660 Remove jaeger
  src/backend/efiling-api/pom.xml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/config/ApplicationConfiguration.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/config/ApplicationConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/config/GlobalCorsConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/jaeger-docker-compose.yml
  src/backend/libs/efiling-bom/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, everything is awesome, hello there, java, jedi :star:, label, pipeline, porkchop sandwiches

#1657 adding mongodb to docker compose
  .env.template
  docker-compose.yml
Labels: docker

#1662 Document validation
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidator.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidatorImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/queue/TempConfig.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateDocumentTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, efiling-reviewer-api, hello there, java, jedi :star:, porkchop sandwiches

#1658 Get Registry Notice PDF
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/Keys.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetRegistryNoticeTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/ReportsTypes.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetReportTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, Mustard :spoon:, efiling-api, efiling-facade, everything is awesome, hello there, java, jedi :star:, label, porkchop sandwiches

#1665 Cso redirect tests - 100% coverage
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PaymentListService.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PackageReview.test.js
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/viewAndDownloadReceiptSD.java
Labels: Mustard :spoon:, frontend, frontend-tests

#1663 Adding to MDC
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, ai-reviewer, hello there, java, jedi :star:, label, porkchop sandwiches

#1669 adding jag-mail-it to docker compose
  docker-compose.yml
Labels: docker

#1670 Link the package in CSO test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewSubmittedPackageSD.java
  tests/src/test/resources/features/viewSubmittedPackage.feature
Labels: :cucumber: cucumber, QA, frontend-tests

#1664 updated status facade
  src/backend/libs/efiling-cso-client-preview/pom.xml
  src/backend/libs/efiling-cso-client-preview/src/main/java/preview/ca/bc/gov/open/jag/efilingcsoclient/PreviewCsoDocumentServiceImpl.java
  src/backend/libs/efiling-cso-client-preview/src/main/resources/wsdl/FilingStatusFacade.wsdl
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentTypesTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/wsdl/AccountFacade.wsdl
  src/wsdl/FilingFacade.wsdl
  src/wsdl/LookupFacade.wsdl
Labels: :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, Label name, efiling-facade, hello there, jedi :star:, label, porkchop sandwiches, wsdl

#1680 Fix configuration
  src/backend/libs/efiling-diligen-client-starter/src/main/java/ca/bc/gov/open/jag/efilingdiligenclientstarter/AutoConfiguration.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :smile_cat: Cat, bug, java, jedi :star:

#1679 Adding payment exempt logic
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilingPackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, It's Working!, Label name, efiling-cso-starter, hello there, java, jedi :star:, label, pipeline, porkchop sandwiches

#1676 Setting Auto Processing
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/cache/CacheConfiguration.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStore.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/cache/AutoConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/cache/CacheConfigurationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/documentApiDelegateImpl/GetDocumentTypesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fakes/DocumentServiceFake.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/fakes/EfilingDocumentServiceFake.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/FilingPakageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GenerateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/UpdateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/DocumentDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/DocumentType.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/DocumentTypeDetails.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingDocumentService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/FilingPackage.java
  src/backend/libs/efiling-cso-client-preview/src/main/java/preview/ca/bc/gov/open/jag/efilingcsoclient/PreviewCsoDocumentServiceImpl.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-cso-client-preview/src/test/java/preview/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentTypesTest.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoDocumentServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilingPackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentDetailsTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoDocumentServiceImpl/GetDocumentTypesTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingDocumentServiceDemoImplTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, It's Working!, Label name, efiling-api, efiling-cso-starter, hello there, java, jedi :star:, label, many tries, porkchop sandwiches

#1684 Missing value in template
  src/frontend/efiling-frontend/.env.template
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, It's Working!, demo, docker, jedi :star:, porkchop sandwiches

#1685 Update error response
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, It's Working!, Label name, Mustard :spoon:, bug, hello there, java, jedi :star:, label, porkchop sandwiches

#1683 Document mismatch validation
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidator.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidatorImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisor.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerDocumentTypeMismatchException.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/ErrorCode.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/documentsApiDelegateImpl/DocumentEventTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateExtractedDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisorTest.java
  src/backend/libs/efiling-diligen-client/pom.xml
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenServiceImpl.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/mapper/DiligenDocumentDetailsMapper.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/model/DiligenAnswerField.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/model/DiligenDocumentDetails.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/processor/FieldProcessorImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, It's Working!, Mustard :spoon:, efiling-reviewer-api, java, jedi :star:, porkchop sandwiches

#1688 Adding further validation and logging
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/Keys.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidatorImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisor.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerRestrictedDocumentException.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/ErrorCode.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateExtractedDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerControllerAdvisorTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, porkchop sandwiches

#1689 Adding deletion
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidator.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/DocumentValidatorImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateDocumentTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/document/validators/documentValidator/ValidateExtractedDocumentTest.java
  src/backend/libs/efiling-diligen-client/diligen.api.yaml
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenService.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenServiceImpl.java
  src/backend/libs/efiling-diligen-client/src/test/java/ca/bc/gov/open/efilingdiligenclient/diligen/diligenServiceImpl/DeleteDocumentTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, It's Working!, Label name, efiling-reviewer-api, everything is awesome, hello there, java, label, porkchop sandwiches

#1691 No credit alert with $0 submission fee
  src/frontend/efiling-frontend/src/domain/payment/Payment.js
  src/frontend/efiling-frontend/src/domain/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/domain/payment/__tests__/Payment.test.js
Labels: Mustard :spoon:, frontend

#1698 Extract document type test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/RunCucumberTest.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/helpers/SubmissionHelper.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/ExtractDocumentService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ExtractValidatedDocumentsSD.java
  tests/src/test/resources/data/test-rcc-document.pdf
  tests/src/test/resources/features/extractValidatedDocuments.feature
Labels: QA, ai-reviewer, efiling-reviewer-api

#1713 Add Endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetFilingPackagesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetFilingPackagesTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Mustard :spoon:, OpenApi Change, efiling-api, java, jedi :star:, porkchop sandwiches

#1715 Update demo data
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, java, jedi :star:, porkchop sandwiches

#1714 Parties tab tests
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewSubmittedPackageSD.java
  tests/src/test/resources/features/viewSubmittedPackage.feature
Labels: QA, frontend-tests

#1717 Invalid document type test
  .github/workflows/cucumber-tests.yml
  tests/src/test/java/ca/bc/gov/open/jag/efiling/RunCucumberTest.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/ExtractDocumentService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ExtractValidatedDocumentsSD.java
  tests/src/test/resources/features/extractValidatedDocuments.feature
Labels: QA, ai-reviewer

#1716 CSO search
  src/backend/efiling-api/src/main/resources/application.yml
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Clients.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingSearchService.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSearchServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/resources/wsdl/CSOSearch.asmx.wsdl
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoSearchServiceImpl/CaseNumberExistsTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, It's Working!, Mustard :spoon:, efiling-facade, hello there, java, jedi :star:, porkchop sandwiches

#1718 Take unused port
  docker-compose.yml
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, It's Working!, Label name, Mustard :spoon:, label, porkchop sandwiches

#1719 Registry notice test
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/DownloadRegistryNotice.java
  tests/src/test/resources/features/downloadRegistryNotice.feature
Labels: :cucumber: cucumber, QA, frontend-tests

#1720 Submission history
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionHistory.js
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionHistory.scss
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionHistory.stories.js
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionHistoryService.js
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionList.js
  src/frontend/efiling-frontend/src/domain/submission/submission-history/SubmissionList.scss
  src/frontend/efiling-frontend/src/domain/submission/submission-history/__snapshots__/SubmissionHistory.stories.storyshot
  src/frontend/efiling-frontend/src/domain/submission/submission-history/__tests__/SubmissionHistory.test.js
  src/frontend/efiling-frontend/src/domain/submission/submission-history/__tests__/__snapshots__/SubmissionHistory.test.js.snap
  src/frontend/efiling-frontend/src/modules/test-data/submissionHistoryTestData.js
Labels: GOTTA GO FAST, Mustard :spoon:, frontend, frontend-tests

#1721 added CCOR to document statuses requiring attention
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.scss
Labels: LARGE, Mustard :spoon:, frontend
