Repository bcgov/jag-file-submission, pull requests merged in 2021-07, with the labels that each got.

#2108 Rush Process for submission review
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewFilingPackage.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewRushOrder.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/RushDocument.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, OpenApi Change, READY FOR REVIEW, efiling-api, everything is awesome, handle it, hello there, java, jedi :star:, over1000, porkchop sandwiches

#2109 Adding country code lookup
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/lookup/CountriesApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/lookup/GetCountriesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/service/EfilingLookupService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/LookupItem.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoLookupServiceImpl.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoLookupService/GetCountriesTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-api, hello there, java, jedi :star:, label, lookup service, porkchop sandwiches

#2111 Update View All Package Subpath
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackagesByClientIdTest.java
Labels: efiling-api, testing

#2112 Adding rush document store
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStore.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/DocumentStoreImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UploadRushDocumentsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, OpenApi Change, efiling-api, hello there, java, jedi :star:, label, porkchop sandwiches

#2114 Adding role codes
  src/backend/efiling-api/jag-efiling-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, dependencies, hello there, java, jedi :star:, label, many tries, porkchop sandwiches

#2124 added 60 second timeout to axios call in Payment.js
  src/frontend/efiling-frontend/src/domain/payment/Payment.js
  src/frontend/efiling-frontend/src/domain/payment/__tests__/Payment.test.js
  src/frontend/efiling-frontend/src/modules/helpers/timeout.js
Labels: Mustard :spoon:, frontend

#2125 Fix text
  src/backend/efiling-api/jag-efiling-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-api, hello there, java, jedi :star:, label, porkchop sandwiches, yuge

#2126 Update withdraw statuses
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/DocumentList.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/DocumentList.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/src/modules/test-data/packageReviewTestData.js
Labels: Mustard :spoon:, frontend, frontend-tests

#2129 csobaseurl fix
  src/frontend/efiling-frontend/src/components/page/cso-account/__snapshots__/CSOAccount.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/cso-account/__tests__/__snapshots__/CSOAccount.test.js.snap
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/domain/payment/__tests__/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/domain/submission/submission-history/__snapshots__/SubmissionHistory.stories.storyshot
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
Labels: Mustard :spoon:, frontend, frontend-tests

#2128 Update adding additional fields
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/RushProcessingMapper.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/RushProcessing.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewRushOrder.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/DeleteSubmittedDocumentTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackagesByClientIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetReportTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetSubmissionDocumentTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingLookupServiceDemoImplTest.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-api, everything is awesome, hello there, java, jedi :star:, label, porkchop sandwiches

#2131 Add annotation
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/lookup/CountriesApiDelegateImpl.java
Labels: (⌐■_■)ノ＼(■_■ )

#2127 Document upload default radio buttons
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
Labels: Mustard :spoon:, frontend, frontend-tests

#2130 Assert Rush processing response
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackagesSD.java
  tests/src/test/resources/features/getFilingPackages.feature
Labels: :cucumber: cucumber, QA, backend-tests

#2132 Get countries endpoint test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/CountryService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetCountriesSD.java
  tests/src/test/resources/features/getCountries.feature
Labels: :cucumber: cucumber, QA, backend-tests

#2142 Env Template Update
  .env.template
Labels: documentation

#2143 remove set
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), 1 LOVE, :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :cucumber: cucumber, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, :watch: sync :watch:, Diligen, EXTREME DEVOPS, GOTTA GO FAST, Git Action, HUGE, Humongous big, It's Working!, LARGE, Label name, MONOLITHIC, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, NGINX, Onboarding, OpenApi Change, QA, READY FOR REVIEW, Stressful, TEAMWORK! (⌐■_■), ai-reviewer, apm, backend-demo, backend-tests, bug, ci/cd, collab, configuration, demo, dependencies, deploy, docker, documentation, dumb dumb, duplicate, efiling-account-client, efiling-admin, efiling-api, efiling-cso-starter, efiling-facade, efiling-reviewer-api, efiling-worker, enhancement, everything is awesome, file-submission-worker, frontend, frontend-tests, good first issue, handle it, hello there, help given, help wanted, invalid, java, javascript, jedi :star:, keycloak, label, logging, lookup service, many tries, openshift, over1000, pipeline, question, refactoring, refresh :arrows_counterclockwise:, release, requires openshift changes, splunk, status service, stellar, testing, that's a lot of code, tiny small, up for discussion, version, wontfix, wsdl, yuge

#2113 Adding rush processing to submission
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/util/RushMappingUtils.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/SubmissionApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/RushProcessingMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/jag-efiling-api.postman_collection.json
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/util/GetRushTypeTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/CreateSubmissionTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/FilingPackage.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoLookupServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/DocumentMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoLookupService/GetCountriesTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, READY FOR REVIEW, hello there, java, jedi :star:, porkchop sandwiches

#2147 Create rush processing test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/Keys.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/helpers/PayloadHelper.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/SubmissionService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AddRushProcessingSD.java
  tests/src/test/resources/features/addRushProcessing.feature
Labels: :cucumber: cucumber, QA, backend-tests

#2148 Adding reason text
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewRushOrder.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :badger: BADGER, :bicyclist: cash, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, EXTREME DEVOPS, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, java, jedi :star:, label, porkchop sandwiches

#2149 Front end validation for document names
  src/frontend/efiling-frontend/.storybook/preview.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.stories.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.test.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/domain/payment/__tests__/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/modules/test-data/documentTestData.js
Labels: enhancement, frontend, label

#2150 Adding courtDate and update unit tests
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/RushProcessing.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSubmissionServiceImpl.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoSubmissionServiceImpl/SubmitFilingPackageTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :3rd_place_medal:, :car:, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :racing_car:, :smile_cat: Cat, :vulcan_salute: QUARK, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, OpenApi Change, hello there, java, jedi :star:, label, porkchop sandwiches
