Repository bcgov/jag-file-submission, pull requests merged in 2021-02, with the labels that each got.

#1377 Bug/fix tests
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
Labels: QA, backend-tests, bug

#1372 Adding Document Endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetSubmissionDocumentTest.java
Labels: :badger: BADGER, :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-api, hello there, java, label, porkchop sandwiches

#1382 Added Documents tab content on SubmissionReview page
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.css
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.test.js.snap
Labels: frontend, frontend-tests

#1393 DocumentList, improved PropTypes
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
Labels: frontend, frontend-tests

#1398 Initial frontend setup with spring
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/AuthenticationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/Base.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageConfirmationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/GenerateUrlService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
  tests/src/test/resources/config.properties
  tests/src/test/resources/features/authenticateAndRedirectToEfilingHub.feature
Labels: :cucumber: cucumber, QA, frontend-tests, refactoring

#1381 Retrieve document from demo
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/model/SubmittedDocument.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetSubmissionDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/GetSubmissionSheetTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackage.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetSubmissionDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetSubmissionSheetTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/EfilingReviewService.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackagesByClientIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetSubmissionDocumentTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :pizza: :label:, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, demo, efiling-api, hello there, java, label

#1410 Map missing description
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
Labels: :pizza: :label:, bug, efiling-api

#1411 Initial reviewer app
  README.md
  src/backend/efiling-reviewer-api/README.md
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/EfilingReviewerApiApplication.java
  src/backend/efiling-reviewer-api/src/main/resources/application.yml
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/EfilingReviewerApiApplicationTests.java
  src/backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, Label name, efiling-reviewer-api, hello there, java, label, porkchop sandwiches

#1413 Add delete endpoint
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/DeleteSubmittedDocumentTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, Label name, OpenApi Change, efiling-api, hello there, java, label, porkchop sandwiches

#1415 Refactored document upload test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/bdd/CucumberHooks.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/config/BrowserScope.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/config/BrowserScopePostProcessor.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/AuthenticationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/Base.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/DocumentUploadPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageConfirmationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/uploadDocumentUsingUploadLinkSD.java
  tests/src/test/resources/features/authenticateAndRedirectToEfilingHub.feature
  tests/src/test/resources/features/uploadDocumentUsingUploadLink.feature
Labels: :cucumber: cucumber, QA, frontend-tests, refactoring

#1396 Added Documents tab content on SubmissionReview page
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.css
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.test.js.snap
Labels: frontend, frontend-tests

#1416 withdraw document demo
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingpackageApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfigTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/filingpackageApiDelegateImpl/DeleteSubmittedDocumentTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/DeleteSubmittedDocumentTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/EfilingReviewService.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/DeleteSubmissionDocumentRequest.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, OpenApi Change, java, porkchop sandwiches

#1420 CSS scoping fix
  src/frontend/efiling-frontend/craco.config.js
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.scoped.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.scoped.css
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.scoped.css
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.scoped.css
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.scoped.css
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.scoped.css
  src/frontend/efiling-frontend/yarn.lock
Labels: frontend

#1428 Deleted unused test classes
  tests/README.md
  tests/pom.xml
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CreateCsoAccountPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/createcsoaccountpayload/CsoPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/generateurlpayload/GenerateUrlPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backend/paymentpayload/PaymentPayload.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/APIResources.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/GenerateUrlHelper.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/backendutils/TestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/AuthenticationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/DocumentUploadPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/EFileSubmissionPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontend/pages/PackageConfirmationPage.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/DriverClass.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/FrontendTestUtil.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/frontendutils/JsonDataReader.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/CreateCsoAccountRequestBuilders.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/GenerateUrlRequestBuilders.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/LookUpRequestBuilders.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/requestbuilders/PaymentRequestBuilders.java
  tests/src/main/java/ca/bc/gov/open/jagefilingapi/qa/testdatatypes/CsoAccountGuid.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/helpers/TokenHelper.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
  tests/src/test/java/features/afrontendfeatures/eFileSubmission.feature
  tests/src/test/java/features/backendfeatures/1-generateUrlAndSubmissionForExistingGuid.feature
  tests/src/test/java/features/backendfeatures/2-generateUrlAndSubmissionForNonExistingGuid.feature
  tests/src/test/java/features/backendfeatures/3-updateAndDeleteDocument.feature
  tests/src/test/java/features/backendfeatures/createCsoAccount.feature
  tests/src/test/java/features/backendfeatures/generatePaymentUpdateCard.feature
  tests/src/test/java/features/backendfeatures/generateUrlAndSubmissionNegativeCases.feature
  tests/src/test/java/features/backendfeatures/getDocumentType.feature
  tests/src/test/java/stepDefinitions/backendstepdefinitions/CreateCsoAccountTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUpdateCardTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionForNonExistingGuidTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionNegativeTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GenerateUrlAndSubmissionTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/GetDocumentTypeTest.java
  tests/src/test/java/stepDefinitions/backendstepdefinitions/UpdateAndDeleteDocumentTest.java
  tests/src/test/java/stepDefinitions/frontendstepdefinitions/EFileSubmissionTest.java
  tests/src/test/resources/log4j2.properties
Labels: :cucumber: cucumber, QA, refactoring

#1419 Implement cso service
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/exceptions/EfilingReviewServiceException.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/DeleteSubmittedDocumentTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackagesByClientIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetSubmissionDocumentTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetSubmissionSheetTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, hello there, java, label, porkchop sandwiches

#1427 Remove withdrawn documents from array
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/Keys.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, java, label, porkchop sandwiches

#1431 Refactor Swagger (The Empire Strikes Back)
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/mappers/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/GetValidPartyRoleRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/GetValidPartyRoleRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GetValidPartyRolesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/UpdateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionStore/GetByKeyTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingSubmissionServiceDemoImplTest.java
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReviewService.test.js
  src/frontend/efiling-frontend/src/modules/test-data/documentTestData.js
  tests/src/test/java/ca/bc/gov/open/jag/efiling/helpers/PayloadHelper.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/CreatePaymentServiceSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackageSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UpdateDocumentPropertiesSD.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :cucumber: cucumber, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, TEAMWORK! (⌐■_■), efiling-api, frontend, hello there, java, javascript, label, porkchop sandwiches

#1432 Review package UI tests
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/AuthenticationPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/AuthenticateAndRedirectToEfilingHubSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UploadDocumentUsingUploadLinkSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewSubmittedPackageSD.java
  tests/src/test/resources/features/viewSubmittedPackage.feature
Labels: :cucumber: cucumber, QA, frontend-tests

#1448 Added step to address test failures
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
Labels: :cucumber: cucumber, QA

#1450 Add filing date
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, java, porkchop sandwiches

#1452 Withdraw tooltip
  node_modules/.yarn-integrity
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/DocumentList.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/tooltip/Tooltip.css
  src/frontend/efiling-frontend/src/domain/package/package-review/tooltip/Tooltip.js
  src/frontend/efiling-frontend/src/domain/package/package-review/tooltip/Tooltip.scoped.css
  src/frontend/efiling-frontend/src/domain/package/package-review/tooltip/Tooltip.stories.js
  src/frontend/efiling-frontend/src/domain/package/package-review/tooltip/__snapshots__/Tooltip.stories.storyshot
  src/frontend/efiling-frontend/src/modules/test-data/withdrawTooltipData.js
  src/frontend/efiling-frontend/yarn.lock
Labels: frontend, frontend-tests

#1453 Push Docker Image to Openshift Repository
  .github/workflows/dev-docker-image.yml
Labels: docker, openshift

#1454 Added wait strategy
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.test.js.snap
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
Labels: :cucumber: cucumber, QA, bug

#1458 Git Action to Build and Push Efiling API
  .github/workflows/dev-efiling-api-build.yaml
Labels: Git Action, docker, openshift

#1456 Rename Workflow File and Git Action
  .github/workflows/dev-efiling-admin-build.yml
Labels: Git Action

#1460 removed craco in favour of scss
  src/frontend/efiling-frontend/craco.config.js
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.scoped.css
  src/frontend/efiling-frontend/src/components/page/package-confirmation/PackageConfirmation.scss
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/package-confirmation/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/components/page/payment/Payment.js
  src/frontend/efiling-frontend/src/components/page/payment/Payment.scoped.css
  src/frontend/efiling-frontend/src/components/page/payment/Payment.scss
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/payment/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.scoped.css
  src/frontend/efiling-frontend/src/components/page/rush/Rush.scss
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/rush/__snapshots__/Rush.test.js.snap
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.scoped.css
  src/frontend/efiling-frontend/src/components/page/upload/Upload.scss
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.scoped.css
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.scss
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.scoped.css
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.scss
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/DocumentList.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/tooltip/Tooltip.css
  src/frontend/efiling-frontend/src/domain/package/package-review/tooltip/Tooltip.js
  src/frontend/efiling-frontend/src/domain/package/package-review/tooltip/Tooltip.scoped.css
  src/frontend/efiling-frontend/src/domain/package/package-review/tooltip/Tooltip.scss
Labels: frontend, frontend-tests

#1459 Modify Efiling API Build and Image Push
  .github/workflows/dev-efiling-api-build.yaml
  src/backend/efiling-api/pom.xml
Labels: Git Action

#1451 FLA-767 added confirm popup to withdrawl
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.scss
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.test.js.snap
Labels: frontend, frontend-tests

#1467 Adding long names demo data
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
Labels: (⌐■_■)ノ＼(■_■ )

#1457 fixed linting errors on Rush.js - removed console debug statements
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
Labels: frontend, frontend-tests

#1469 Logging external calls submit
  src/backend/libs/efiling-bambora-api-client/src/main/java/ca/bc/gov/open/jag/bambora/BamboraPaymentAdapter.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoSubmissionServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, hello there, java, logging, porkchop sandwiches

#1477 Adding AI Reviewer endpoints
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, OpenApi Change, efiling-reviewer-api, good first issue, hello there, java, label, porkchop sandwiches, up for discussion

#1465 Create dev-efiling-frontend-build.yaml
  .github/workflows/dev-efiling-frontend-build.yaml
Labels: Git Action

#1472 Dockerize efiling hub
  docker-compose.yml
  src/frontend/Dockerfile.legacy
  src/frontend/efiling-demo/Dockerfile
  src/frontend/efiling-demo/env.sh
  src/frontend/efiling-demo/nginx.conf
  src/frontend/efiling-frontend/.env.template
  src/frontend/efiling-frontend/Dockerfile
  src/frontend/efiling-frontend/README.md
  src/frontend/efiling-frontend/env.js
  src/frontend/efiling-frontend/env.sh
  src/frontend/efiling-frontend/nginx.conf
  src/frontend/efiling-frontend/public/index.html
  src/frontend/efiling-frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/src/index.js
Labels: docker

#1492 Add payment description (Document Type)
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, java, label, porkchop sandwiches

#1496 Get filing package by id tests
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/FilingPackageService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetFilingPackageByIdSD.java
  tests/src/test/resources/features/getFilingPackageById.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1491 moved header/footer outside of AuthenticationGuard
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
Labels: frontend, frontend-tests

#1494 Adding auto gen
  src/backend/efiling-reviewer-api/jag-reviewer-api.yaml
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, hello there, java, label, porkchop sandwiches

#1505 EFiling Reviewer API Git Action
  .github/workflows/dev-efiling-reviewer-api-build.yaml
Labels: Git Action, docker, openshift

#1506 Get submission sheet test
  tests/pom.xml
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/FilingPackageService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/getSubmissionSheetSD.java
  tests/src/test/resources/features/getSubmissionSheet.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1508 Docker Builds on push to master
  .github/workflows/dev-efiling-admin-build.yml
  .github/workflows/dev-efiling-api-build.yaml
  .github/workflows/dev-efiling-frontend-build.yaml
  .github/workflows/dev-efiling-reviewer-api-build.yaml
Labels: Git Action, docker, openshift

#1510 Refactored AuthenticationGuard in UI
  src/frontend/efiling-frontend/package.json
  src/frontend/efiling-frontend/src/App.js
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/home/Home.test.js
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/components/page/page.css
  src/frontend/efiling-frontend/src/domain/authentication/AuthenticationGuard.js
  src/frontend/efiling-frontend/src/domain/authentication/AuthenticationService.js
  src/frontend/efiling-frontend/src/domain/authentication/__tests__/AuthenticationService.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.stories.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PackageReview.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/yarn.lock
Labels: frontend, frontend-tests

#1512 Get document by Id
  tests/src/test/java/ca/bc/gov/open/jag/efiling/services/FilingPackageService.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetDocumentByDocumentIdSD.java
  tests/src/test/resources/features/getDocumentByDocumentId.feature
Labels: :cucumber: cucumber, QA, backend-tests

#1513 Payment status
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PaymentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/PaymentList.scss
  src/frontend/efiling-frontend/src/domain/package/package-review/__snapshots__/PackageReview.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/PaymentList.test.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PaymentList.test.js.snap
Labels: frontend

#1511 Post Document to Diligen
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/resources/application.yml
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/EfilingReviewerApiApplicationTests.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/libs/efiling-diligen-client-starter/pom.xml
  src/backend/libs/efiling-diligen-client-starter/src/main/java/ca/bc/gov/open/jag/efilingdiligenclientstarter/AutoConfiguration.java
  src/backend/libs/efiling-diligen-client-starter/src/main/java/ca/bc/gov/open/jag/efilingdiligenclientstarter/DiligenProperties.java
  src/backend/libs/efiling-diligen-client-starter/src/test/java/ca/bc/gov/open/jag/efilingdiligenclientstarter/AutoConfigurationTest.java
  src/backend/libs/efiling-diligen-client/diligen.api.yaml
  src/backend/libs/efiling-diligen-client/pom.xml
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/Keys.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenAuthService.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenAuthServiceImpl.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenProperties.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenService.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenServiceImpl.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/exception/DiligenAuthenticationException.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/exception/DiligenDocumentException.java
  src/backend/libs/efiling-diligen-client/src/test/java/ca/bc/gov/open/efilingdiligenclient/diligen/diligenAuthServiceImpl/GetDiligenJWTTest.java
  src/backend/libs/efiling-diligen-client/src/test/java/ca/bc/gov/open/efilingdiligenclient/diligen/diligenServiceImpl/PostDocumentTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, Diligen, GOTTA GO FAST, It's Working!, LARGE, Label name, MORE THAN MEETS THE EYE 🤖, OpenApi Change, efiling-reviewer-api, hello there, java, label, porkchop sandwiches

#1515 adding bcsc env to template
  src/frontend/efiling-frontend/.env.template
Labels: frontend

#1518 Adding controller advice to globally handle error
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/DiligenControllerAdvisor.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/DiligenControllerAdvisorTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, efiling-reviewer-api, hello there, java, label, porkchop sandwiches

#1520 pom fix
  src/backend/libs/efiling-bambora-api-client/pom.xml
  src/backend/libs/efiling-bom/pom.xml
  src/backend/libs/efiling-commons/pom.xml
  src/backend/libs/efiling-diligen-client/pom.xml
  src/backend/pom.xml
Labels: java

#1521 Adding identity provider to create
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/mappers/CreateAccountRequestMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountService.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/error/ErrorResponse.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/CsoAccountApiDelegateImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/account/service/AccountServiceImplTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfigTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/CreateAccountRequest.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoAccountServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoAccountServiceImpl/CreateAccountTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, efiling-api, efiling-facade, hello there, java, label, porkchop sandwiches

#1524 Payment status tab test
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewSubmittedPackageSD.java
  tests/src/test/resources/features/viewSubmittedPackage.feature
Labels: :cucumber: cucumber, QA, frontend-tests

#1528 FLA-759 filter keyDown on links to trigger on Enter only (not tab)
  src/frontend/efiling-frontend/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/rush/Rush.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.scss
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.stories.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/PackageConfirmation.test.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/domain/payment/Payment.js
  src/frontend/efiling-frontend/src/domain/payment/Payment.scss
  src/frontend/efiling-frontend/src/domain/payment/Payment.stories.js
  src/frontend/efiling-frontend/src/domain/payment/__snapshots__/Payment.stories.storyshot
  src/frontend/efiling-frontend/src/domain/payment/__tests__/Payment.test.js
  src/frontend/efiling-frontend/src/domain/payment/__tests__/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/modules/helpers/creditCardAlerts.js
Labels: bug, frontend, frontend-tests

#1527 FLA-761 set Not Assigned when court file number is null
  src/frontend/efiling-frontend/src/domain/package/package-review/PackageReview.js
Labels: bug, frontend, frontend-tests

#1529 Adding splunk to ai reviewer
  src/backend/efiling-api/pom.xml
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/efiling-reviewer-api/src/main/resources/application-splunk.yml
  src/backend/efiling-reviewer-api/src/main/resources/logback-spring.xml
  src/backend/libs/efiling-bom/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, efiling-reviewer-api, hello there, java, label, porkchop sandwiches, splunk

#1537 Adding get fileId to request
  src/backend/libs/efiling-diligen-client-starter/src/main/java/ca/bc/gov/open/jag/efilingdiligenclientstarter/AutoConfiguration.java
  src/backend/libs/efiling-diligen-client/diligen.api.yaml
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/Keys.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenService.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/DiligenServiceImpl.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/model/DiligenData.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/model/DiligenDocument.java
  src/backend/libs/efiling-diligen-client/src/main/java/ca/bc/gov/open/efilingdiligenclient/diligen/model/DiligenResponse.java
  src/backend/libs/efiling-diligen-client/src/test/java/ca/bc/gov/open/efilingdiligenclient/diligen/diligenServiceImpl/PostDocumentTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, It's Working!, Label name, MORE THAN MEETS THE EYE 🤖, hello there, java, label, porkchop sandwiches

#1554 Download document test
  src/frontend/efiling-frontend/src/domain/package/package-review/DocumentList.js
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/DocumentList.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-review/__tests__/__snapshots__/PackageReview.test.js.snap
  tests/src/test/java/ca/bc/gov/open/jag/efiling/TestConfig.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/page/PackageReviewPage.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/ViewSubmittedPackageSD.java
  tests/src/test/resources/features/viewSubmittedPackage.feature
Labels: :cucumber: cucumber, QA

#1557 fix issue with splunk
  .github/workflows/dev-efiling-reviewer-api-build.yaml
  docker-compose.yml
  src/backend/Dockerfile.efiling-reviewer-api
  src/backend/efiling-reviewer-api/src/main/resources/application-splunk.yml
  src/backend/efiling-reviewer-api/src/main/resources/logback-spring.xml
Labels: :badger: BADGER, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :smile_cat: Cat, Diligen, porkchop sandwiches, splunk

#1533 Validate Document
  src/backend/efiling-reviewer-api/pom.xml
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerDocumentException.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/AiReviewerVirusFoundException.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/error/ErrorCode.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/DiligenControllerAdvisor.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/DocumentsApiDelegateImpl.java
  src/backend/efiling-reviewer-api/src/main/java/ca/bc/gov/open/jag/efilingreviewerapi/utils/TikaAnalysis.java
  src/backend/efiling-reviewer-api/src/main/resources/application.yml
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/DiligenControllerAdvisorTest.java
  src/backend/efiling-reviewer-api/src/test/java/ca/bc/gov/open/jag/efilingreviewerapi/extract/documentsApiDelegateImpl/ExtractDocumentFormDataTest.java
  src/backend/efiling-reviewer-api/src/test/resources/test.txt
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, efiling-reviewer-api, hello there, java, label, porkchop sandwiches

#1559 Adding starter to docker compose
  src/backend/Dockerfile.efiling-reviewer-api
Labels: (⌐■_■)ノ＼(■_■ )

#1560 Adding starter to docker compose
  src/backend/Dockerfile.efiling-reviewer-api
Labels: (⌐■_■)ノ＼(■_■ ), dumb dumb

#1561 Fix docker compose for AI Reviewer
  docker-compose.yml
Labels: docker

#1562 Fix generate url endpoint
  .github/workflows/cucumber-tests.yml
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/models/GetValidPartyRoleRequest.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/document/documentApiDelegateImpl/GetDocumentTypesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/SubmissionTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/GetValidPartyRoleRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GenerateFromRequestTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/GetValidPartyRolesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/service/submissionServiceImpl/UpdateDocumentsTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/GetPackageInformationTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/submissionApiDelegateImpl/UpdateDocumentPropertiesTest.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
  src/frontend/efiling-demo/src/components/page/home/Home.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  tests/src/test/java/ca/bc/gov/open/jag/efiling/helpers/PayloadHelper.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/GetDocumentByDocumentIdSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/UpdateDocumentPropertiesSD.java
  tests/src/test/java/ca/bc/gov/open/jag/efiling/stepDefinitions/getSubmissionSheetSD.java
Labels: HUGE, Humongous big, LARGE, Mustard :spoon:, TEAMWORK! (⌐■_■), over1000, porkchop sandwiches, yuge

#1563 fixed css on Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/Upload.js
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.stories.storyshot
  src/frontend/efiling-frontend/src/components/page/upload/__snapshots__/Upload.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/__snapshots__/PackageConfirmation.test.js.snap
Labels: Mustard :spoon:

#1564 Implement receipt in demo mode
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/FilingPackageConfigTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/EfilingReviewService.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetPaymentReceiptTest.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :badger: BADGER, :bicyclist: cash, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :pizza: :label:, :smile_cat: Cat, GOTTA GO FAST, Label name, MORE THAN MEETS THE EYE 🤖, Mustard :spoon:, hello there, porkchop sandwiches

#1569 fix Generate Url endpoint should validate navigationUrls
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/validator/GenerateUrlRequestValidatorImplTest.java
Labels: :smile_cat: Cat, java

#1567 FLA-848 add all packages links to cso
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/mapper/FilingPackageMapper.java
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/FilingPackageService.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/TestHelpers.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/filingpackage/service/filingPackageServiceImpl/GetCSOFilingPackageTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/PackageLinks.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/submission/models/review/ReviewFilingPackage.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/Keys.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/FilePackageMapper.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/DeleteSubmittedDocumentTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackagesByClientIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetReportTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/GetSubmissionDocumentTest.java
  src/backend/libs/efiling-cso-starter/src/main/java/ca/bc/gov/open/jag/efilingcsostarter/config/AutoConfiguration.java
  src/backend/libs/efiling-demo-starter/src/main/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImpl.java
  src/backend/libs/efiling-demo-starter/src/test/java/ca/bc/gov/open/jag/efiling/demo/EfilingReviewServiceDemoImplTest.java
Labels: :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, Mustard :spoon:, backend-demo, java
