Repository bcgov/jag-file-submission, pull requests merged in 2023-02, with the labels that each got.

#2614 Adding document id
  src/backend/efiling-api/jag-efiling-api.yaml
  src/backend/efiling-api/src/main/java/ca/bc/gov/open/jag/efilingapi/submission/service/SubmissionServiceImpl.java
  src/backend/efiling-api/src/test/java/ca/bc/gov/open/jag/efilingapi/submission/models/FilingPakageTest.java
  src/backend/libs/efiling-commons/src/main/java/ca/bc/gov/open/jag/efilingcommons/model/Document.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/CsoReviewServiceImpl.java
  src/backend/libs/efiling-cso-client/src/main/java/ca/bc/gov/open/jag/efilingcsoclient/mappers/DocumentMapper.java
  src/backend/libs/efiling-cso-client/src/main/resources/wsdl/FilingFacade.wsdl
  src/backend/libs/efiling-cso-client/src/main/resources/wsdl/FilingStatusFacade.wsdl
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackageByIdTest.java
  src/backend/libs/efiling-cso-client/src/test/java/ca/bc/gov/open/jag/efilingcsoclient/csoReviewServiceImpl/FindPackagesByClientIdTest.java
  tests/src/test/resources/features/downloadRegistryNotice.feature
  tests/src/test/resources/features/viewAndDownloadReceipt.feature
  tests/src/test/resources/features/viewSubmittedPackage.feature
Labels: DO NOT MERGE, :pizza: :label:, :bicyclist: cash, :badger: BADGER, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :car:, :3rd_place_medal:

#2627 Exclude health probe from Standard Out
  src/backend/efiling-api/src/main/resources/logback-access.xml
Labels: efiling-api, java, It's Working!, (⌐■_■)ノ＼(■_■ ), :bicyclist: cash, :badger: BADGER, :cat: :cat2: :joy_cat: :smile_cat: :smirk_cat:, :fork_and_knife: fork, EXTREME DEVOPS, :car:

#2633 Text updates
  src/frontend/efiling-frontend/src/components/page/home/__snapshots__/Home.test.js.snap
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/PackageConfirmation.js
  src/frontend/efiling-frontend/src/domain/package/package-confirmation/__tests__/__snapshots__/PackageConfirmation.test.js.snap
  src/frontend/efiling-frontend/src/domain/payment/__tests__/__snapshots__/Payment.test.js.snap
  src/frontend/efiling-frontend/src/modules/helpers/sidecardData.js
  src/frontend/efiling-frontend/src/src/domain/package/package-confirmation/__snapshots__/PackageConfirmation.stories.storyshot
Labels: frontend
